<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
             <h:form>         
               <p:menu style="width: 100%">
                <p:submenu label="Acciones de empleado">
                    <p:menuitem value="Registrar trabajador(a)" action="#{empleadosController.prepareCreate()}" icon="ui-icon-plusthick"/>                             
                    <p:menuitem value="Lista de trabajadores(as)" action="/empleados/ListaEmpleados?faces-redirect=true" icon="ui-icon-person"/>
                    <p:menuitem value="Leer excel" action="#{empleadosController.lectura()}" icon="ui-icon-plusthick"/> 
                </p:submenu>
                <p:submenu label="Catalogos Relacionados">
                    <p:menuitem value="Tipos de trabajadores(as)" action="/Catalogos/TiposEmpleado/ListaTiposEmpleado?faces-redirect=true" icon="ui-icon-note" />
                    <p:menuitem value="Niveles de trabajadores(as)" action="/Catalogos/NivelesEmpleado/GestionNiveles?faces-redirect=true" icon="ui-icon-note"/>
                    <p:menuitem value="Administrar Ubicaciones" action="/Catalogos/UbicacionesEmpleado/GestionUbicaciones.xhtml?faces-redirect=true" icon="ui-icon-note"/>
                </p:submenu>
             
             </p:menu>
            </h:form>
            
</html>

