<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="Editar trabajador (a): #{empleadosController.selected.nombre} #{empleadosController.selected.apellido}"></h:outputText>
        </ui:define>
        <ui:define name="sidebar">
            <ui:include src="_sideBarEmpleados.xhtml"/>
        </ui:define>
        <ui:define name="headerContent">
            <div class="floatRight">
                <p:commandButton type="button"   value="Guardar" onclick="guardar();"/>
               <p:commandButton action="ListaEmpleados?faces-redirect=true" value="Regresar a la lista"/>
            </div>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <p:messages autoUpdate="true" />
            </h:panelGroup>
            <h:form>
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span6" style="margin-right: 5%">
                            <h:outputText class="lead" value="Información general"/>
                            <hr/>
                            <h:panelGrid styleClass="noSeleccionable" columns="2" style="width: 100%"  columnClasses="col30, col70">
                                <h:outputLabel value="Activo" for="activo"/>
                                <p:selectBooleanCheckbox id="activo" value="#{empleadosController.selected.activo}"/>
                                <h:outputLabel value="Cédula" for="cedula" />
                                <p:inputText  id="cedula" disabled="true" value="#{empleadosController.selected.cedula}" title="Cédula (No editable)" required="true" requiredMessage="El N° de cédula es requerida"/>
                                <h:outputLabel value="No. INSS" for="inss" />
                                <p:inputText id="inss" disabled="true" value="#{empleadosController.selected.inss}" title="Número Inss (No editable)" required="true" requiredMessage="El N° de INSS es requerido"/>                    
                                <h:outputLabel  value="Nombre" for="nombre" />
                                <p:inputText id="nombre"   value="#{empleadosController.selected.nombre}" title="Nombre (No editable)" required="true" requiredMessage="El nombre es requerido"/>
                                <h:outputLabel value="Apellido" for="apellido" />
                                <p:inputText id="apellido"  value="#{empleadosController.selected.apellido}" title="Apellido (No editable)" required="true" requiredMessage="El apellido es requerido"/>

                                 <h:outputLabel value="Jefe" for="inssJefe" />
                                 <p:selectOneMenu id="inssJefe" value="#{empleadosController.selected.inssJefe}" filter="true" filterMatchMode="contains" required="true" requiredMessage="Seleccione el jefe">
                                    <f:selectItems value="#{empleadosController.listaEmpleados}" var="emp" itemDisabled="#{emp==empleadosController.selected}" />
                                 </p:selectOneMenu>

                                 <h:outputLabel value="Jefe de Area" for="inssJefearea" />
                                 <p:selectOneMenu id="inssJefearea" value="#{empleadosController.selected.inssJefearea}" filter="true" filterMatchMode="contains" required="true" requiredMessage="Seleccione el jefe de área">
                                    <f:selectItems value="#{empleadosController.listaEmpleados}" var="emp" itemDisabled="#{emp==empleadosController.selected}" />
                                 </p:selectOneMenu>

                                 <h:outputLabel value="Ubicación" for="ubicacion" />
                                <p:selectOneMenu id="ubicacion" filter="true" filterMatchMode="contains" value="#{empleadosController.selected.ubicacion}"  required="true" requiredMessage="La ubicación del trabajador(a) es requerida">          
                                    <f:selectItems value="#{ubicacionesController.listaUbicaciones}" var="ubicacion" itemValue="#{ubicacion}" itemLabel="#{ubicacion.descripcion}"/>
                                    <f:converter converterId="ubicacionesControllerConverter"/>
                                </p:selectOneMenu>

                                 <h:outputLabel value="Centro de Costo" for="centroCosto" />
                                 <p:selectOneMenu  id="centroCosto" filter="true" filterMatchMode="contains" value="#{empleadosController.selected.centroCosto}" required="true" requiredMessage="Seleccione el centro de costo">
                                       <f:selectItems value="#{centroDeCostosController.listaCentroDeCostos}" var="centroCosto" itemValue="#{centroCosto}" itemLabel="#{centroCosto.descripcion}"/>
                                       <f:converter converterId="centroCostosControllerConverter"/>
                                 </p:selectOneMenu>
                                 
                                <h:outputLabel value="Cargo" for="cargo" />
                                <p:selectOneMenu id="cargo" filter="true" filterMatchMode="contains" value="#{empleadosController.selected.idCargo}"  required="true" requiredMessage="La ubicación del trabajador(a) es requerida">
                                    <f:selectItems value="#{cargosController.listaCargos}" var="cargo" itemValue="#{cargo}" itemLabel="#{cargo.descripcion}"/>
                                    <f:converter converterId="cargosControllerConverter"/>
                                </p:selectOneMenu>
                                
                                <h:outputLabel value="Tipo trabajador(a)" for="tipoEmp" />
                                <p:selectOneMenu id="tipoEmp" filter="true" filterMatchMode="contains" value="#{empleadosController.selected.idTipoEmpleado}"  required="true" requiredMessage="La ubicación del trabajador(a) es requerida">
                                    <f:selectItems value="#{tiposEmpleadoController.listaTiposEmpleado}" var="tipoEmp" itemValue="#{tipoEmp}" itemLabel="#{tipoEmp.descripcion}"/>
                                    <f:converter converterId="tiposEmpleadoControllerConverter"/>
                                </p:selectOneMenu>

                                 <h:outputLabel value="Nivel" for="nivel" />
                                 <p:selectOneMenu id="nivel" filter="true" filterMatchMode="contains" value="#{empleadosController.selected.nivel}"  required="true" requiredMessage="El nivel del trabajador(a) es requerido">
                                     <f:selectItems value="#{nivelesController.listaNiveles}" var="nivel" itemValue="#{nivel}" itemLabel="#{nivel.descripcion}"/>
                                     <f:converter converterId="nivelesControllerConverter"/>
                                 </p:selectOneMenu>
                            </h:panelGrid>
                         </div>
                         <div class="span5 ">
                            <h:outputText class="lead" value="Información de inicio de sesión"/>
                            <hr/>
                            <br/>
                            <h:panelGrid styleClass="noSeleccionable" columns="2" style="width: 100%" columnClasses="col40,col60">                       
                                <h:outputText value="Id usuario" />
                                <p:inputText disabled="true"  value="#{empleadosController.selected.usuarios.idUsuario}" required="true" requiredMessage="El Id de usuario es requerido"/>
                                <h:outputText value="Contraseña" />
                                <p:inputText  value="#{empleadosController.selected.usuarios.clave}" required="true" requiredMessage="La contraseña de inicio de sesión del trabajador(a) es requerida"/>
                                <h:outputText value="Roles de usuario"/>
                                <p:selectManyCheckbox  value="#{empleadosController.selected.usuarios.rolesCollection}"   layout="pageDirection" converter="rolesConverter">
                                    <f:selectItems value="#{rolesController.listaRolesParaEmpleados}"   var="rol" itemValue="#{rol}"  itemLabel="#{rol.descripcion}"/>
                                    <f:selectItems value="#{rolesController.listaRolesParaNoEmpleados}"   var="rol2" itemValue="#{rol2}" itemLabel="#{rol2.descripcion}"/>
                                </p:selectManyCheckbox> 
                            </h:panelGrid>

                        </div>
                    </div>
                </div>
                <p:remoteCommand action="#{empleadosController.update()}" name="guardar"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
