<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:jr="http://jasperreportjsf.sf.net/tld/jasperreports-jsf-1_2.tld"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="Lista de Trabajadores (as)"></h:outputText>
        </ui:define>l
        <ui:define name="sidebar">
            <ui:include src="_sideBarEmpleados.xhtml"/>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <p:messages autoUpdate="true"/>
                </h:panelGroup>
                <p:dataTable rendered="true" value="#{empleadosController.listaEmpleados}" filteredValue="#{empleadosController.listaEmpleadosFiltrados}" var="item" paginator="true"
                              rows="12"  emptyMessage="No hay empleados que mostrar">                
                                
                    
                    <p:column style="white-space: pre-line" filterBy="#{item.cedula}" filterMatchMode="contains">
                            <f:facet name="header">
                                <h:outputText value="Cédula"/>
                            </f:facet>
                            <h:outputText value="#{item.cedula}"/>
                        </p:column>
                        
                        
                    <p:column style="white-space: pre-line" filterBy="#{item.nombre} #{item.apellido}" filterMatchMode="contains" filterStyle="width:80%">
                            <f:facet name="header">
                                <h:outputText value="Nombre"/>
                            </f:facet>
                            <h:outputText value="#{managedBeanUtil.estandarizarNombre(item.nombre)} #{managedBeanUtil.estandarizarNombre(item.apellido)}"/>
                        </p:column>
                      
                        <p:column style="white-space: pre-line" filterBy="#{item.centroCosto.descripcion}" filterMatchMode="contains" filterStyle="width:80%">
                            <f:facet name="header">
                                <h:outputText value="Área"/>
                            </f:facet>
                            <h:outputText value="#{item.centroCosto.descripcion}"/>
                        </p:column>
                        
                        
                    <p:column style="white-space: pre-line" filterBy="#{item.ubicacion.descripcion}" filterMatchMode="contains" filterStyle="width:80%">
                            <f:facet name="header">
                                <h:outputText value="Ubicación"/>
                            </f:facet>
                            <h:outputText value="#{item.ubicacion.descripcion}"/>
                        </p:column>

                        <p:column style="white-space: pre-line" filterBy="#{item.inssJefearea.nombre} #{item.inssJefearea.apellido}" filterMatchMode="contains" filterStyle="width:80%">
                            <f:facet name="header">
                                <h:outputText value="Jefe de Área"/>
                            </f:facet>
                            <h:outputText value="#{managedBeanUtil.estandarizarNombre(item.inssJefearea.nombre)} #{managedBeanUtil.estandarizarNombre(item.inssJefearea.apellido)}"/>
                        </p:column>
                                               
                        
                    <p:column headerText="Acciones">
                        <p:commandButton ajax="false" title="Ver" icon="ui-icon-search" action="VerEmpleado?faces-redirect=true">
                                <f:setPropertyActionListener value="#{item}" target="#{empleadosController.selected}"/>
                         </p:commandButton>
                        <p:commandButton ajax="false" title="Editar" icon="ui-icon-pencil" action="EditarEmpleado?faces-redirect=true">
                                <f:setPropertyActionListener value="#{item}" target="#{empleadosController.selected}"/>
                        </p:commandButton>
                    </p:column>
                    </p:dataTable>                    
                
                <br />               
                
            </h:form>
        </ui:define>
    </ui:composition>

</html>
