<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="Detalle de: #{empleadosController.selected.nombre} #{empleadosController.selected.apellido}"></h:outputText>
        </ui:define>
        <ui:define name="sidebar">
            <ui:include src="_sideBarEmpleados.xhtml"/>
        </ui:define>
        <ui:define name="headerContent">
            <div class="floatRight">
                <p:commandButton   value="Editar" action="EditarEmpleado?faces-redirect=true"/>
               <p:commandButton action="ListaEmpleados?faces-redirect=true" value="Regresar a la lista"/>
            </div>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
               <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span6" style="margin-right: 5%">
                            <h:outputText class="lead" value="Información general"/>
                            <hr/>
                            <h:panelGrid cellpadding="5"  columns="2" style="width: 100%"  columnClasses="col30, col70">
                                <h:outputText styleClass="campo" value="Activo"/>
                                <p:selectBooleanCheckbox id="activo" disabled="true" value="#{empleadosController.selected.activo}"/>
                               
                                <h:outputText styleClass="campo" value="Cédula"/>
                                <h:outputText  id="cedula"  value="#{empleadosController.selected.cedula}"/>
                              
                                <h:outputText styleClass="campo"  value="No. INSS" />                                
                                <h:outputText id="inss" value="#{empleadosController.selected.inss}"/>                    
                                
                                <h:outputText styleClass="campo"  value="Nombre"/>
                                <h:outputText id="nombre"   value="#{empleadosController.selected.nombre}"/>
                               
                                <h:outputText  styleClass="campo" value="Apellido" />
                                <h:outputText id="apellido"  value="#{empleadosController.selected.apellido}"/>

                                <h:outputText styleClass="campo" value="Jefe" />
                                 <h:outputText id="inssJefe" value="#{empleadosController.selected.inssJefe.nombre} #{empleadosController.selected.inssJefe.apellido}" />

                                 <h:outputText styleClass="campo" value="Jefe de Area"/>
                                 <h:outputText id="inssJefearea" value="#{empleadosController.selected.inssJefearea.nombre} #{empleadosController.selected.inssJefearea.apellido}" />

                                 <h:outputText styleClass="campo" value="Ubicación" />
                                 <h:outputText id="ubicacion" value="#{empleadosController.selected.ubicacion.descripcion}" />

                                 <h:outputText styleClass="campo" value="Centro de Costo"/>
                                 <h:outputText  id="centroCosto" value="#{empleadosController.selected.centroCosto.descripcion}" />
                                 
                                <h:outputText  styleClass="campo" value="Cargo" />
                                <h:outputText id="cargo" value="#{empleadosController.selected.idCargo.descripcion}"  />
                                
                                <h:outputText styleClass="campo" value="Tipo trabajador(a)"  />
                                <h:outputText id="tipoEmp"  value="#{empleadosController.selected.idTipoEmpleado.descripcion}" />

                                 <h:outputText  styleClass="campo" value="Nivel de trabajador(a)" />
                                 <h:outputText id="nivel" value="#{empleadosController.selected.nivel.descripcion}" />
                            </h:panelGrid>
                         </div>
                         <div class="span5 ">
                            <h:outputText class="lead" value="Información de inicio de sesión"/>
                            <hr/>
                            <br/>
                            <h:panelGrid  cellpadding="8" columns="2" style="width: 100%" columnClasses="col40,col60">                       
                                <h:outputText  value="Mostrar Contraseña"/>
                                <p:selectBooleanCheckbox value="#{usuariosController.viewPass}" >
                                    <p:ajax update="@form"/>
                                </p:selectBooleanCheckbox>
                                
                                <h:outputText styleClass="campo" value="Id usuario" />
                                <h:outputText  value="#{empleadosController.selected.usuarios.idUsuario}"/>
                                                                                                
                                <h:outputText styleClass="campo" value="Contraseña"/>
                                <h:outputText value="#{empleadosController.selected.usuarios.clave}" rendered="#{usuariosController.viewPass}"/>
                                <h:outputText value="***************" rendered="#{!usuariosController.viewPass}"/>
                               
                                <h:outputText styleClass="campo" value="Roles del Usuario"/>
                                <h:panelGroup>
                                    <c:forEach items="#{usuariosController.selected.rolesCollection}" var="rol" varStatus="status" >
                                        <hr/>    
                                        <h:outputText value="+ #{rol.descripcion}"/><br/>

                                    </c:forEach>
                                </h:panelGroup>
                            </h:panelGrid>

                        </div>
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
