<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="title">
       Catálogo Tipos de Empleado
    </ui:define>

    <ui:define name="sidebar">
        <ui:include src="/Catalogos/_sideBarCatalogos.xhtml"/> 
    </ui:define>
    
    <ui:define name="body">
     
        <h:form id="principal" style="width: 100%">
            <div style="width: 30%;float: left;">   
                <p:dataTable value="#{tiposEmpleadoController.listaTiposEmpleado}" selection="#{tiposEmpleadoController.current}" var="tipoEmp" emptyMessage="No existen tipos de empleado registrados" selectionMode="single" rowKey="#{tipoEmp}">
                    
                    <f:facet name="header">
                        Lista de tipos de empleados registrados <p:commandButton value="Ver Empleados" update=":principal"/> 
                    </f:facet>
                    <p:column >
                        #{tipoEmp.descripcion}
                    </p:column>   
                </p:dataTable>
            </div>
            
            <div style="width: 60%;float: left;margin-left: 5%">
                <h:panelGroup rendered="#{tiposEmpleadoController.current.descripcion==null}" >
                    <div class="alert alert-info">
                        <h:outputText value="Seleccione un Tipo de empleado y presione el boton 'Ver empleados' para ver los Empleados Relacionados"/>
                    </div>
                </h:panelGroup>
                <p:dataTable value="#{tiposEmpleadoController.current.empleadosList}" var="emp" rendered="#{tiposEmpleadoController.current.descripcion!=null}" emptyMessage="No existen empleados de tipo #{tiposEmpleadoController.current.descripcion}">
                    <f:facet name="header">
                        Empleados de tipo #{tiposEmpleadoController.current.descripcion}
                    </f:facet>
                    <p:column headerText="Cédula" >
                        #{emp.cedula}
                    </p:column> 
                    <p:column headerText="Nombre">
                        #{emp.nombre}
                    </p:column> 
                    <p:column headerText="Apellidos">
                        #{emp.apellido}
                    </p:column> 
                    <p:column headerText="Ubicación">
                        #{emp.ubicacion.descripcion}
                    </p:column>  
                </p:dataTable>
            </div>
        </h:form>       
        
    </ui:define>

</ui:composition>
