<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="Centros de costos"/>
        </ui:define>
        
        <ui:define name="sidebar">
               <ui:include src="/Catalogos/_sideBarCatalogos.xhtml"/>   
        </ui:define>
        
        <ui:define name="headerContent">
            
        </ui:define>                        
        
        <f:event type="preRenderView" listener="#{centroDeCostosController.prepararVista()}"/>
        
        
        
        <ui:define name="body">
            <p:growl autoUpdate="true" id="mgrowl" />
            <h:form id="registroCentro"> 
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span5">
                            <h:panelGrid columns="2">
                            <h:outputLabel value="identificador del centro" for="idCentrocostos" />
                            <p:inputText validatorMessage="Error la estructura del identificador." 
                                         id="idCentrocostos" 
                                         value="#{centroDeCostosController.selected.idCentrocostos}"                                          
                                         required="true" requiredMessage="Debe asignar un identificador">
                                <f:validateRegex pattern="(\d\d\.)+"/>
                            </p:inputText>

                            <h:outputLabel value="#{bundle.CreateCentroDeCostosLabel_descripcion}" for="descripcion" />
                            <h:inputTextarea rows="4" cols="30" id="descripcion" 
                                             value="#{centroDeCostosController.selected.descripcion}" 
                                             required="true" 
                                             requiredMessage="debe agregar una descripción para el centro de costos, 
                                                              lo cual corresponde a su nombre"/>

                            <p:commandButton action="#{centroDeCostosController.create()}"  oncomplete=":dialogoNuevoCentro.show()" value="Registrar" ajax="true" update=":registroCentro">                        
                            </p:commandButton>
                            </h:panelGrid>
                            </div>
                        <div class="span7">
                            <div style="background-color: #d8d5bd; border-radius: 3px !important; padding: 10px !important;">
                                <h3 class="myLead">Estructura del identificador</h3>
                                <hr />
                                <p style="font-size: 10 !important; text-align: justify !important">
                                        El identificador del centro de costos debe tener una estructura basada
                                        en dos digitos (del 0 al 9, siendo el primero siempre mayor que cero)
                                        con un punto finalizando el identificador. Lo anterior podra ser repetido una
                                        o mas veces según cómo se desea el identificador.
                                        
                                        Ejemplos de centros de costos son:                                        
                                        <ul>
                                            <li>10.00</li>
                                            <li>20.00</li>
                                            <li>30.30</li>
                                        </ul>
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
                    
                
                
            </h:form>
                        
            
            <h:form id="FormuTabla">
                <p:dataTable editable="true" editMode="cell"  id="centros" paginator="true"
                             value="#{centroDeCostosController.listaCentroDeCostos}" var="centro"
                             filteredValue="#{centroDeCostosController.listaCentroDeCostosFiltrados}"
                             rows="10">
                    <f:facet name="header">
                        Centros de Costos
                    </f:facet>                                                                       


                    <p:column  headerText="Identificador" filterBy="#{centro.idCentrocostos}" filterMatchMode="startsWith">
                             #{centro.idCentrocostos}
                    </p:column>
   
                    <p:column headerText="Descripción" filterBy="#{centro.descripcion}" filterMatchMode="startsWith">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{centro.descripcion}"/>
                            </f:facet>                        
                            <f:facet name="input">
                                <p:inputText value="#{centro.descripcion}"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    
                    <p:column headerText="acciones">
                                                
                        <p:commandButton icon="ui-icon-trash" rendered="#{!centroDeCostosController.existenEvaluacions_para_centro(centro)}" value="eliminar" oncomplete="dlgEliminar.show()">
                            <f:setPropertyActionListener value="#{centro}" target="#{centroDeCostosController.selected}"/>
                        </p:commandButton>     
                        
                        <p:commandButton icon="ui-icon-pencil" value="actualizar" action="#{centroDeCostosController.update()}" update=":FormuTabla, :registroCentro">
                            <f:setPropertyActionListener value="#{centro}" target="#{centroDeCostosController.selected}"/>
                        </p:commandButton>  
                    </p:column>

                </p:dataTable> 
            </h:form>       
            
            <p:dialog header="eliminar centro de costos" id="dialogoElim_Centro_Costo" widgetVar="dlgEliminar"  modal="true" closable="false" appendToBody="true">
                <h:form id="formuEliminar">
                    <p:outputLabel><p>Está seguro que desea eliminar el centro de costos #{centroDeCostosController.selected.descripcion}?</p></p:outputLabel>
                    <p:commandButton value="Si" actionListener="#{centroDeCostosController.destroy()}" update=":registroCentro, :FormuTabla" oncomplete="dlgEliminar.hide()"/>
                    <p:commandButton value="No"  actionListener="#{centroDeCostosController.prepararVista()}" oncomplete="dlgEliminar.hide()" update=":registroCentro, :FormuTabla"/>
                </h:form>
            </p:dialog>
            
        </ui:define>
    </ui:composition>

</html>
