<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditRolesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditRolesLabel_idRol}" for="idRol" />
                    <h:inputText id="idRol" value="#{rolesController.selected.idRol}" title="#{bundle.EditRolesTitle_idRol}" required="true" requiredMessage="#{bundle.EditRolesRequiredMessage_idRol}"/>
                    <h:outputLabel value="#{bundle.EditRolesLabel_descripcion}" for="descripcion" />
                    <h:inputText id="descripcion" value="#{rolesController.selected.descripcion}" title="#{bundle.EditRolesTitle_descripcion}" />
                </h:panelGrid>
                <h:commandLink action="#{rolesController.update}" value="#{bundle.EditRolesSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditRolesViewLink}"/>
                <br />
                <h:commandLink action="#{rolesController.prepareList}" value="#{bundle.EditRolesShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditRolesIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
