<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListRolesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListRolesEmpty}" rendered="#{rolesController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{rolesController.items.rowCount > 0}">
                    <h:outputText value="#{rolesController.pagination.pageFirstItem + 1}..#{rolesController.pagination.pageLastItem + 1}/#{rolesController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{rolesController.previous}" value="#{bundle.Previous} #{rolesController.pagination.pageSize}" rendered="#{rolesController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{rolesController.next}" value="#{bundle.Next} #{rolesController.pagination.pageSize}" rendered="#{rolesController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{rolesController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRolesTitle_idRol}"/>
                            </f:facet>
                            <h:outputText value="#{item.idRol}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRolesTitle_descripcion}"/>
                            </f:facet>
                            <h:outputText value="#{item.descripcion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{rolesController.prepareView}" value="#{bundle.ListRolesViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{rolesController.prepareEdit}" value="#{bundle.ListRolesEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{rolesController.destroy}" value="#{bundle.ListRolesDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{rolesController.prepareCreate}" value="#{bundle.ListRolesCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListRolesIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
