<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewRolesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewRolesLabel_idRol}"/>
                    <h:outputText value="#{rolesController.selected.idRol}" title="#{bundle.ViewRolesTitle_idRol}"/>
                    <h:outputText value="#{bundle.ViewRolesLabel_descripcion}"/>
                    <h:outputText value="#{rolesController.selected.descripcion}" title="#{bundle.ViewRolesTitle_descripcion}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{rolesController.destroyAndView}" value="#{bundle.ViewRolesDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewRolesEditLink}"/>
                <br />
                <h:commandLink action="#{rolesController.prepareCreate}" value="#{bundle.ViewRolesCreateLink}" />
                <br />
                <h:commandLink action="#{rolesController.prepareList}" value="#{bundle.ViewRolesShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewRolesIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
