<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../WEB-INF/PlantillaEvaluacion.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html">
    
    

    <ui:define name="title">
        ERROR
    </ui:define>

    <ui:define name="top">
        <h:outputStylesheet name="css/bootstrap.min.css"/>
        No se permite acceder al sistema de evaluación
    </ui:define>

    <ui:define name="content">
        <div class="alert alert-error">
        <h3>Información del error:</h3> 
        <h:panelGroup rendered="#{param.tipo == null}">    
            <h:outputText styleClass="lead" value="Lo sentimos, no hay información del error" /> <br />        
        </h:panelGroup>
        <h:panelGroup rendered="#{param.tipo == 'instrumentosSinDefinir'}">    
            <h:outputText styleClass="lead" value="En estos momentos no se han definido los instrumentos de evaluación" /> <br />        
        </h:panelGroup>
            
        <h:panelGroup rendered="#{param.tipo == 'periodoError'}" >  
             <h:outputText styleClass="lead" value="Actualmente no existe un periodo de evaluación vigente" />
        </h:panelGroup>
        
        <h:panelGroup rendered="#{param.tipo == 'nivelNull'}" >  
            <h:outputText styleClass="lead" value="Actualmente usted no puede evaluar porque no tiene definido un nivel de Empleado" />
           
        </h:panelGroup>
            
       <h:panelGroup rendered="#{param.tipo == 'empleadoInactivo'}" >  
            <h:outputText styleClass="lead" value="En estos momentos su usuario está inactivo" />
           
        </h:panelGroup>
        
        </div>
        
        <div class="row-fluid" >
            <div class="span6" style="vertical-align: middle; margin-top: 10%">
 
                <h3 style=" text-align: justify;">Si el problema persiste. Favor acudir a Recursos Humanos o ponerse en contacto con el administrador del sistema.</h3>
            </div>
            
            <div class="span6" align="right" >
                <h:graphicImage value="/resources/img/soporte.png" /> 
            </div>  
        
        
        </div>
        
        
       
        <h:messages />
    </ui:define>

</ui:composition>
