<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../WEB-INF/PlantillaEvaluacion.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core">
    


    <ui:define name="title">
        Evaluacion
    </ui:define>

    <ui:define name="top">
        <h:outputStylesheet name="style.css"/>
       <f:metadata>
            <f:event type="preRenderView" listener="#{evaluacionController.preRenderRealizarEvaluacion()}" />
       </f:metadata>
       <h:outputText  value="#{evaluacionController.infoEvaluado}" />
    </ui:define>
    <ui:define name="content">
       <h:form id="form" >

               <p:messages globalOnly="true" id="m"  autoUpdate="true"/>      
               <p:panelGrid styleClass="completeWidth">
                   <f:facet name="header">                       
                       <p:row>    
                         <p:column colspan="2">Conteste las siguiente preguntas de seleccion unica</p:column>         
                       </p:row>
                   </f:facet>
               </p:panelGrid>
               <h:panelGroup>
            <c:forEach items="#{evaluacionController.listaCriteriosTipoEmpleado}" var="criterio" varStatus="statusCriterio">
                <p:panelGrid  styleClass="colPreg completeWidth" columns="2"    columnClasses="col50 colPreguntas,col50">
                      <f:facet name="header">
                          <h:outputText styleClass="lead" value="#{statusCriterio.index+1}. #{criterio.descripcion}"/>
                      </f:facet>
                    <c:forEach items="#{criterio.preguntaCerradaCollection}" var="pregunta" varStatus="preguntaStatus">
                        <c:set var="dpc" value="#{evaluacionController.obtenerDetalleEvaNivelPregunta(pregunta)}"/>
                        <c:set var="indiceRPC" value="#{evaluacionController.indicesRPC.get(pregunta.idPregunta)}"/>

                        <h:outputText value="#{dpc.descripcion}" />                                 
                        <p:selectOneRadio required="true"  styleClass="selectOneRadioColumn" value="#{evaluacionController.selected.respuestaPreguntaCerradaCollection.get(indiceRPC).escala}" >
                            <f:selectItems value="#{evaluacionController.escalasOrdenadas}" var="esc" itemValue="#{esc}" itemLabel="#{esc.descripcion}" />  
                        </p:selectOneRadio>
                    </c:forEach>
                  </p:panelGrid>
            </c:forEach>
               </h:panelGroup>
         <br/>
         <h:panelGroup>
         <p:panel header="Haga recomendaciones de cursos al evaluado" rendered="#{not empty evaluacionController.capacitaciones}">          
             <p:selectManyCheckbox styleClass="noSeleccionable"  value="#{evaluacionController.capacitacionesSeleccionadas}" converter="capacitacionesConverter"  layout="pageDirection">  
                 <f:selectItems  value="#{evaluacionController.capacitaciones}" var="capa" itemLabel="#{capa.descripcion}" itemValue="#{capa}"/>
             </p:selectManyCheckbox>            
         </p:panel>
         </h:panelGroup>
         <br/>
         <br/>
         <h:panelGroup>
             
         <p:panel header="Conteste las siguientes preguntas abiertas" rendered="#{not empty evaluacionController.listaRespuestasPreguntasAbierta}">
              <h:panelGrid columns="2" cellpadding="5"  style="width: 100%" columnClasses="c1,c2" >
                  <c:forEach items="#{evaluacionController.listaRespuestasPreguntasAbierta}" var="resPregAbierta" varStatus="index">               
                      <h:outputText value="#{index.index+1}. #{resPregAbierta.preguntaAbierta.descripcion}"/>                                   
                      <p:inputTextarea value="#{resPregAbierta.descripcion}" style="width: 100%" required="false" requiredMessage="El campo #{index.index+1} no puede quedar vacío"/>                  
                  </c:forEach>
              </h:panelGrid>
         </p:panel>
             
         </h:panelGroup>
                  <br/>
         



                  <p:commandButton update=":form" value="Guardar" onstart="bui.show()" oncomplete="if (!args.validationFailed)confirmDlg.show(); else {erroresValidacion.show()}" styleClass="floatRight" />
        <p:remoteCommand  action="#{evaluacionController.create()}" name="guardar"  onerror="confirmDlg.hide();" oncomplete="confirmDlg.close();" />
         
        <p:confirmDialog  message="¿Seguro que desea guardar la evaluación?" widgetVar="confirmDlg" appendToBody="true" showEffect="fade" hideEffect="fade">  
             <p:commandButton update="panelEvaluacion" type="button" value="Si"  styleClass="ui-confirmdialog-yes" icon="ui-icon-check" onclick="guardar();" />  
             <p:commandButton ajax="false" value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" onclick="confirmDlg.hide();"/>       
         </p:confirmDialog> 
        <p:dialog header="Error de validación" widgetVar="erroresValidacion" modal="true" appendToBody="true">
            <div class="alert alert-error ">
                <h:outputText styleClass="lead" value="Hay preguntas sin contestar"/><br/>
                  <h:outputText value="Por favor, asegúrese de contestar todas las preguntas"/>
             </div>
            <hr/>
            <p:commandButton styleClass="floatRight" value="Aceptar" type="button" onclick="erroresValidacion.hide()"/>
        </p:dialog>
        
        <p:blockUI block=":form" widgetVar="bui">             
            <p:graphicImage  value="../resources/img/loadingGif.gif"/>  
        </p:blockUI>  

       </h:form>
     </ui:define>
  
</ui:composition>