<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      template="./../WEB-INF/PlantillaEvaluacion.xhtml"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
   
     <f:metadata>
         <f:event listener="#{evaluacionController.preSeleccionarPeriodoEvaluacion()}" type="preRenderView"/>
     </f:metadata>  
    
    <ui:define name="title">
        Evaluaciones pendientes por periodo
    </ui:define>

    <ui:define name="top">
        <c:set var="existenPeriodos" value="#{periodoController.listaPeriodos==null}"/>
        <h:panelGrid columns="2"  rendered="#{!existenPeriodos}" styleClass="noSeleccionable">
            <p:selectOneMenu rendered="#{!existenPeriodos}" value="#{evaluacionController.periodoEvaluacion}">
                <f:selectItems value="#{periodoController.listaPeriodos}" var="periodo" itemValue="#{periodo}" itemLabel="#{periodo.descripcion}"/>
                <p:ajax update=":form"/>
            </p:selectOneMenu>
        </h:panelGrid>
    </ui:define>

    <ui:define name="content">
        <h:form id="form" >            
            <h:panelGroup rendered="#{!existenPeriodos}">
                <div class="alert alert-error">
                    <h2><h:outputText  value="No existen periodos de evaluación"/></h2>
                    <h:outputText class="lead" value="Para consultar evaluaciones pendientes deben existir periodos de evaluación"/>
                </div>
            </h:panelGroup>
            <h:panelGroup rendered="#{existenPeriodos}">

                <p:panel header="Evaluaciones de subordinados pendientes">
                    <p:dataTable rendered="#{evaluacionController.evaluacionesSubordinadosPendientes.size()>0}" var="empleado" value="#{evaluacionController.evaluacionesSubordinadosPendientes}">
                        <p:column headerText="Evaluador">
                            <h:outputText value="#{empleado.inssJefearea.nombre} #{empleado.inssJefearea.apellido}"/>
                        </p:column>
                        <p:column headerText="Empleado">
                            <h:outputText value="#{empleado.nombre} #{empleado.apellido}"/>
                        </p:column>

                    </p:dataTable>
                </p:panel>
                <p:panel header="Autoevaluaciones pendientes">
                    <p:dataTable rendered="#{evaluacionController.autoevaluacionesPendientes.size()>0}" var="emp" value="#{evaluacionController.autoevaluacionesPendientes}">
                        <p:column headerText="Empleado">
                            <h:outputText value="#{emp.nombre} #{emp.apellido}"/>
                        </p:column>
                    </p:dataTable>
                </p:panel>
            </h:panelGroup>
        </h:form>
    </ui:define>

</ui:composition>
