<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

    <ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                     xmlns:ui="http://java.sun.com/jsf/facelets"                     
                     template="./../WEB-INF/PlantillaEvaluacion.xhtml"
                     xmlns:h="http://java.sun.com/jsf/html"
                     xmlns:f="http://java.sun.com/jsf/core"
                     xmlns:p="http://primefaces.org/ui">
        
        <ui:define name="title">
            Seleccion de Evaluación                       
        </ui:define>
        
        <ui:define name="top">
           <f:metadata>
               <f:event type="preRenderView" listener="#{evaluacionController.preRenderSeleccionEvaluacion()}"/>
            </f:metadata>
       
            <h:outputText value="Selección de Evaluación" class="tittleTop"/>
        </ui:define>
        

        <ui:define name="content">
                 <p:messages />
                 <h3 class="subtittleEvaluacion"> Evaluaciones organizadas por jerarquía de empleados  </h3>        
                
                 <h:form > 
                    <br/><br/>
                     <!--Autoevaluacion -->
                     <p:panel header="Autoevaluación"  >
                         <h:panelGrid columns="3" columnClasses="col40,col30,col30" style="width: 100%;text-align: right"  >
                                
                             <h:outputText value="#{sessionMB.currentUser.empleados.nombre}"/>
                             <h:outputText value="#{sessionMB.currentUser.empleados.apellido}"/>
                                
                        <p:commandLink value="Realizar Autoevaluación" style="color: #ff3333" action="#{evaluacionController.inicializarEvaluacion()}" rendered="#{!evaluacionController.existsEvaluacion(sessionMB.currentUser.empleados)}">
                            <f:setPropertyActionListener value="#{sessionMB.currentUser.empleados}" target="#{evaluacionController.selected.evaluado}"/>
                            <f:setPropertyActionListener value="#{niveles360Controller.nivelAutoEvaluacion}" target="#{evaluacionController.selected.idNivel360}"/>
                        </p:commandLink>
                        <p:commandLink value="Autoevaluación realizada"  action="ReporteEvaluacion?faces-redirect=true" rendered="#{evaluacionController.existsEvaluacion(sessionMB.currentUser.empleados)}">                        
                            <f:setPropertyActionListener value="#{evaluacionController.obtenerEvaluacionParaReporte(sessionMB.currentUser.empleados)}" target="#{evaluacionController.selected}"/>          
                        </p:commandLink>
                          </h:panelGrid>
                    </p:panel><br/>
                    
                   
                    <h:panelGroup rendered="#{evaluacionController.isCurrentLevel360Metod}">
                       <!--Evaluacion a superior -->
                       <p:panel header="Evaluacion Superior" rendered="#{!sessionMB.currentUser.empleados.inssJefearea.equals(sessionMB.currentUser.empleados)}" >
                            <h:panelGrid columns="3" columnClasses="col40,col30,col30" style="width: 100%;text-align: right" >
                                <h:outputText value="#{sessionMB.currentUser.empleados.inssJefearea.nombre}"/>
                                <h:outputText value="#{sessionMB.currentUser.empleados.inssJefearea.apellido}"/>

                                <p:commandLink value="Evaluar" style="color: #ff3333" action="#{evaluacionController.inicializarEvaluacion()}" rendered="#{!evaluacionController.existsEvaluacion(sessionMB.currentUser.empleados.inssJefearea)}">
                                     <f:setPropertyActionListener value="#{sessionMB.currentUser.empleados.inssJefearea}" target="#{evaluacionController.selected.evaluado}"/>
                                     <f:setPropertyActionListener value="#{niveles360Controller.nivelSuperior}" target="#{evaluacionController.selected.idNivel360}"/>
                                 </p:commandLink>
                                 <p:commandLink value="Evaluacion realizada" action="ReporteEvaluacion?faces-redirect=true" rendered="#{evaluacionController.existsEvaluacion(sessionMB.currentUser.empleados.inssJefearea)}">      
                                     <f:setPropertyActionListener value="#{evaluacionController.obtenerEvaluacionParaReporte(sessionMB.currentUser.empleados.inssJefearea)}" target="#{evaluacionController.selected}"/>
                                 </p:commandLink>
                            </h:panelGrid>
                         </p:panel><br/>

                     <!--Lista de Pares -->
                     <p:dataTable rendered="#{evaluacionController.paresEmp.size()>0}" var="emp" value="#{evaluacionController.paresEmp}">  
                        <f:facet name="header">
                           Evaluación a Pares
                        </f:facet>  
                         <p:column headerText="Nombre">  
                             <h:outputText value="#{emp.nombre}" />  
                         </p:column>  

                         <p:column headerText="Apellido">  
                             <h:outputText value="#{emp.apellido}" />  
                         </p:column>  

                         <p:column headerText="Cedula">  
                             <h:outputText value="#{emp.cedula}" />  
                         </p:column>  

                         <p:column>
                             <p:commandLink value="Evaluar" style="color: #ff3333" action="#{evaluacionController.inicializarEvaluacion()}" rendered="#{!evaluacionController.existsEvaluacion(emp)}">
                                 <f:setPropertyActionListener value="#{emp}" target="#{evaluacionController.selected.evaluado}"/>
                                 <f:setPropertyActionListener value="#{niveles360Controller.nivelPar}" target="#{evaluacionController.selected.idNivel360}"/>
                             </p:commandLink>
                             <p:commandLink value="Evaluacion realizada" action="ReporteEvaluacion?faces-redirect=true" rendered="#{evaluacionController.existsEvaluacion(emp)}">       
                                 <f:setPropertyActionListener value="#{evaluacionController.obtenerEvaluacionParaReporte(emp)}" target="#{evaluacionController.selected}"/>
                             </p:commandLink>
                         </p:column>
                     </p:dataTable>  
                  </h:panelGroup>
                  <br/>
                   <!--Lista de Subordinados -->
                  <p:dataTable rendered="#{evaluacionController.subordinadosEmp.size()>0}" var="emp" value="#{evaluacionController.subordinadosEmp}">  
                   
                        <f:facet name="header">
                           Evaluacion a subordinados
                        </f:facet>  
                        <p:column headerText="Nombre">  
                            <h:outputText value="#{emp.nombre}" />  
                        </p:column>  

                        <p:column headerText="Apellido">  
                            <h:outputText value="#{emp.apellido}" />  
                        </p:column>  

                        <p:column headerText="Cedula">  
                            <h:outputText value="#{emp.cedula}" />  
                        </p:column>  

                        <p:column>
                            <p:commandLink value="Evaluar" style="color: #ff3333" action="#{evaluacionController.inicializarEvaluacion()}" rendered="#{!evaluacionController.existsEvaluacion(emp)}">
                                <f:setPropertyActionListener value="#{emp}" target="#{evaluacionController.selected.evaluado}"/>
                                <f:setPropertyActionListener value="#{niveles360Controller.nivelSubordinado}" target="#{evaluacionController.selected.idNivel360}"/>
                            </p:commandLink>
                            <p:commandLink value="Evaluacion realizada" action="ReporteEvaluacion?faces-redirect=true" rendered="#{evaluacionController.existsEvaluacion(emp)}">
                                <f:setPropertyActionListener value="#{evaluacionController.obtenerEvaluacionParaReporte(emp)}" target="#{evaluacionController.selected}"/>
                            </p:commandLink>
                        </p:column>
                </p:dataTable>  
                <br/>
        </h:form> 
        </ui:define>

    </ui:composition>
