<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

    <ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                     xmlns:ui="http://java.sun.com/jsf/facelets"                     
                     template="./../WEB-INF/PlantillaEvaluacion.xhtml"
                     xmlns:h="http://java.sun.com/jsf/html"
                     xmlns:f="http://java.sun.com/jsf/core"
                     xmlns:p="http://primefaces.org/ui">
        
        <f:metadata>
             <f:event type="preRenderView" listener="#{evaluacionController.preRenderSeleccionEvaluacion()}"/>
         </f:metadata>
        <ui:define name="title">
            Seleccion de Evaluación            
        </ui:define>
        
        <ui:define name="top">
            <h:outputText value="Lista de trabajadores(as) a evaluar" />
        </ui:define>
        

        <ui:define name="content">
            <p:messages autoUpdate="true"/>                
                
                 <h:form > 
                    <br/>
                     <!--Autoevaluacion -->
                    
                      <p:panelGrid  columnClasses="col30,col30,col30,col10" style="width: 100%;"  >
                            <f:facet name="header">
                                <p:row>
                                    <p:column colspan="4"> <h:outputText value="Autoevaluación"/></p:column>
                                </p:row>
                                <p:row>
                                    <p:column > Nombre</p:column>
                                    <p:column > Apellido</p:column>
                                    <p:column > Tipo de trabajador(a)</p:column>
                                    <p:column > </p:column>
                                </p:row>
                            </f:facet> 
                          <p:row>
                              <p:column styleClass="col30" style="text-align: center"><h:outputText value="#{sessionMB.currentUser.empleados.nombre}"/></p:column>
                              <p:column styleClass="col30" style="text-align: center"> <h:outputText value="#{sessionMB.currentUser.empleados.apellido}"/></p:column>
                              <p:column styleClass="col20" style="text-align: center"> <h:outputText value="#{sessionMB.currentUser.empleados.idTipoEmpleado.descripcion}"/></p:column>
                               <p:column styleClass="col20" style="text-align: right">
                                      <p:commandLink value="Realizar Autoevaluación" styleClass="evPendiente" action="#{evaluacionController.inicializarEvaluacion()}" rendered="#{!evaluacionController.hashMapEvaluados.get(sessionMB.currentUser.empleados.inss)}">
                                          <f:setPropertyActionListener value="#{sessionMB.currentUser.empleados}" target="#{evaluacionController.selected.evaluado}"/>
                                     <f:setPropertyActionListener value="#{niveles360Controller.nivelAutoEvaluacion}" target="#{evaluacionController.selected.idNivel360}"/>
                                     </p:commandLink>
                                   <p:commandLink value="Autoevaluación realizada" styleClass="evRealizada"  action="#{evaluacionController.consultarEvaluacion()}" rendered="#{evaluacionController.hashMapEvaluados.get(sessionMB.currentUser.empleados.inss)}">                        
                                              <f:setPropertyActionListener value="#{sessionMB.currentUser.empleados}" target="#{evaluacionController.evaluado}"/>
                                     </p:commandLink>
                              </p:column>
                          </p:row>
                    </p:panelGrid>
                    <br/>
                    
                   
                    <h:panelGroup rendered="#{evaluacionController.metodologiaAsignada360}" style="width: 100%;">
                       <!--Evaluacion a superior -->
                       
                            
                            <p:panelGrid  columnClasses="col30,col30,col30,col10" style="width: 100%;"  >
                            <f:facet name="header">
                                <p:row>
                                    <p:column colspan="4"> <h:outputText value="Evaluación Superior(a)"/></p:column>
                                </p:row>
                                <p:row>
                                    <p:column > Nombre</p:column>
                                    <p:column > Apellido</p:column>
                                    <p:column > Tipo de trabajador(a)</p:column>
                                    <p:column > </p:column>
                                </p:row>
                            </f:facet> 
                          <p:row>
                              <p:column styleClass="col30" style="text-align: center" ><h:outputText value="#{sessionMB.currentUser.empleados.inssJefearea.nombre}"/></p:column>
                              <p:column styleClass="col30" style="text-align: center" > <h:outputText value="#{sessionMB.currentUser.empleados.inssJefearea.apellido}"/></p:column>
                              <p:column styleClass="col20" style="text-align: center"> <h:outputText value="#{sessionMB.currentUser.empleados.inssJefearea.idTipoEmpleado.descripcion}"/></p:column>
                               <p:column styleClass="col20" style="text-align: right">
                                      <p:commandLink value="Evaluar" styleClass="evPendiente" action="#{evaluacionController.inicializarEvaluacion()}" rendered="#{!evaluacionController.hashMapEvaluados.get(sessionMB.currentUser.empleados.inssJefearea.inss)}">
                                          <f:setPropertyActionListener value="#{sessionMB.currentUser.empleados.inssJefearea}" target="#{evaluacionController.selected.evaluado}"/>
                                          <f:setPropertyActionListener value="#{niveles360Controller.nivelSuperior}" target="#{evaluacionController.selected.idNivel360}"/>
                                     </p:commandLink>
                                          <p:commandLink value="Evaluación realizada" styleClass="evRealizada" action="#{evaluacionController.consultarEvaluacion()}" rendered="#{evaluacionController.hashMapEvaluados.get(sessionMB.currentUser.empleados.inssJefearea.inss)}">                        
                                              <f:setPropertyActionListener value="#{sessionMB.currentUser.empleados.inssJefearea}" target="#{evaluacionController.evaluado}"/>
                                     </p:commandLink>
                              </p:column>
                          </p:row>
                    </p:panelGrid>
                         
                         <br/>

                     <!--Lista de Pares -->
                     <p:dataTable rendered="#{evaluacionController.paresEmp.size()>0}" var="emp" value="#{evaluacionController.paresEmp}">  
                        <f:facet name="header">
                           Evaluación a Pares
                        </f:facet>  
                         <p:column headerText="Nombre" styleClass="col30" style="text-align: center">  
                             <h:outputText value="#{emp.nombre}" />  
                         </p:column>  

                         <p:column headerText="Apellido" styleClass="col30" style="text-align: center">  
                             <h:outputText value="#{emp.apellido}" />  
                         </p:column>  

                         <p:column headerText="Tipo de trabajador(a)" styleClass="col30" style="text-align: center">  
                             <h:outputText value="#{emp.idTipoEmpleado.descripcion}" />  
                         </p:column>  

                         <p:column styleClass="col10" style="text-align: right; padding-right: 15px;">
                             <p:commandLink value="Evaluar" styleClass="evPendiente" action="#{evaluacionController.inicializarEvaluacion()}" rendered="#{!evaluacionController.hashMapEvaluados.get(emp.inss)}">
                                 <f:setPropertyActionListener value="#{emp}" target="#{evaluacionController.selected.evaluado}"/>
                                 <f:setPropertyActionListener value="#{niveles360Controller.nivelPar}" target="#{evaluacionController.selected.idNivel360}"/>
                             </p:commandLink>
                             <p:commandLink value="Evaluación realizada" styleClass="evRealizada" action="#{evaluacionController.consultarEvaluacion()}" rendered="#{evaluacionController.hashMapEvaluados.get(emp.inss)}">       
                                 <f:setPropertyActionListener value="#{emp}" target="#{evaluacionController.evaluado}"/>
                             </p:commandLink>
                         </p:column>
                     </p:dataTable>  
                  </h:panelGroup>
                  <br/>
                   <!--Lista de Subordinados -->
                  <p:dataTable rendered="#{evaluacionController.subordinadosEmp.size()>0}" var="emp" value="#{evaluacionController.subordinadosEmp}">  
                   
                        <f:facet name="header">
                           Evaluacion a subordinados (as)
                        </f:facet>  
                      <p:column headerText="Nombre" styleClass="col30" style="text-align: center">  
                            <h:outputText value="#{emp.nombre}" />  
                        </p:column>  

                        <p:column headerText="Apellido" styleClass="col30" style="text-align: center">  
                            <h:outputText value="#{emp.apellido}" />  
                        </p:column>  

                        <p:column headerText="Tipo de trabajador(a)" styleClass="col30" style="text-align: center">  
                             <h:outputText value="#{emp.idTipoEmpleado.descripcion}" />  
                         </p:column> 

                        <p:column styleClass="col10" style="text-align: right;padding-right: 15px;">
                            <p:commandLink value="Evaluar" styleClass="evPendiente" action="#{evaluacionController.inicializarEvaluacion()}" rendered="#{!evaluacionController.hashMapEvaluados.get(emp.inss)}">
                                <f:setPropertyActionListener value="#{emp}" target="#{evaluacionController.selected.evaluado}"/>
                                <f:setPropertyActionListener value="#{niveles360Controller.nivelSubordinado}" target="#{evaluacionController.selected.idNivel360}"/>
                            </p:commandLink>
                            <p:commandLink value="Evaluación realizada" styleClass="evRealizada"  action="#{evaluacionController.consultarEvaluacion()}" rendered="#{evaluacionController.hashMapEvaluados.get(emp.inss)}">
                                <f:setPropertyActionListener value="#{emp}" target="#{evaluacionController.evaluado}"/>
                            </p:commandLink>
                        </p:column>
                </p:dataTable>  
                <br/>
        </h:form> 
        </ui:define>

    </ui:composition>
