<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:jr="http://jasperreportjsf.sf.net/tld/jasperreports-jsf-1_2.tld">
    
    <ui:composition template="./../WEB-INF/PlantillaEvaluacion.xhtml">
        <link rel="stylesheet" href="css/print.css" type="text/css" media="print" />
        
        <ui:define class="noImpresion" name="title">
            Impresión de evaluaciones
        </ui:define>
        
        <ui:define class="noImpresion" name="top">
           <h:outputText value="Vista de impresión de evaluación realizada"/>  
        </ui:define>
        <ui:define class="noImpresion" name="content">
            <h:form id="formBotones">
                <p:commandButton style="float: left" ajax="false" icon="ui-icon-arrowstop-1-s" value="Descargar evaluación" action="#{repController.prepararReporteEvaluacion(sessionMB.currentUser.empleados,
                                          evaluacionController.selected.evaluado, periodoController.periodoVigente, false)}"/>
                <p:commandButton style="float: left" ajax="false" value="Regresar a menú de Evaluaciones" action="SeleccionarEvaluacion?faces-redirect=true" rendered="#{!evaluacionController.isEmpleadoTonto()}" />
                
                <p:commandButton style="float: right" ajax="false" value="Terminar" action="#{sessionMB.logout()}" rendered="#{evaluacionController.isEmpleadoTonto()}"/>
            </h:form>
            <h:form id="formImpresion">
                <br/>
                <br/>
                <jr:reportFrame id="frame"  value="#{repController.prepararReporteEvaluacion(sessionMB.currentUser.empleados,
                                          evaluacionController.selected.evaluado, periodoController.periodoVigente, true)}" width="99%" height="500" style="margin: auto !important;overflow: visible" />
                <p:commandButton id="printButton" icon="ui-icon-print" value="Imprimir" onclick="document.getElementById('formImpresion:frame').focus();
                                                                                document.getElementById('formImpresion:frame').contentWindow.print();" type="button" ajax="false">
                    
                </p:commandButton>
                <br/>
                
            </h:form>

                <br/>      
            <h:form class="noImpresion" >
                <p:commandButton ajax="false" icon="ui-icon-arrowstop-1-s" value="Descargar evaluación" action="#{repController.prepararReporteEvaluacion(sessionMB.currentUser.empleados,
                                          evaluacionController.selected.evaluado, periodoController.periodoVigente, false)}"/>
                
                <p:commandButton ajax="false" value="Regresar a menú de Evaluaciones" action="SeleccionarEvaluacion?faces-redirect=true" rendered="#{!evaluacionController.isEmpleadoTonto()}" />
            </h:form>
          
        </ui:define>
    </ui:composition>

</html>
