/* 
    Document   : print.css
    Created on : 29-jul-2013, 13:31:24
    Author     : Carlos Delgadillo
    Description:
        Plantilla que sirve para determinar que partes de la página
        se imprimen
*/

root { 
    display: block;
}
.noImprimir{visibility:hidden;}
.imprimir{visibility:visible;}

@media print 
{
    .noImpresion 
    {
        display:none;
        visibility: hidden;
    }
}