.NivelesInstrumento .ui-tabs-panels{
    background-color: rgba(249, 249, 249, 0.76) !important;
}
.NivelesInstrumento .ui-tabs-selected a{
    background-color: rgb(244, 244, 241) !important;
   
} 

.NivelesInstrumento .ui-state-default a{
    background-color: rgb(234, 232, 221);
}

.NivelesInstrumento .ui-state-hover a{
    background-color: #777272;
}

/*.tabsMenu{
    margin-left: -7px;
    margin-right: -7px;
    
}*/

.tituloSed{
    font:  bolder 25px sans-serif;
    margin-bottom: 5px;
}

.colPreguntas{
    white-space: pre-line;text-align: justify;padding-left: 25px;
 padding-left: 30px !important;
}

.imagenReducida {
    margin: 0px;
    padding: 0px;
  -webkit-transform: scale(0.7); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.7); /* FF3.5+ */
      -ms-transform: scale(0.7); /* IE9 */
       -o-transform: scale(0.7); /* Opera 10.5+ */
          transform: scale(0.7);
             /* IE6–IE9 */
             filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713,SizingMethod='auto expand');
}​

.panelCriterio{
    border: 2px #e0dfdf groove;
}

.nopadding{
    padding-top:  0em !important;
     padding-bottom:  0em !important;
}

.EncabezadoTablaPreguntas,.pieTablaPreguntas{
    background: none !important;
    background-color: #f2f0e8 !important;
    text-align: left !important;
}

.alert-warnig{
    color: #c6a84f;background-color: #f1db99;border-color:#dbc585
}
.ui-datatable-empty-message{
    color: #ab0101; text-align: left;
}
.ui-datatable-empty-message td{
    padding-left:   50px !important;
}
.selectOneRadioColumn td {
    border: none !important;
    white-space: nowrap;
}
.ui-growl-message {
width: 90%;
}
#error_container {
width: 40%;
}
.even{
    background-color: #d8d7d2;
}
.odd{
    background-color: #e4e3de;
}
.colPreg .ui-widget-header{
    text-align: left !important;   
}

.tittleTop{
    color: #525050;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
}

table{
    empty-cells: hide !important;

}
.ui-panel .ui-panel-titlebar {
text-align: center;
}

.ui-panel .ui-panel-titlebar {
text-align: center;
}

.ui-panel .ui-panel-content{
   /* background-color: #d8d6d3 !important   ;*/
}
.c1{
    width: 30%;
}
.c2{
    width: 40%;
}
.c3{
    width: 15%;
    text-align: right;
}

.colNivel{
     width: 40%;
}

.colMetod{
    width: 60%;
}

.floatRight{
    float: right;
}

.completeWidth{
    width: 100%;
}

.ui-layout-north {
    z-index:20 !important;
    overflow:visible !important;;
}

.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
}

.ui-widget {font-size: 14px;} 

#MenuPrincipal{
    float: left;
    position: relative;
    width: 75%;
}
.panelSalirSesion{

    text-align: right;
    padding: 0em 0em;
    padding-right: 1%;
    color: #777272;
    padding-left: 5%; 
/*    height: 80%;
    float: right; 
    width: 18%;*/
    position: fixed;
    top: 1px;
    right: 5px;
    
}

.panelSalirSesionEvaluacion{
    margin-right: 15px;
}

#panelcentral{
    padding-top: 30px;
    padding-left: 30px;
}

#title{
    margin-bottom:  60px;
}

.floatLeft{
    margin-top: 10px;
    float: left;
    clear: both;
}

.multiLineasJustificado{
    white-space: pre-line !important;
    text-align: left;
    padding-left: 25px;
}

.colPregunta{
    width: 90%;
}

.colOpcionEditar{
    width: 5%
}
.colOpcionEliminar{
    width: 5%
}
.colMensaje{
    width: 20%;
}
.colLink{
    width: 5%;
}

#cabecera {
    font-size:38.5px;    
}

.ui-fieldset, .ui-fieldset .ui-fieldset-legend  {
padding: 0.1em 0.1em !important; 
}
.noPrint{
 display:none;
 }
 
  .col10{
     width: 10%;
 }
  .col20{
     width: 20%;
 }
 .col40AlignRigth{
    width: 40%;
    text-align: right;
    padding-right: 10px;
 }
 .col30{
     width: 30%;
 }
  .col40{
     width: 40% !important;
 }
  .col50{
     width: 50%;
 }
  .col60{
     width: 60%;
 }
  .col70{
     width: 70%;
 }
  .col80{
     width: 80%;
 }
  .col90{
     width: 90%;
 }
 
 .filterInline{
     display:inline; 
     margin-left:5px;
 }
 .myLink{
     color: #3333ff !important;
 }
 
 .layoutNorte{
    border: none; padding-bottom: 0; border-radius: 0;
 }
 
 .layoutCentral{
     border: none;border-top: #878680 3px outset !important;border-bottom: groove;border-radius: 0 !important; padding-top: 0 !important;
 }
 
 #MenuPrincipal{
     width: 100% !important;
 }
 
 
 /***************
    *************
                   Este es el estilo para las tablas
                                                        *************
                                                     ***************/
 *          .filaexelente{                 
                 background: red;
                 background-color: #e0fdd4 !important;
             }   
          .filaMuyBueno{                 
                 background: red;
                 background-color: #f7fdd4 !important;
             }   
          .filaBueno{
                 background: red;
                 background-color: #fdede7 !important;
             }
             
             .filaBueno:hover, .filaMuyBueno:hover , .filaexelente:hover{
                  background: red !important;
                 background-color: white !important;
             }
             
             tr:hover{
                 background: red !important;
                 background-color: white !important;
             }
             .noSeleccionable tr:hover{
                 background: none !important;
             }
             .filaBueno, .filaMuyBueno, .filaexelente{
              color: black !important;   
             }
             
             .evRealizada{
                 color: #707070 !important;
             }
             
             .evPendiente{
                 color: #ff3333 !important;
             }
             
          .tablaDeResultados{
                 background: red; 
                 
                 font-size: 20px !important;
                 color: window !important;
             }
             
             button {
                 font-size: 10px !important;
             }
             
             
/***************
                  Estilos Varios
                                 ***************/           

ul{
    list-style-type:  none !important;
}


.ui-button-text{
    font-size: 12px !important;
}

.PasoActivo{
    width: 20px !important;
    height: 20px !Important;
    border:solid black 2px !Important;
}

.PasoNoActivo{}


/*Fondo de lista de tabs*/

.ui-tabs-nav{        
    background-color: #dcdbc6 !important;
}

.ui-tabs-panels{
    background-color: white !Important;
}

.ui-tabs-selected,.ui-tabs-active{
    background: red !Important;
    background-color: white !Important;
}
.filtroLista{width: 200px !important}
.columnaJustificada{
    white-space: pre-line !important
}


/*Estilo de componentes block ui*/

blockUIComponente{
    vertical-align: bottom !important;   
}