<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      template="./template.xhtml">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="Lista de Usuarios"></h:outputText>
        </ui:define>
        <ui:define name="head"/>
        <ui:define name="sidebar">
            <ui:include src="_sideBarUsuario.xhtml"/>
        </ui:define>
        <ui:define name="headerContent">
            <p:commandButton styleClass="floatRight" value="Nuevo Usuario" action="NuevoUsuario?faces-redirect=true"/>
        </ui:define>
        <ui:define name="body">
            <h:form id="form">
                <h:panelGroup id="messagePanel" layout="block">
                    <p:messages/>
                </h:panelGroup>

                <p:dataTable value="#{usuariosController.listaUsuarios}" var="usuario" emptyMessage="No hay usuarios registrados"
                             filteredValue="#{usuariosController.listaUsuariosFiltrado}"  paginator="true"
                             paginatorPosition="top" rows="15">
                    <p:column filterBy="#{usuario.idUsuario}" filterMatchMode="startsWith" filterStyle="width:80%" style="width: 30%;">
                            <f:facet name="header" >
                                <h:outputText value="Inss Usuario"/>                                
                            </f:facet>
                            <h:outputText value="#{usuario.idUsuario}"/>
                        </p:column>
                    <p:column filterBy="#{usuario.empleados.nombre} #{usuario.empleados.apellido}" filterMatchMode="contains" filterStyle=" width:80%">
                            <f:facet name="header">
                                <h:outputText value="Empleado"/>
                            </f:facet>
                            <h:outputText value="#{usuario.empleados.nombre} #{usuario.empleados.apellido}" rendered="#{usuario.empleados!=null}"/>
                             <h:outputText value="No asignado" rendered="#{usuario.empleados==null}"/>
                        </p:column>
                    <p:column width="10">
                            <p:commandButton icon="ui-icon-search" title="Ver" action="VerUsuario?faces-redirect=true">
                                <f:setPropertyActionListener value="#{usuario}" target="#{usuariosController.selected}"/>
                                <f:setPropertyActionListener value="#{false}" target="#{usuariosController.viewPass}"/>
                            </p:commandButton>
                             <p:commandButton icon="ui-icon-pencil" title="Editar" action="ModificarUsuario?faces-redirect=true">
                                <f:setPropertyActionListener value="#{usuario}" target="#{usuariosController.selected}"/>
                                <f:setPropertyActionListener value="#{false}" target="#{usuariosController.viewPass}"/>
                            </p:commandButton>
                        <p:commandButton icon="ui-icon-trash" title="Eliminar"  update=":deleteDlg" onclick="deleteDialog.show()" disabled="#{usuario.empleados!=null}">
                                <f:setPropertyActionListener value="#{usuario}" target="#{usuariosController.selected}"/>
                                <f:setPropertyActionListener value="#{false}" target="#{usuariosController.viewPass}"/>
                            </p:commandButton>
                        </p:column>
                    </p:dataTable>
            </h:form>
            
            <p:confirmDialog id="deleteDlg"  appendToBody="true" header="Confirmacion de Eliminación" widgetVar="deleteDialog" 
                           message="¿Seguro desea eliminar al usuario #{usuariosController.selected.idUsuario}?"  >
              <h:form id="form2">
                  <p:commandButton id="confirm" value="Eliminar"  action="#{usuariosController.performDestroy()}" update=":form" />  
                   <p:commandButton id="decline" value="Cancelar" onclick="deleteDialog.hide()" type="button" />   
              </h:form>
          </p:confirmDialog> 
            
        </ui:define>
    </ui:composition>

</html>
