<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="Editar Usuario #{usuariosController.selected.idUsuario}"></h:outputText>
        </ui:define>
        <ui:define name="headerContent">
            <div class="floatRight">
                <p:commandButton onclick="guardar();" value="Guardar" />
                  <p:commandButton action="ListaUsuarios?faces-redirect=true" value="Ir a lista de Usuarios"/>
            </div>
        </ui:define>
        <ui:define name="body">
            <h:form id="form">
                 <h:panelGroup id="messagePanel" layout="block">
                     <p:messages id="msg" autoUpdate="true"/>
               </h:panelGroup>
                <h:panelGroup rendered="#{usuariosController.selected.empleados==null}">
                    <div class="alert alert-info">
                        <p >El usuario no puede tener roles de Colaborador o Directivo porque no está asignado a un empleado</p>
                    </div>
                </h:panelGroup>          
                <p:selectBooleanCheckbox value="#{usuariosController.changePass}" itemLabel="Cambiar contraseña del Usuario">
                  <p:ajax update="form"/>
                </p:selectBooleanCheckbox>
                <br/>
                <hr/>
                <h:panelGrid styleClass="noSeleccionable" columns="2" style="width: 60%" columnClasses="col40, col60" >
                    <h:outputLabel value="Nombre de Usuario" for="idUsuario" />
                    <p:inputText id="idUsuario" disabled="true" value="#{usuariosController.selected.idUsuario}" title="El Id de Usuario no es modificable" required="true" requiredMessage="Ingrese el nombre de usuario"/>
                    <h:outputText value="Contraseño anterior" rendered="#{usuariosController.changePass}"/>
                    <h:outputText value="#{usuariosController.selected.clave}" rendered="#{usuariosController.changePass}"/>
                    <h:outputLabel value="Nueva contraseña"  rendered="#{usuariosController.changePass}" for="clave" />
                    <p:password match="conf" rendered="#{usuariosController.changePass}"   feedback="true" id="clave" promptLabel="Ingrese la contraseña"  weakLabel="Débil" goodLabel="Aceptable" strongLabel="Seguro"
                                value="#{usuariosController.selected.clave}" title="Contraseña"  required="true" requiredMessage="Contraseña requerida"/>                   
                    <h:outputLabel value="Confirme nueva contraseña" rendered="#{usuariosController.changePass}" for="conf" />
                    <p:password id="conf" required="true" rendered="#{usuariosController.changePass}" requiredMessage="Confirmación de contraseña requerida" 
                                value="#{usuariosController.confirmation}" title="Confirmación de Contraseña" />
                     <h:outputText value="Asignado a empleado"/>
                    <h:outputText value="#{usuariosController.selected.empleados.nombre} #{usuariosController.selected.empleados.apellido}" rendered="#{usuariosController.selected.empleados!=null}"  />
                    <h:outputText value="No asignado" rendered="#{usuariosController.selected.empleados==null}" />
                    <h:outputText value="Roles de usuario"/>
                    <p:selectManyCheckbox  value="#{usuariosController.selected.rolesCollection}" required="true" requiredMessage="Rol de usuario requerido"  layout="pageDirection" converter="rolesConverter">
                        <f:selectItems value="#{rolesController.listaRolesParaEmpleados}"   var="rol" itemValue="#{rol}" itemDisabled="#{usuariosController.selected.empleados==null}" itemLabel="#{rol.descripcion}"/>
                        <f:selectItems value="#{rolesController.listaRolesParaNoEmpleados}"   var="rol2" itemValue="#{rol2}" itemLabel="#{rol2.descripcion}"/>
                    </p:selectManyCheckbox>
                </h:panelGrid>
                <p:remoteCommand action="#{usuariosController.update()}" name="guardar"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
