<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="Registrar Nuevo Usuario"></h:outputText>
        </ui:define>
        <ui:define name="sidebar">
            <ui:include src="_sideBarUsuario.xhtml"/>
        </ui:define>
        <ui:define name="headerContent">
            <div class="floatRight">
                <p:commandButton onclick="guardar();" value="Guardar" />
                  <p:commandButton action="ListaEmpleados" value="Ir a lista de Usuarios"/>
            </div>
        </ui:define>
        <ui:define name="body">
           
            <h:form>
                 <h:panelGroup id="messagePanel" layout="block">
                     <p:messages id="msg" autoUpdate="true"/>
               </h:panelGroup>
                <h:panelGrid columns="2">
                    <h:outputLabel value="Nombre de Usuario" for="idUsuario" />
                    <p:inputText id="idUsuario" value="#{usuariosController.selected.idUsuario}" title="Id de Usuario" required="true" requiredMessage="Ingrese el nombre de usuario"/>
                    <h:outputLabel value="Contraseña" for="clave" />
                    <p:password    feedback="true" id="clave" promptLabel="Ingrese la contraseña"  weakLabel="Débil" goodLabel="Aceptable" strongLabel="Seguro"
                                value="#{usuariosController.selected.clave}" title="Contraseña"  required="true" requiredMessage="Contraseña requerida"/>                   
                    <h:outputLabel value="Confime contraseña" for="conf" />
                    <p:password id="conf" required="true" requiredMessage="Confirmación de contraseña requerida" 
                                value="#{usuariosController.confirmation}" title="Confirmación de Contraseña" />
                    <h:outputText value="Rol de usuario"/>
                    <p:selectOneRadio value="#{usuariosController.rolNewUser}" required="true" requiredMessage="Rol de usuario requerido"  layout="pageDirection" converter="rolesConverter">
                        <f:selectItems value="#{rolesController.listaRolesParaNoEmpleados}"   var="rol" itemValue="#{rol}" itemLabel="#{rol.descripcion}"/>
                    </p:selectOneRadio>
                </h:panelGrid>
                <p:remoteCommand action="#{usuariosController.create()}" name="guardar"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
