<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="Vista  de Usuario"></h:outputText>
        </ui:define>
        <ui:define name="sidebar">
            <ui:include src="_sideBarUsuario.xhtml"/>
        </ui:define>
        <ui:define name="headerContent">
            <div class="floatRight">
                    <p:commandButton styleClass="btn btn-primary" action="ModificarUsuario?faces-redirect=true" value="Modificar datos"/>
                    
                    <p:commandButton styleClass="btn btn-primary"  onclick="deleteDialog.show();" value="Eliminar usuario" disabled="#{usuariosController.selected.empleados!=null}"/>
                    
                    <p:commandButton styleClass="btn btn-primary" action="ListaUsuarios?faces-redirect=true" value="Regresar a lista de usuarios"/>
               
            </div>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <p:messages />
            </h:panelGroup>
            <h:panelGroup styleClass="completeWidth"  rendered="#{usuariosController.selected.empleados!=null}">
                <div class="alert alert-warnig">
                    <h:outputText value="No podrá eliminar este usuario porque esta asignado a un(a) trabajador(a)"/>
                </div>
            </h:panelGroup>
            <h:form id="form">
                <h:panelGrid styleClass="noSeleccionable" columns="3" style="width: 60%"  columnClasses="col30, col30, col30">
                    <h:outputText value="Nombre de Usuario"/>
                    <h:outputText value="#{usuariosController.selected.idUsuario}"/>
                    <h:outputText/>
                    <h:outputText value="Contraseña"/>
                    <h:outputText value="#{usuariosController.selected.clave}" rendered="#{usuariosController.viewPass}"/>
                    <h:outputText value="***************" rendered="#{!usuariosController.viewPass}"/>
                    <p:selectBooleanCheckbox value="#{usuariosController.viewPass}" itemLabel="Mostrar contraseña">
                        <p:ajax update="form"/>
                    </p:selectBooleanCheckbox>
                    <h:outputText value="Asignado a empleado"/>
                    <p:commandLink styleClass="myLink" value="#{usuariosController.selected.empleados.nombre} #{usuariosController.selected.empleados.apellido}" action="/empleados/VerEmpleado?faces-redirect=true" rendered="#{usuariosController.selected.empleados!=null}"  >
                        <f:setPropertyActionListener value="#{usuariosController.selected.empleados}" target="#{empleadosController.selected}"/>
                    </p:commandLink>
                    <h:outputText value="No asignado" rendered="#{usuariosController.selected.empleados==null}" />
                    <h:outputText/>
                    <h:outputText value="Roles del Usuario"/>
                    <h:panelGroup>
                        <c:forEach items="#{usuariosController.selected.rolesCollection}" var="rol" varStatus="status" >
                            <hr/>    
                            <h:outputText value="+ #{rol.descripcion}"/><br/>
                                
                        </c:forEach>
                    </h:panelGroup>
                </h:panelGrid>

            </h:form>

            <p:confirmDialog  appendToBody="true" header="Confirmacion de Eliminación" widgetVar="deleteDialog" 
                           message="¿Seguro desea eliminar al usuatio #{usuariosController.selected.idUsuario}?"  >
              <h:form id="form2">
                  <p:commandButton id="confirm" value="Eliminar"  action="#{usuariosController.performDestroy()}" />  
                   <p:commandButton id="decline" value="Cancelar" onclick="deleteDialog.hide()" type="button" />   
              </h:form>
          </p:confirmDialog> 
            
            
        </ui:define>
    </ui:composition>

</html>
