<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
             <h:form>         
               <p:menu style="width: 100%">
                <p:submenu label="Acciones">
                    <p:menuitem value="Nuevo periodo de evaluación" action="#{periodoController.prepareCreate()}" icon="ui-icon-plusthick"/> 
                    <p:menuitem value="Lista de Periodos" action="ListaPeriodos?faces-redirect=true" icon="ui-icon-note" /> 
                </p:submenu>
                <p:submenu label="Enlaces relacionados">   
                    <p:menuitem rendered="#{periodoController.hayPeriodoVigente and sessionMB.esEmpleado}" value="Evaluar" action="/evaluacion/SeleccionarEvaluacion?faces-redirect=true" icon="ui-icon-circle-check"> 
                        <f:setPropertyActionListener target="#{utilMB.indexMenu}" value="#{8}" />
                    </p:menuitem> 
                    <p:menuitem value="Reportes" action="/Reportes/ExportacionReportes_1?faces-redirect=true" icon="ui-icon-image" >
                         <f:setPropertyActionListener target="#{utilMB.indexMenu}" value="#{7}" />                                    
                    </p:menuitem>
                </p:submenu>
             </p:menu>
            </h:form>
            
</html>

