<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:composition template="/template.xhtml">
      <ui:define name="title">
              Nuevo Periodo de Evaluación
        </ui:define> 
        <ui:define name="sidebar">
            <ui:include src="_sideBarPeriodo.xhtml"/>
        </ui:define>
        <ui:define name="headerContent">
            <div class="floatRight">
                  <p:commandButton icon="ui-icon-disk" onclick="guardar()"  value="Guardar"   />
                  <p:commandButton icon="ui-icon-seek-prev" action="ListaPeriodos?faces-redirect=true" value="Regresar a lista de periodos"   />                     
            </div>
        </ui:define>
        <ui:define name="body">            
            <h:form id="mainForm">  
                <p:messages id="mensajes"/>
                <h:panelGrid styleClass="noSeleccionable" columns="2" width="70%" columnClasses="colNivel,colMetod">
                    <h:outputLabel value="Descripción" for="descripcion" />
                    <p:inputTextarea autoResize="false"  cols="35" rows="1" style="width: 100%;margin-bottom: 10px !important;" id="descripcion" value="#{periodoController.selected.descripcion}" title="Descripción" required="true" requiredMessage="Debe añadir una descripción para el periodo"/>
                    <h:outputLabel value="Fecha de Inicio" for="fechaInicio" />                    
                    <p:calendar mindate="#{utilMB.today}" id="fechaInicio" pattern="dd/MM/yyyy" value="#{periodoController.selected.fechaInicio}" title="Fecha de Inicio" required="true" requiredMessage="Debe establecer una fecha de inicio para el periodo " />   
                    <h:outputLabel value="Fecha Final" for="fechaFin" />                    
                    <p:calendar id="fechaFin" mindate="#{utilMB.today}" value="#{periodoController.selected.fechaFin}" title="Fecha Fin" required="true" requiredMessage="Debe establecer una fecha final para el periodo " pattern="dd/MM/yyyy" />
                    <h:outputLabel value="Metodología a aplicar" for="metodologia" />
                    <p:selectOneMenu id="metodologia" immediate="true"  value="#{periodoController.metodologia}" >
                        <f:selectItems value="#{periodoController.listaMetodologiasCombo}" var="met"  itemValue="#{met}" itemLabel="#{met}"/>                      
                        <p:ajax  event="change"/>
                    </p:selectOneMenu>
                </h:panelGrid>
                <p:outputPanel id="defPanel"  autoUpdate="true"    >
                    <br/>
                    <p:panel header="Definición  de Metodología por nivel de empleado" style="width: 70%" rendered="#{periodoController.renderDefPanel}">
                        <h:panelGrid columns="2" style="width: 100%" rules="rows" columnClasses="colNivel,colMetod">
                            <h:outputText value="Nivel" styleClass="lead"/>
                            <h:outputText value="Metodología a aplicar" styleClass="lead"/>
                            <c:forEach items="#{periodoController.listaAsignacionesMetodologia}" var="am" varStatus="status" >
                                <h:outputText value="#{am.niveles.descripcion}"/>
                                <p:selectOneButton value="#{am.metodologia}" required="true" requiredMessage="Debe seleccionar un tipo de metodologia para el nivel #{am.niveles.descripcion}">
                                    <f:selectItems value="#{periodoController.listaMetodologiasOneButton}" var="metod" itemValue="#{metod}" itemLabel="#{metod}"/>
                                </p:selectOneButton>
                            </c:forEach>
                        </h:panelGrid>
                    </p:panel>                    
                </p:outputPanel>
                <br/>
                <p:remoteCommand name="guardar" action="#{periodoController.create}" update=":mainForm"/>
               
            </h:form>
        </ui:define>
    </ui:composition>

</html>
