<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="Detalle del periodo: #{periodoController.selected.idPeriodo} "></h:outputText>
        </ui:define>
        <ui:define name="sidebar">
            <ui:include src="/periodo/_sideBarPeriodo.xhtml"/>
        </ui:define>
        <ui:define name="headerContent">
             <div class="floatRight">
                    <p:commandButton value="Editar Periodo" action="#{periodoController.prepareUpdate()}"/>
                    <p:commandButton action="ListaPeriodos?faces-redirect=true" value="Ver lista de periodos"/>
              </div>
        </ui:define>
        <ui:define name="body">
            <p:messages autoUpdate="true" />
            <h:form>
                <p:panel header="Información general" style="width: 70%">
                    <h:panelGrid columns="2" style="width: 100%" columnClasses="colNivel,colMetod">
                        <h:outputText value="Descripcion"/>
                        <h:outputText value="#{periodoController.selected.descripcion}" title="Descripción"/>
                        <h:outputText  value="Fecha de Inicio"/>
                        <h:outputText value="#{periodoController.selected.fechaInicio}" title="Fecha de Inicio">
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </h:outputText>
                        <h:outputText value="Fecha Final"/>
                        <h:outputText value="#{periodoController.selected.fechaFin}" title="Fecha Fin">
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </h:outputText>
                         <h:outputText value="Metodología Aplicada"/>
                         <h:outputText value="#{periodoController.getMetodologiaPeriodo(periodoController.selected)}"/>
                      </h:panelGrid>
                </p:panel>
                <p:panel header="Detalle de Asignación de Metodología por Nivel" style="width: 70%" rendered="#{periodoController.renderDefPanel}">
                     <h:panelGrid columns="2" style="width: 100%" columnClasses="colNivel,colMetod" rules="rows"  >
                            <c:forEach items="#{periodoController.selected.asignacionMetodologiaList}" var="am" varStatus="status" >
                                <h:outputText value="#{am.niveles.descripcion}"/>
                                <h:outputText value="#{am.metodologia}"/>
                            </c:forEach>
                        </h:panelGrid>
                </p:panel>  
            </h:form>
        </ui:define>
    </ui:composition>

</html>
