<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="Periodos de Evaluación"></h:outputText>
        </ui:define>
        <ui:define name="headerContent">
            <p:commandButton styleClass="floatRight" value="Nuevo periodo" action="#{periodoController.prepareCreate()}" disabled="#{planEstrategicoController.planVigente==null}"/>
        </ui:define>
        <ui:define name="body">
            <c:set var="existePlanVigente" value="#{planEstrategicoController.planVigente!=null}"/>
            <h:form rendered="#{!existePlanVigente}">
                <div class="alert alert-danger lead"> <h:outputText value="No existe un plan vigente, debe existir uno para crear un nuevo periodo de evaluación" /> 
                    <hr/>
                    <p:commandButton styleClass="btn btn-primary" action="/planEstrategico/CrearPlanEstrategico?faces-redirect=true" value="Nuevo Plan Estratégico">                    
                         <f:setPropertyActionListener target="#{utilMB.indexMenu}" value="#{2}" />
                    </p:commandButton></div>
                
            </h:form>
            <h:form id="mainForm"  rendered="#{existePlanVigente}"> 
                    <p:messages autoUpdate="true" id="mensajes" />

                    <p:dataTable var="p" value="#{periodoController.listaPeriodos}" id="ListaPeriodos" emptyMessage="No se han registrado periodos de evaluación">
                            <p:column headerText="Id Periodo">
                                <h:outputText value="#{p.idPeriodo}" />
                            </p:column>

                            <p:column headerText="Descripción">  
                                <h:outputText value="#{p.descripcion}" />  
                            </p:column>  

                            <p:column headerText="Fecha Inicio">  
                                <h:outputText value="#{p.fechaInicio}"> 
                                <f:convertDateTime type="date" pattern="dd-MM-yyyy"/>
                                </h:outputText>  
                            </p:column>  

                            <p:column headerText="Fecha Fin">  
                                <h:outputText value="#{p.fechaFin}" >
                                <f:convertDateTime type="date" pattern="dd-MM-yyyy"/>
                                </h:outputText>  
                            </p:column>  

                            <p:column headerText="Metodologia">  
                                <h:outputText value="#{periodoController.getMetodologiaPeriodo(p)}" />  
                            </p:column>  

                        <p:column>
                            <p:commandButton title="Ver" icon="ui-icon-search" action="#{periodoController.prepareView()}">
                                  <f:setPropertyActionListener value="#{p}" target="#{periodoController.selected}"/>
                               </p:commandButton>
                            <p:commandButton  title="Editar" disabled="#{!periodoController.isEditable(p)}" icon="ui-icon-pencil" action="#{periodoController.prepareUpdate()}">
                                    <f:setPropertyActionListener  value="#{p}" target="#{periodoController.selected}"/>
                               </p:commandButton>
                            <p:commandButton oncomplete="confirmation.show()" disabled="#{!periodoController.isEliminable(p)}" update=":confirmForm" title="#{!periodoController.isEliminable(p)? 'No se puede eliminar porque ya se realizaron evaluaciones en este periodo' : 'Eliminar'}" icon="ui-icon-trash">
                                    <f:setPropertyActionListener value="#{p}" target="#{periodoController.selected}"/>
                               </p:commandButton>
                           </p:column>

                      </p:dataTable>
            </h:form>
            
                    
            
           <p:dialog id="confirmDialog"  header="Confirmacion de Eliminacion" modal="true" widgetVar="confirmation" appendToBody="true" >  
                    <h:form id="confirmForm">
                        <h:outputText value="Seguro que desea eliminar el periodo #{periodoController.selected.idPeriodo}"/>
                         
                         <p:separator/>
                        
                        <p:commandButton ajax="false" id="confirm" update=":mainForm:ListaPeriodos" value="Si" oncomplete="confirmation.hide()"  
                                         actionListener="#{periodoController.performDestroy()}" />  
                        <p:commandButton id="decline" value="No" onclick="confirmation.hide()" type="button" />   
                     </h:form>
               </p:dialog> 
            
            
        </ui:define>
        
        <ui:define name='sidebar'>
            <ui:include src="_sideBarPeriodo.xhtml" />
        </ui:define>
    </ui:composition>

</html>
