<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                template="./../template.xhtml"
                xmlns:f="http://java.sun.com/jsf/core">

    <f:metadata>
        <f:event listener="#{seguimientoController.preRenderSeguimiento()}" type="preRenderView"/>
    </f:metadata>  
    
    <ui:define name="title">
        Información General del Proceso
    </ui:define>
    
    <ui:define name="sidebar">
        sidebar
    </ui:define>
    
    <ui:define name="body">
        <p:panel header="Información sobre Periodo Vigente" >
             <p:fieldset legend="Información General" rendered="#{periodoController.hayPeriodoVigente}">  
            <p:panelGrid columns="2" >   
                <p:column>
               <h:outputText  value="Aka... pendiente [datos]: Tiempo restante del periodo actual, cantidades de evaluaciones, etc" />
               <br />
               <p:commandLink value="Consultar Informe de evaluaciones restantes por área..." action="evaluacion/ListaEvaluacionesPendientes?faces-redirect=true" />
               
           
               </p:column>
                
                <p:column>
                <h:form id="form">  
  
                    <p:poll interval="3" update="progreso" />  

                    <p:pieChart id="progreso" value="#{seguimientoController.obtenerGraficaGeneral()}" title="Resumen de Evaluaciones Realizadas [General]"  
                                legendPosition="nw" style="width:425px;height:300px"/>  

                </h:form>  
                </p:column>
             </p:panelGrid>  
           </p:fieldset>
            
            <p:fieldset legend="Evaluaciones realizadas por Instrumento" rendered="#{periodoController.hayPeriodoVigente}" >
                <p:panelGrid columns="2">
                
                    <p:column>
                        <h:form>
                         <p:poll interval="3" update="progresoAuto" />   
                         <p:pieChart id="progresoAuto" value="#{seguimientoController.obtenerGraficaAutoevaluacion()}" title="Resumen Autoevaluaciones"  
                                legendPosition="nw" style="width:470px;height:300px;float: left;"/>  
                        </h:form>
                    </p:column>
                    <p:column> 
                        <h:form>
                        <p:poll interval="3" update="progresoSub" />   
                        <p:pieChart id="progresoSub" value="#{seguimientoController.obtenerGraficaSubordinados()}" title="Resumen Trabajadores"  
                                    legendPosition="nw" style="width:470px;height:300px;float: right;" />
                        </h:form>
                    </p:column>
                       
                </p:panelGrid>
            </p:fieldset>
                       
        </p:panel>
    </ui:define>

</ui:composition>
