<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:ui="http://java.sun.com/jsf/facelets"
                
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">


        <h:outputText class="lead" value="Reporte de las capacitaciones solicitadas durante el periodo #{periodoController.periodoVigente.idPeriodo}"/>       
        <hr/>
        <div class="row-fluid">
        <div class="span7"></div>
        <div class="span5">
            <h:form>
                <p:commandButton ajax="false" value="Imprimir en PDF"  action="ExportacionReportes_1?faces-redirect=true" icon="ui-icon-document" style="float: right !important">
                    <f:setPropertyActionListener target="#{reportesMB.opcion}" value="#{4}"/>
                </p:commandButton>
            </h:form>
        </div>
        </div>
        <p:dataTable value="#{repController.reporteCapacitacionesPorArea}" var="capa">
            <f:facet name="header">
                <h:outputText value="Capacitaciones solicitadas por área"/>
            </f:facet>
            <p:column rendered="#{repController.reporteCapacitacionesPorArea.size()>0}">
                <p:column colspan="1" >
                <h:outputText value="Área: #{capa.centroDeCosto.descripcion}" />
                <br/>
                <h:outputText value="Código: #{capa.centroDeCosto.idCentrocostos}"/>
            </p:column>
       
                <p:dataTable value="#{capa.listaRecomendaciones}" var="lista" emptyMessage="No hay registros disponibles">
                        <p:column headerText="Capacitación solicitada" style="width: 50%" colspan="1">
                            <h:outputText value="#{lista.capacitacion}"/>
                        </p:column>
                        <p:column headerText="Número de solicitudes" style="width: 50%" colspan="1">
                            <h:outputText value="#{lista.solicitudes}"/>
                        </p:column>
                    </p:dataTable>
            </p:column>
                
            
        </p:dataTable>

</html>
