<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">
    
    

   
       <f:metadata>
           <f:event type="preRenderView" listener="#{consultorDePromedios.initPrimeraCarga()}" />
       </f:metadata>
        <h:form>
            <p:outputLabel style="white-space: pre-line" value="Vista pdf de los criterios del período" for="botonPdf"/>
            <p:commandButton id="botonPdf"  ajax="false" value="Exportar"  action="ExportacionReportes_1?faces-redirect=true" icon="ui-icon-document">
                <f:setPropertyActionListener target="#{reportesMB.opcion}" value="#{9}"/>
            </p:commandButton>
        </h:form>
        <hr/>
        <br/>
        <h:form id="principal">            
                <div class="container-fluid" style="vertical-align: central !important;">
                    
                    <div class="row-fluid">
                        <div class="span5">
                            <p:panelGrid columns="2">
                                <h:outputText style="white-space: pre-line" value="Seleccione el área"/>
                                <p:selectOneMenu style="white-space: pre-line" value="#{consultorDePromedios.centro}" required="true" requiredMessage="Selecciones un centro de costos">
                                    <f:selectItem itemLabel="Todos los centros" itemValue=""/>
                                    <f:selectItems value="#{centroDeCostosController.centrosConEvaluaciones}" var="centro" itemLabel="#{centro.descripcion} #{centro.idCentrocostos}" itemValue="#{centro.idCentrocostos}"/>
                                </p:selectOneMenu>
                            </p:panelGrid>
                        </div>
                        <div class="span5">
                            <p:panelGrid columns="2">
                                <h:outputText style="white-space: pre-line" value="Seleccione un período"/>
                                <p:selectOneMenu style="white-space: pre-line" value="#{consultorDePromedios.periodo}" required="true" requiredMessage="Seleccione un período">
                                    <f:selectItem itemLabel="Seleccione un período" itemValue=""/>
                                    <f:selectItems value="#{periodoController.listaPeriodos}" var="periodo" itemLabel="#{periodo.idPeriodo}" itemValue="#{periodo.idPeriodo}"/>
                                </p:selectOneMenu>
                            </p:panelGrid>
                        </div>
                        <div class="span2">
                            <p:panelGrid columns="1">
                                <p:commandButton ajax="#{consultorDePromedios.primeracarga==true?true:false}" value="Generar" actionListener="#{consultorDePromedios.cargarDatos()}" update="principal">
                                    <f:setPropertyActionListener target="#{consultorDePromedios.primeracarga}" value="#{true}"/>
                                </p:commandButton>
                            </p:panelGrid>    
                        </div>
                    </div>
                </div>
            <br/>
            <br/>
            <p:dataTable value="#{consultorDePromedios.listadePromediosPorCriterioByCentro}" var="PbC" rendered="#{consultorDePromedios.listadePromediosPorCriterioByCentro.size()>0}"
                         paginator="true"
                         rows="10"
                         paginatorTemplate="{FirstPageLink} {LastPageLink}
                         {CurrentPageReport} {PageLinks} {RowsPerPageDropdown}"
                         paginatorPosition="bottom"
                         rowsPerPageTemplate="5,10,20,30">
                <p:column headerText="criterio">
                    #{PbC[1]}
                </p:column>
                <p:column headerText="Promedio Obtenido">
                    #{PbC[2]}
                </p:column>
            </p:dataTable>
            <br/>
            <br/>
            <p:barChart  title="Promedios obtenidos en cada criterio por: #{consultorDePromedios.centro}"  id="grafico" animate="true" value="#{consultorDePromedios.categoryModelPromedios}" max="100" min="0" style="height: 600px;" zoom="50%"/>
            <br/>
            
        </h:form>
</html>
