<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

   
        <h:form id="paneles">
            <h:outputText class="lead" value="Evaluaciones impresas y sin imprimir"/>        
            <hr/>
                <h:form rendered="#{!periodoController.hayPeriodoVigente}">
                    <div class="alert alert-info">
                        <h2><h:outputText  value="No existe un periodo de evaluación vigente"/></h2>
                        <h:outputText class="lead" value="Este reporte de monitoreo solo puede ser consultado cuando existe un periodo de evaluación vigente."/>
                    </div>
                </h:form>
                
                <br/>
                <p:dataTable rendered="#{periodoController.hayPeriodoVigente}" 
                             value="#{evaluacionController.obtenerEvaluacionesImpresas(true)}" var="evaluacion"
                             filteredValue="#{evaluacionController.evaluacionesImpresasFiltradas}"
                             paginator="true"
                             rows="10"
                             paginatorTemplate="{FirstPageLink} {LastPageLink}
                             {CurrentPageReport} {PageLinks} {RowsPerPageDropdown}"
                             paginatorPosition="bottom"
                             rowsPerPageTemplate="5,10,20,30"
                             emptyMessage="No hay resultados disponibles">
                    <f:facet  name="header">
                        
                        <div class="container-fluid">
                            <div class="row-fluid">
                                <div class="span8">
                                    <h:outputText style="font-size: 18px; display: block !important; width: border-box" value="Evaluaciones que han sido empresas en este período"/>
                                </div>
                                <div class="span3">
                                    <p:commandButton  ajax="false" style="float: right" value="Vista pdf" action=" ">
                                        <f:setPropertyActionListener target="#{reportesMB.rutaReporte}" value="/WEB-INF/FragmentosReportes/_reportePDF.xhtml"/>
                                        <f:setPropertyActionListener target="#{reportesMB.opcion}" value="#{1}"/>
                                    </p:commandButton>
                                </div>
                            </div>
                        </div>
                                                 
                    </f:facet>
                    <p:column headerText="Código de la evaluacion" filterBy="#{evaluacion.idEvaluacion}" filterMatchMode="contains">
                        <h:outputText style="white-space: pre-line" value="#{evaluacion.idEvaluacion}"/>
                    </p:column>
                    <p:column headerText="Evaluador" filterMatchMode="contains" filterBy="#{evaluacion.evaluador.nombre}">
                        <h:outputText style="white-space: pre-line"  value="#{evaluacion.evaluador.nombre} #{evaluacion.evaluador.apellido}"/>
                    </p:column>
                    <p:column headerText="Evaluado" filterBy="#{evaluacion.evaluado.nombre}" filterMatchMode="contains">
                        <h:outputText style="white-space: pre-line" value="#{evaluacion.evaluado.nombre} #{evaluacion.evaluado.apellido}"/>
                    </p:column>
                    <p:column headerText="Centro de costo del evaluador" filterBy="#{evaluacion.evaluador.centroCosto}" 
                              filterStyleClass="filtroLista" filterOptions="#{centroDeCostosController.crearFiltroCentros(centroDeCostosController.listaCentroDeCostos)}" filterMatchMode="exact">
                        <h:outputText style="white-space: pre-line" value="#{evaluacion.evaluador.centroCosto.descripcion}"/>
                    </p:column>
                </p:dataTable>
   
               
                <br/>
                <hr/>
                <br/>



                <p:dataTable rendered="#{periodoController.hayPeriodoVigente}" 
                             value="#{evaluacionController.obtenerEvaluacionesImpresas(false)}" var="evaluacion"
                             filteredValue="#{evaluacionController.evaluacionesNoImpresasFiltradas}"
                             paginator="true"
                             rows="10"
                             paginatorTemplate="{FirstPageLink} {LastPageLink}
                             {CurrentPageReport} {PageLinks} {RowsPerPageDropdown}"
                             paginatorPosition="bottom"
                             rowsPerPageTemplate="5,10,20,30"
                             emptyMessage="No hay resultados disponibles">
                    <f:facet  name="header">

                        <div class="container-fluid">
                            <div class="row-fluid">
                                <div class="span8">
                                    <h:outputText style="font-size: 18px; " value="Lista de evaluaciones que no han sido impresas"/></div>
                                <div class="span3"> 
                                    <p:commandButton ajax="false" style="float: right" value="Vista pdf" action=" ">
                                        <f:setPropertyActionListener target="#{reportesMB.rutaReporte}" value="/WEB-INF/FragmentosReportes/_reportePDF.xhtml"/>
                                        <f:setPropertyActionListener target="#{reportesMB.opcion}" value="#{2}"/>
                                    </p:commandButton>
                                </div>
                            </div>
                        </div>

                    </f:facet>
                    
                    
                    
                    <p:column filterMatchMode="contains" headerText="Código de la evaluacion" filterBy="#{evaluacion.idEvaluacion}">
                        <h:outputText style="white-space: pre-line" value="#{evaluacion.idEvaluacion}"/>
                    </p:column>
                    <p:column filterMatchMode="contains" headerText="Evaluador" filterBy="#{evaluacion.evaluador.nombre}">
                        <h:outputText style="white-space: pre-line" value="#{evaluacion.evaluador.nombre} #{evaluacion.evaluador.apellido}"/>
                    </p:column>
                    <p:column filterMatchMode="contains" headerText="Evaluado" filterBy="#{evaluacion.evaluado.nombre}">
                        <h:outputText style="white-space: pre-line" value="#{evaluacion.evaluado.nombre} #{evaluacion.evaluado.apellido}"/>
                    </p:column>
                    <p:column headerText="Centro de costo del evaluador" filterBy="#{evaluacion.evaluador.centroCosto}" 
                              filterStyleClass="filtroLista" filterOptions="#{centroDeCostosController.crearFiltroCentros(centroDeCostosController.listaCentroDeCostos)}" filterMatchMode="exact">
                        <h:outputText style="white-space: pre-line" value="#{evaluacion.evaluador.centroCosto.descripcion}"/>
                    </p:column>
                </p:dataTable>
         
        </h:form>
</html>
