<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">
    
   
   
         <f:metadata>
            <f:event type="preRenderView" listener="#{evaluacionController.preSeleccionarPeriodoEvaluacion()}"/>
         </f:metadata>
        <h:form id="mainForm">
            <h:outputText class="lead" value="Evaluaciones realizadas por periodo"/>
            <hr/>
            <h:panelGrid columns="2">
                <h:outputText value="Periodo a consultar"/>
                <p:selectOneMenu value="#{evaluacionController.periodoEvaluacion}">
                    <f:selectItems value="#{periodoController.listaPeriodos}" var="periodo" itemValue="#{periodo}" itemLabel="#{periodo.descripcion}"/>
                    <p:ajax update="evaluaciones"/>
                </p:selectOneMenu>
            </h:panelGrid>
            <hr/>
                <c:set var="periodoVigente" value="#{evaluacionController.periodoEvaluacion.equals(periodoController.periodoVigente)}"/>
                <p:dataTable id="evaluaciones" widgetVar="evaluacionesWidget" emptyMessage="No hay evaluaciones para mostrar" value="#{evaluacionController.listaEvaluaciones}" var="eva" filteredValue="#{evaluacionController.listaEvaluacionesFiltrado}" rendered="#{evaluacionController.periodoEvaluacion!=null}"
                             paginator="true"
                         rows="10"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         paginatorPosition="bottom"
                         rowsPerPageTemplate="5,10,20,30">

                    <p:column style="white-space: pre-line" filterStyle="width:80%" filterBy="#{eva.evaluador.nombre} #{eva.evaluador.apellido}" filterMatchMode="startsWith">
                    <f:facet name="header">
                        Evaluador(a)
                    </f:facet>
                    <h:outputText value="#{eva.evaluador.nombre} #{eva.evaluador.apellido}"/>
                </p:column>
                <p:column style="white-space: pre-line"  filterStyle="width:80%" filterBy="#{eva.evaluado.nombre} #{eva.evaluado.apellido}" filterMatchMode="startsWith">
                    <f:facet name="header">
                        Evaluado(a)
                    </f:facet>
                    <h:outputText value="#{eva.evaluado.nombre} #{eva.evaluado.apellido}"/>
                </p:column>
                    <p:column filterBy="#{eva.evaluado.centroCosto}"  filterStyleClass="filtroLista" filterMatchMode="exact" filterOptions="#{centroDeCostosController.crearFiltroCentros(centroDeCostosController.listaCentroDeCostos)}" headerText="Centro de costo">
                    <f:facet name="header">
                       Centro de costo del evaluado(a)
                    </f:facet>
                        <h:outputText value="#{eva.evaluado.centroCosto.descripcion}"/>
                </p:column>
                <p:column style="white-space: pre-line; text-align: center">
                    <f:facet name="header">
                        Puntaje final
                    </f:facet>
                    <h:outputText value="#{evaluacionController.calcularPuntajeTotal(eva)}">
                        <f:convertNumber pattern="#.##"/>
                    </h:outputText>
                </p:column>
                <p:column style="white-space: pre-line"  headerText="Acciones">
                    <p:commandButton icon="ui-icon-search" title="Ver evaluacion" ajax="false" actionListener="#{evaluacionController.consultarEvaluacion(eva)}">
                        <f:setPropertyActionListener target="#{reportesMB.rutaReporte}" value="/WEB-INF/FragmentosReportes/_ReporteEvaluacion.xhtml"/>
                        <f:setPropertyActionListener value="#{eva}" target="#{evaluacionController.selected}"/>
                    </p:commandButton>
                    <p:commandButton update=":eliminarEv" oncomplete="eliminarEvaluacionDlg.show()" icon="ui-icon-trash" disabled="#{!periodoVigente}" title="#{periodoVigente?'Eliminar evaluación' : 'Solo se pueden eliminar evaluaciones del periodo vigente'}">
                        <f:setPropertyActionListener value="#{eva}" target="#{evaluacionController.selected}"/>
                    </p:commandButton>
                </p:column>
            </p:dataTable>
           
            
        </h:form>
        
        <p:dialog id="eliminarEv" header="Confirmación de eliminación" appendToBody="true" modal="true" widgetVar="eliminarEvaluacionDlg">
            <h:form>
                <div class="alert alert-warnig">   
                  <h:outputText  value="Seguro que desea eliminar la siguiente evaluación"/>
                </div>
               <h:panelGrid id="info" columns="2" styleClass="completeWidth" >
                   <h:outputText value="Perido"/>
                   <h:outputText value="#{evaluacionController.selected.idPeriodo}"/>
                   <h:outputText value="Evaluador"/>
                   <h:outputText value="#{evaluacionController.selected.evaluador.nombre} #{evaluacionController.selected.evaluador.apellido}"/>
                   <h:outputText value="Evaluado"/>
                   <h:outputText value="#{evaluacionController.selected.evaluado.nombre} #{evaluacionController.selected.evaluado.apellido}"/>
               </h:panelGrid>
               <hr/>
               <div class="floatRight">
                   <p:commandButton value="Eliminar" update=":mainForm:evaluaciones" oncomplete="eliminarEvaluacionDlg.hide()" action="#{evaluacionController.eliminarEvaluacion()}"/>
                   <p:commandButton value="Cancelar" onclick="eliminarEvaluacionDlg.hide();"/>
               </div>               
            </h:form>
           </p:dialog>

</html>
