<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

   
        <h:form>
            <h:outputText class="lead" value="Evaluaciones Pendientes"/>
            <hr/>
            <h:panelGroup rendered="#{periodoController.periodoVigente == null}">
                <div class="allert alert-info">
                   <h2><h:outputText  value="No existe un periodo de evaluación vigente"/></h2>
                   <h:outputText class="lead" value="Este reporte de monitoreo solo puede ser consultado cuando existe un periodo de evaluación vigente."/>
                </div>
            </h:panelGroup>
            
            
            <p:dataTable rendered="#{periodoController.periodoVigente != null}" value="#{evaluacionController.autoevaluacionesPendientes}" 
                          filteredValue="#{evaluacionController.evaluacionesPendientesFiiltradas}"
                          var="empleado"
                          paginator="true"
                         rows="10"
                         paginatorTemplate="{FirstPageLink} {LastPageLink}
                         {CurrentPageReport} {PageLinks} {RowsPerPageDropdown}"
                         paginatorPosition="bottom"
                         rowsPerPageTemplate="5,10,20,30">
                <f:facet name="header">
                    
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="span8">
                                <h:outputText style="font-size: 18px; display: block !important; width: border-box" value="Auto-evaluaciones pendientes"/>
                            </div>
                            <div class="span3">
                                <p:commandButton  ajax="false" style="float: right;" value="Vista pdf" action=" ">
                                    <f:setPropertyActionListener target="#{reportesMB.rutaReporte}" value="/WEB-INF/FragmentosReportes/_reportePDF.xhtml"/>
                                    <f:setPropertyActionListener target="#{reportesMB.opcion}" value="#{5}"/>
                                </p:commandButton>
                            </div>
                        </div>
                    </div>
                                                       
                </f:facet>
                <p:column filterMatchMode="contains"  filterStyle="width:80%" headerText="Nombre y Apellidos" filterBy="#{empleado.nombre}">
                    <h:outputText style="white-space: pre-line" value="#{empleado.nombre} #{empleado.apellido}"/>
                </p:column>
                <p:column filterBy="#{empleado.centroCosto}"  filterStyleClass="filtroLista" filterMatchMode="exact" filterOptions="#{centroDeCostosController.crearFiltroCentros(centroDeCostosController.listaCentroDeCostos)}" headerText="Centro de costo">
                    <h:outputText style="white-space: pre-line" value="#{empleado.centroCosto.descripcion}"/>
                </p:column>
                <p:column filterStyleClass="filtroLista" headerText="Cargo" filterBy="#{empleado.idCargo}"  filterMatchMode="exact" filterOptions="#{cargosController.crearFiltroCargos(cargosController.listaCargos)}">
                    <h:outputText style="white-space: pre-line" value="#{empleado.idCargo.descripcion}"/>
                </p:column>

            </p:dataTable>
            <br/>
            <br/>
            <p:dataTable rendered="#{periodoController.periodoVigente != null}" resizableColumns="true" value="#{evaluacionController.evaluacionesSubordinadosPendientes}" var="empleado"
                         filteredValue="#{evaluacionController.evaluacionesASubordinadosPendientesFiltradas}"
                         paginator="true"
                         rows="10"
                         paginatorTemplate="{FirstPageLink} {LastPageLink}
                         {CurrentPageReport} {PageLinks} {RowsPerPageDropdown}"
                         paginatorPosition="bottom"
                         rowsPerPageTemplate="5,10,20,30">
                <f:facet  name="header">
                    <div class="container-fluid">
                            <div class="row-fluid">
                                <div class="span8">
                                    <h:outputText style="font-size: 18px; display: block !important; width: border-box" value="Evaluaciones a subordinados(as) pendientes"/>
                                </div>
                                <div class="span3">
                                    <p:commandButton  ajax="false" style=" float: right;" value="Vista pdf" action=" ">
                                         <f:setPropertyActionListener target="#{reportesMB.rutaReporte}" value="/WEB-INF/FragmentosReportes/_reportePDF.xhtml"/>
                                        <f:setPropertyActionListener target="#{reportesMB.opcion}" value="#{6}"/>
                                    </p:commandButton>
                                </div>
                            </div>
                        </div>
                </f:facet>
                <p:column headerText="Nombre del(la) jefe(a)" filterStyle="width:80%" filterMatchMode="contains" filterBy="#{empleado.inssJefe.nombre}">
                    <h:outputText style="white-space: pre-line" value="#{empleado.inssJefe.nombre} #{empleado.inssJefe.apellido}"/>
                </p:column>
                <p:column filterMatchMode="contains"  filterStyle="width:80%" headerText="Nombre del(la) subordinado(a)" filterBy=" #{empleado.nombre}">
                    <h:outputText style="white-space: pre-line" value="#{empleado.nombre} #{empleado.apellido}"/>
                </p:column>
                <p:column filterBy="#{empleado.centroCosto}"  filterStyleClass="filtroLista" filterMatchMode="exact" filterOptions="#{centroDeCostosController.crearFiltroCentros(centroDeCostosController.listaCentroDeCostos)}" headerText="Centro de costo del(la) subordinado(a)">
                    <h:outputText style="white-space: pre-line" value="#{empleado.centroCosto.descripcion}"/>
                </p:column>
            </p:dataTable>
        </h:form>
</html>
