<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">

        <f:metadata>
            <f:event type="preRenderView" listener="#{consultorDePromedios.prepararReporteEmpleadoPorPeriodo()}"/>
        </f:metadata>
        <h:outputText class="lead" value="Historial de los trabajadores"/>
        <hr/>
        
        <h:form id="formuSeleccion">
            <p:messages autoUpdate="true"/>
            <br/>
            
            <p:selectOneMenu filter="true" filterMatchMode="contains" value="#{consultorDePromedios.empleado_promedios_periodos}">
                <f:selectItems   value="#{empleadosController.listaEmpleados}" var="empleado" itemLabel="#{empleado.nombre} #{empleado.apellido}"  itemValue="#{empleado}">
                </f:selectItems>                
                <p:ajax update=":infoReporte,:formuSeleccion,:formuGraficoPromedioEmpleadoPorPeriodo"/>
            </p:selectOneMenu>
        </h:form>
        
        <br/>
        
        <h:form id="infoReporte" style="width: 100%">
            <p:scrollPanel style="min-width: 500px !important"  mode="x">
                <p:dataTable  value="#{consultorDePromedios.empleado_promedios_periodos}"                     
                     var="empleado">            
            
                    <p:column width="250" headerText="Empleado (a)">
                        <h:outputText value="#{empleado.nombre} #{empleado.apellido}"/>
                    </p:column>

                    <p:columns style="background-color: " headerText="#{per.idPeriodo}" var="per" value="#{periodoController.listaPeriodos}">
                        <h:outputText value="#{consultorDePromedios.obtenerPromedioDelEmpleadoPorPeriodo(empleado,per).valor}">
                            <f:convertNumber pattern="#.##"/>
                        </h:outputText>
                    </p:columns>
            
                </p:dataTable>
            </p:scrollPanel>
        </h:form>
        
        <h:form style="height: 100px !important" id="formuGraficoPromedioEmpleadoPorPeriodo">                        
                        
            <p:lineChart maxY="100" minY="0" yaxisLabel="Promedio" seriesColors="503040" value="#{consultorDePromedios.obtenerPromediosTrabajadorPorPeriodoCModel(periodoController.listaPeriodos)}" 
                          zoom="10%"/>
        </h:form>
        
</html>
