<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:jr="http://jasperreportjsf.sf.net/tld/jasperreports-jsf-1_2.tld">

         <h:form id="formImpresion">     
                <jr:reportFrame id="frame" value="#{repController.prepararReporteEvaluacion(evaluacionController.selected.evaluador,
                                                     evaluacionController.selected.evaluado,evaluacionController.selected.idPeriodo , true)}" width="99%" height="100%" style=" height: 100%!important; margin: auto !important;overflow: visible" />
                <p:commandButton icon="ui-icon-print" value="Imprimir" onclick="document.getElementById('mainForm:formImpresion:frame').focus();document.getElementById('mainForm:formImpresion:frame').contentWindow.print();">
                    
                </p:commandButton>                            
            </h:form>

</html>
