<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core">

     <f:metadata>
         <f:event type="preRenderView"  listener="#{seguimientoController.preRenderSeguimiento()}"/>
     </f:metadata>
    
    <h:outputText class="lead" value="Información General del Proceso"/>
    <hr/>
        <c:set var="existePeriodoVigente" value="#{periodoController.hayPeriodoVigente}"/>
        <h:panelGroup rendered="#{!existePeriodoVigente}">
            <div class="alert alert-info">
                <h2><h:outputText  value="No existe un periodo de evaluación vigente"/></h2>
                <h:outputText class="lead" value="Este reporte de monitoreo solo puede ser consultado cuando existe un periodo de evaluación vigente."/>
            </div>
        </h:panelGroup>
        <h:panelGroup rendered="#{existePeriodoVigente}"> 
            <h:form id="filtros">              
                <p:messages autoUpdate="true"/>
                <h:panelGrid columns="2" cellspacing="3">
                    <h:outputText value="Centro de costo"/>
                    <p:selectOneMenu filter="true" filterMatchMode="startsWith" converter="centroCostosControllerConverter" value="#{seguimientoController.filtroCentroCosto}">
                        <f:selectItem itemValue="#{null}" itemLabel="Todos los centros de costo"/>
                        <f:selectItems value="#{centroDeCostosController.listaCentroDeCostos}" var="centro" itemValue="#{centro}" itemLabel="#{centro.descripcion}"/>
                        <p:ajax update=":form" listener="#{seguimientoController.actualizarDatos()}"/>
                    </p:selectOneMenu>                   
                   
                </h:panelGrid>
            </h:form>
            <h:form id="form">
                <p:poll interval="3" listener="#{seguimientoController.actualizarDatos()}" update=":form" />  
                <p:panel header="Completitud del proceso" styleClass="completeWidth" >
                    <h:panelGrid columns="2" styleClass="completeWidth noSeleccionable">
                        <h:panelGroup>
                            <center>
                                <p:pieChart  showDataLabels="true" extender="ext" value="#{seguimientoController.obtenerGraficaGeneral()}" title="Resumen de Evaluaciones Realizadas"  
                                                    legendPosition="nw" style="width:380px;height:300px"/>  
                            </center>
                        </h:panelGroup>
                        <h:panelGroup>
                            <center>
                                <p:panelGrid columns="2" styleClass="completeWidth lead" >                                    
                                    <h:outputText value="Evaluaciones Realizadas"/>
                                    <h:outputText styleClass="lead" value="#{seguimientoController.numEvRealizadas}"/>
                                    <h:outputText value="Evaluaciones Pendientes"/>
                                    <h:outputText  styleClass="lead" value="#{seguimientoController.numEvPendiente}"/>                       
                                </p:panelGrid>                                
                            </center>
                            <p:commandLink value="Consultar evaluaciones realizadas" action="ConsultaEvaluaciones?faces-redirect=true"/><br/><br/>
                            <p:commandLink value="Consultar evaluaciones pendientes"  action="evaluacionesPendientes?faces-redirect=true"/>
                        </h:panelGroup>
                    </h:panelGrid>
                </p:panel>  
               <br/>

               <p:panel header="Evaluaciones impresas y no impresas" styleClass="completeWidth" >
                    <h:panelGrid columns="2" styleClass="completeWidth noSeleccionable">
                        <h:panelGroup>
                            <center>
                                <p:pieChart  showDataLabels="true" extender="ext" value="#{seguimientoController.obtenerGraficaEvaluacionesImpresas()}" title="Resumen de Evaluaciones Impresas"  
                                                    legendPosition="nw" style="width:380px;height:300px"/>  
                            </center>
                        </h:panelGroup>
                        <h:panelGroup>
                            <center>
                                <p:panelGrid columns="2" styleClass="completeWidth lead" >                                   
                                    <h:outputText value="Evaluaciones impresas"/>
                                    <h:outputText styleClass="lead" value="#{seguimientoController.numEvImpresas}"/>
                                    <h:outputText value="Evaluaciones sin imprimir"/>
                                    <h:outputText  styleClass="lead" value="#{seguimientoController.numEvSinImprimir}"/>                       
                                </p:panelGrid>
                            </center>
                            <br/>
                            <p:commandLink value="Consultar evaluacioens impresas y no impresas" action="evaluacionesImpresas-NoImpresas?faces-redirect=true"/>
                        </h:panelGroup>
                    </h:panelGrid>
                </p:panel>    
            </h:form>  
        </h:panelGroup>
        <script type="text/javascript">
            function ext() {
                this.cfg.seriesDefaults.rendererOptions.dataLabelFormatString = '%.4s%%';
                this.cfg.seriesDefaults.rendererOptions.dataLabelThreshold = 0;
            }
        </script>
</html>
