<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <f:metadata>
        <!--<f:event listener="" type="preRenderView"/>-->
    </f:metadata>
   
     <h:form id="formu">
               <h:outputText class="lead" value="Lista de los mejores trabajadores"/>
               <hr/>
               <h:panelGrid columns="3" style="width: 60%" class="noSeleccionable">
                    <p:outputLabel value="Seleccione un periodo" for="listaPromedios"/>
                    <p:selectOneMenu id="listaPromedios"  required="true" value="#{evaluacionController.periodoEvaluacion}">
                        <f:selectItem  itemLabel="Seleccione un periodo..." itemValue=""/>
                        <f:selectItems  value="#{periodoController.listaPeriodos}" var="p" itemLabel="#{p.idPeriodo}" itemValue="#{p}">
                        </f:selectItems>
                    </p:selectOneMenu>
                     <p:commandButton ajax="true" id="botonGenerar" update="formu" value="Actualizar tabla"/>
                </h:panelGrid>
                <p:outputLabel for="botonGenerar"/>               
                <br/>
                <br/>
                
                <p:commandButton value="Exportar a pdf" ajax="false"   action=" ">
                    <f:setPropertyActionListener target="#{reportesMB.rutaReporte}" value="/WEB-INF/FragmentosReportes/_reportePDF.xhtml"/>
                    <f:setPropertyActionListener target="#{reportesMB.opcion}" value="#{7}"/>
                </p:commandButton>
                <br/>      
                <br/> 
                <p:dataTable rendered="#{evaluacionController.obtenerPromedios() != null}" filteredValue="#{evaluacionController.promediosGlobalesFiltrados}" value="#{evaluacionController.obtenerPromedios()}" var="ev"
                             paginator="true"
                             paginatorPosition="bottom"
                             rows="10"
                             rowsPerPageTemplate="10, 20, 50"
                             paginatorTemplate="{FirstPageLink} {LastPageLink}
                             {CurrentPageReport} {PageLinks} {RowsPerPageDropdown}"
                             emptyMessage="No hay resultados disponibles"
                             styleClass="columnaJustificada">
                  
                        
                   
                    <p:column filterMatchMode="contains" filterBy="#{ev.empleado}">
                        <f:facet name="header" >
                            <h:outputText value="Nombre"/>
                        </f:facet> 
                        <h:outputText styleClass="columnaJustificada" value="#{ev.empleado.nombre} #{ev.empleado.apellido}" />
                    </p:column>
                    <p:column filterBy="#{ev.empleado.centroCosto.descripcion}" filterMatchMode="exact" filterOptions="#{centroDeCostosController.crearFiltroCentros(centroDeCostosController.listaCentroDeCostos)}" filterStyleClass="filtroLista">
                        <f:facet name="header">
                            <h:outputText value="Área"/>
                        </f:facet>
                        <h:outputText styleClass="columnaJustificada" value="#{ev.empleado.centroCosto.descripcion}"/>
                    </p:column>
                    <p:column filterStyleClass="filtroLista" headerText="Cargo" filterBy="#{ev.empleado.idCargo.descripcion}" filterOptions="#{cargosController.crearFiltroCargos(cargosController.listaCargos)}">
                        <h:outputText value="#{ev.empleado.idCargo.descripcion}" styleClass="columnaJustificada" />
                    </p:column>
                    <p:column sortBy="#{ev.valor}">
                        <f:facet name="header" >
                            <h:outputText value="Promedio"/>
                        </f:facet>
                        <h:outputText value="#{ev.valor}">
                            <f:convertNumber pattern="#.##"/>
                        </h:outputText>
                    </p:column>
                </p:dataTable>
            </h:form>
            
</html>
