<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:jr="http://jasperreportjsf.sf.net/tld/jasperreports-jsf-1_2.tld"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

        <h:form>        
        <p:panelGrid style="width: 100%">
            <f:facet name="header">
                <p:row rendered="#{!(evaluacionController.selected.evaluador.inss == evaluacionController.selected.evaluado.inss)}">
                    <p:column>Evaluador</p:column>
                    <p:column >Evaluado</p:column>
                    <p:column>Periodo de evaluación</p:column>
                </p:row>
                <p:row rendered="#{(evaluacionController.selected.evaluador.inss == evaluacionController.selected.evaluado.inss)}">
                    <p:column>Autoevaluación</p:column>
                    <p:column>Periodo de evaluación</p:column>
                </p:row>
            </f:facet>

            <p:row rendered="#{!(evaluacionController.selected.evaluador.inss == evaluacionController.selected.evaluado.inss)}">
                <p:column style="text-align: center">
                <h:outputText value="#{evaluacionController.selected.evaluador} "/>
                </p:column>
                <p:column style="text-align: center">
                    <h:outputText value=" #{evaluacionController.selected.evaluado} "/>
                </p:column>
                <p:column style="text-align: center">
                    <h:outputText value="#{evaluacionController.selected.idPeriodo.idPeriodo} "/>
                </p:column>
            </p:row>
            <p:row rendered="#{(evaluacionController.selected.evaluador.inss == evaluacionController.selected.evaluado.inss)}">
                 <p:column style="text-align: center">
                    <h:outputText value=" #{evaluacionController.selected.evaluado} "/>
                </p:column>
                <p:column style="text-align: center">
                    <h:outputText value="#{evaluacionController.selected.idPeriodo.idPeriodo} "/>
                </p:column>
            </p:row>
        </p:panelGrid>
        <br/>  
       <p:dataTable value="#{evaluacionController.listaCriteriosTipoEmpleado}" var="criterio" rowIndexVar="criterioIndex" >
          <p:columnGroup type="header">
            <p:row>
                <p:column headerText="Preguntas" />
                <p:column headerText="Puntaje máximo"/>
                <p:column headerText="Puntaje asignado" />   
                <p:column headerText="Valoración" />  
            </p:row>
            </p:columnGroup>
            <p:subTable value="#{criterio.preguntaCerradaCollection}"  var="pregunta">           
                    <c:set var="dpc" value="#{evaluacionController.obtenerDetalleEvaNivelPregunta(pregunta)}"/>
                    <c:set var="indiceRPC" value="#{evaluacionController.indicesRPC.get(pregunta.idPregunta)}"/>
                    <c:set var="rpc" value="#{evaluacionController.selected.respuestaPreguntaCerradaCollection.get(indiceRPC)}"/>
                    <c:set var="valorPregunta" value="#{dpc.valor}"/>
                    <c:set var="puntajeAsignado" value="#{rpc.escala.valor * valorPregunta}"/>                                                                    }"/>


                    <f:facet name="header">  
                          #{criterioIndex+1}. #{criterio.descripcion}
                    </f:facet>            
                    <p:column style="white-space: pre-line;text-align: justify;padding-left: 25px;width: 75%">  
                           <h:outputText value="#{dpc.descripcion}" /> 
                    </p:column>   

                    <p:column style="white-space: pre-line;text-align: right;padding-right: 80px;width: 5%">
                         <h:outputText value="#{valorPregunta}"> 
                             <f:convertNumber pattern="#.##"/>
                         </h:outputText> 
                    </p:column>
                    <p:column style="white-space: pre-line;text-align: right;padding-right: 80px;width: 5%">
                        <h:outputText value="#{puntajeAsignado}">
                            <f:convertNumber pattern="#.##"/>
                        </h:outputText> 
                    </p:column>
                    <p:column style="white-space: pre-line;text-align: justify;padding-left: 25px;width: 15%">                 
                        <h:outputText value="#{rpc.escala.descripcion}"/>
                    </p:column> 

                </p:subTable>
                
            </p:dataTable>
        <p:panelGrid styleClass="completeWidth">
            <f:facet name="header">
                <p:row>
                    <p:column style="width:  76.2% !important">
                        Total
                    </p:column>
                    <p:column style="width:  9.8% !important">
                        
                        <h:outputLabel value="#{evaluacionController.puntajeTotal}">
                            <f:convertNumber pattern="#.##"/>
                        </h:outputLabel>
                        
                    </p:column>
                    <p:column style="width:  14% !important">
                        #{evaluacionController.getPuntajeCualitativo().descripcion}
                    </p:column>
                </p:row>
            </f:facet>
        </p:panelGrid>
                 
            <br/>

             <p:dataTable rendered="#{not empty evaluacionController.selected.respuestaPreguntaAbiertaCollection}" emptyMessage="No hay preguntas abiertas para mostrar" value="#{evaluacionController.selected.respuestaPreguntaAbiertaCollection}" var="rpa">
                 <f:facet name="header">
                     <h:outputText value="Preguntas abiertas"/>
                 </f:facet>
                 <p:column headerText="Pregunta abierta" style="white-space: pre-line;text-align: justify;padding-left: 25px;width: 60%">
                     <h:outputText value="#{rpa.preguntaAbierta.descripcion}"/>
                 </p:column>
                 <p:column headerText="Respuesta" style="white-space: pre-line;text-align: justify;padding-left: 25px;width: 40%">
                     <h:outputText value="#{rpa.descripcion}"/>
                 </p:column>
             </p:dataTable>


             <p:panel rendered="#{evaluacionController.selected.capacitacionesCollection.size()>0}" style="padding-top: 20px !important" header="Recomendaciones">
                 <c:forEach items="#{evaluacionController.selected.capacitacionesCollection}" var="capa">
                     <div class="hero-unit">
                     <h:outputText class="mylead" value="#{capa.descripcion}"/>
                     <br/>
                     </div>
                 </c:forEach>
             </p:panel>
        </h:form>
    
</html>
