<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:jr="http://jasperreportjsf.sf.net/tld/jasperreports-jsf-1_2.tld">

            <h:form rendered="#{reportesMB.opcion!=0}" id="formularioReportes" style="border: none; border-style: hidden !important">
                      
                      <jr:reportFrame rendered="#{reportesMB.opcion!=0}" value="/Reportes/Evaluaciones/PromediosPorCriterio.jasper" id="PbCReport" source="#{reportesMB.seleccionarMetodo(reportesMB.opcion)}" format="pdf" width="99%" height="540" style="margin: auto !important;" />
            </h:form>


</html>

