<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:jr="http://jasperreportjsf.sf.net/tld/jasperreports-jsf-1_2.tld"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

          
    <h:form id="printForm">
               <h:outputText class="lead" value="Consulta de evaluación"/>
               <hr/>
               
               <h:panelGrid columns="5" styleClass="noSeleccionable completeWidth" columnClasses="col20,col10,col10,col10,col50 floatRight">
                   <p:commandButton icon="ui-icon-seek-prev" value="Lista evaluaciones" title="Lista de evaluaciones" action=" " ajax="false">
                         <f:setPropertyActionListener target="#{reportesMB.rutaReporte}" value="/WEB-INF/FragmentosReportes/_EvaluacionesRealizadas.xhtml"/>
                   </p:commandButton>
                     <p:commandButton ajax="false" icon="ui-icon-arrowstop-1-s" title="Descargar" value="Descargar" action="#{repController.prepararReporteEvaluacion(evaluacionController.selected.evaluador,
                                          evaluacionController.selected.evaluado, evaluacionController.selected.idPeriodo, false)}"/>
                     <p:commandButton icon="ui-icon-print" value="Imprimir" onclick="document.getElementById('mainForm:formImpresion:frame').focus();
                                                                                document.getElementById('mainForm:formImpresion:frame').contentWindow.print();"
                                                                                                                                       disabled='#{evaluacionController.vistaHTML}'/>
                      <p:commandButton type="button" icon="ui-icon-trash" value="Eliminar" onclick="eliminarEvaluacionDlg.show();" disabled="#{!evaluacionController.selected.idPeriodo.equals(periodoController.periodoVigente)}" title="#{periodoVigente?'Eliminar evaluación' : 'Solo se pueden eliminar evaluaciones del periodo vigente'}"/>
                     <p:selectOneButton  value="#{evaluacionController.vistaHTML}" >  
                                  <f:selectItem itemLabel="Vista HTML" itemValue="#{true}" />  
                                  <f:selectItem itemLabel="Vista de Impresión" itemValue="#{false}" />  
                                  <p:ajax oncomplete="location.reload()" />
                     </p:selectOneButton>
                </h:panelGrid>
           </h:form>

     
           <h:form id="mainForm" style="height: 95%">
                <h:panelGroup style="height: 100%" rendered="#{evaluacionController.vistaHTML}" >
                    <ui:include  src="_ReporteEvaluacionFragment.xhtml"/>
                </h:panelGroup>
                <h:panelGroup style="height: 100%" rendered="#{!evaluacionController.vistaHTML}" >
                    <ui:include rendered="false" src="_ImpresionEvaluacionFragment.xhtml"/>
                </h:panelGroup>
           </h:form>
    <!--<h:form>-->
           <p:dialog header="Confirmación de eliminación" modal="true" appendToBody="true" widgetVar="eliminarEvaluacionDlg">
               <h:form>
                   <div class="alert alert-warnig">   
                        <h:outputText  value="Seguro que desea eliminar la siguiente evaluación"/>
                    </div>
               <h:panelGrid columns="2">
                   <h:outputText value="Perido"/>
                   <h:outputText value="#{evaluacionController.selected.idPeriodo}"/>
                   <h:outputText value="Evaluador"/>
                   <h:outputText value="#{evaluacionController.selected.evaluador}"/>
                   <h:outputText value="Evaluado"/>
                   <h:outputText value="#{evaluacionController.selected.evaluado}"/>
               </h:panelGrid>
                   <hr/>
               <div class="floatRight">
                   <!--<h:form>-->
                   <p:commandButton value="Eliminar" action="#{evaluacionController.eliminarEvaluacion()}" ajax="false" oncomplete="eliminarEvaluacionDlg.hide();" >
                       <f:setPropertyActionListener target="#{reportesMB.rutaReporte}" value="/WEB-INF/FragmentosReportes/_EvaluacionesRealizadas.xhtml"/>
                   </p:commandButton>
                   <p:commandButton value="Cancelar" onclick="eliminarEvaluacionDlg.hide();"/>
                   <!--</h:form>-->
               </div>
               </h:form>
           </p:dialog>
    <!--</h:form>-->

</html>
