<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:form>         
        <p:panelMenu style="width: border-box !important" >
               
                <p:submenu style="width: border-box;" label="Monitoreo" >                   
                    <p:menuitem action=" " style="width: border-box" value="Información general periodo vigente" ajax="false">
                        <f:setPropertyActionListener target="#{reportesMB.rutaReporte}" value="/WEB-INF/FragmentosReportes/_informacionGeneral.xhtml"/>
                    </p:menuitem>
                    <p:menuitem action=" " style="width: border-box" value="Evaluaciones Realizadas" ajax="false">
                         <f:setPropertyActionListener target="#{reportesMB.rutaReporte}" value="/WEB-INF/FragmentosReportes/_EvaluacionesRealizadas.xhtml"/>
                    </p:menuitem> 
                    <p:menuitem action=" " style="width: border-box" value="Evaluaciones pendientes" ajax="false">
                         <f:setPropertyActionListener target="#{reportesMB.rutaReporte}" value="/WEB-INF/FragmentosReportes/_evaluacionesPendientes.xhtml"/>
                    </p:menuitem>
                    <p:menuitem action=" " style="width: border-box" value="Reporte sobre impresión de evaluaciones" ajax="false">
                         <f:setPropertyActionListener target="#{reportesMB.rutaReporte}" value="/WEB-INF/FragmentosReportes/_evaluacionesImpresas-NoImpresas.xhtml"/>
                    </p:menuitem> 
                </p:submenu>
                <p:submenu style="width: border-box;" label="Evaluaciones" >                   
                    <p:menuitem action=" " style="width: border-box" value="Reporte de los mejores trabajadores" ajax="false" >
                        <f:setPropertyActionListener target="#{reportesMB.rutaReporte}" value="/WEB-INF/FragmentosReportes/_promediosPorEmpleado.xhtml"/> 
                    </p:menuitem>
                     </p:submenu>
               <p:submenu label="Otros">
                   <p:menuitem action=" " value="Historial de los trabajadores" ajax="false">
                        <f:setPropertyActionListener target="#{reportesMB.rutaReporte}" value="/WEB-INF/FragmentosReportes/_HistorialdelTrabajador.xhtml"/>
                   </p:menuitem>
                   <p:menuitem action=" " style="width: border-box"  value="Capacitaciones solicitadas" ajax="false">
                       <f:setPropertyActionListener target="#{reportesMB.rutaReporte}" value="/WEB-INF/FragmentosReportes/_Capacitaciones.xhtml"/>
                       <f:setPropertyActionListener target="#{reportesMB.opcion}" value="#{4}"/>
                   </p:menuitem>
                   
              </p:submenu>
  
                   <p:separator/>
        </p:panelMenu>
        
        
            </h:form>
            
</html>

