<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditCapacitacionesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditCapacitacionesLabel_idCapacitacion}" for="idCapacitacion" />
                    <h:inputText id="idCapacitacion" value="#{capacitacionesController.selected.idCapacitacion}" title="#{bundle.EditCapacitacionesTitle_idCapacitacion}" required="true" requiredMessage="#{bundle.EditCapacitacionesRequiredMessage_idCapacitacion}"/>
                    <h:outputLabel value="#{bundle.EditCapacitacionesLabel_descripcion}" for="descripcion" />
                    <h:inputTextarea rows="4" cols="30" id="descripcion" value="#{capacitacionesController.selected.descripcion}" title="#{bundle.EditCapacitacionesTitle_descripcion}" />
                </h:panelGrid>
                <h:commandLink action="#{capacitacionesController.update}" value="#{bundle.EditCapacitacionesSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditCapacitacionesViewLink}"/>
                <br />
                <h:commandLink action="#{capacitacionesController.prepareList}" value="#{bundle.EditCapacitacionesShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditCapacitacionesIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
