<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListCapacitacionesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListCapacitacionesEmpty}" rendered="#{capacitacionesController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{capacitacionesController.items.rowCount > 0}">
                    <h:outputText value="#{capacitacionesController.pagination.pageFirstItem + 1}..#{capacitacionesController.pagination.pageLastItem + 1}/#{capacitacionesController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{capacitacionesController.previous}" value="#{bundle.Previous} #{capacitacionesController.pagination.pageSize}" rendered="#{capacitacionesController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{capacitacionesController.next}" value="#{bundle.Next} #{capacitacionesController.pagination.pageSize}" rendered="#{capacitacionesController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{capacitacionesController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCapacitacionesTitle_idCapacitacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.idCapacitacion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCapacitacionesTitle_descripcion}"/>
                            </f:facet>
                            <h:outputText value="#{item.descripcion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{capacitacionesController.prepareView}" value="#{bundle.ListCapacitacionesViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{capacitacionesController.prepareEdit}" value="#{bundle.ListCapacitacionesEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{capacitacionesController.destroy}" value="#{bundle.ListCapacitacionesDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{capacitacionesController.prepareCreate}" value="#{bundle.ListCapacitacionesCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListCapacitacionesIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
