<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewCapacitacionesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewCapacitacionesLabel_idCapacitacion}"/>
                    <h:outputText value="#{capacitacionesController.selected.idCapacitacion}" title="#{bundle.ViewCapacitacionesTitle_idCapacitacion}"/>
                    <h:outputText value="#{bundle.ViewCapacitacionesLabel_descripcion}"/>
                    <h:outputText value="#{capacitacionesController.selected.descripcion}" title="#{bundle.ViewCapacitacionesTitle_descripcion}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{capacitacionesController.destroyAndView}" value="#{bundle.ViewCapacitacionesDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewCapacitacionesEditLink}"/>
                <br />
                <h:commandLink action="#{capacitacionesController.prepareCreate}" value="#{bundle.ViewCapacitacionesCreateLink}" />
                <br />
                <h:commandLink action="#{capacitacionesController.prepareList}" value="#{bundle.ViewCapacitacionesShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewCapacitacionesIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
