<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="title">
        Agregar Capacitación
        <f:metadata>
            <f:event type="preRenderView" listener="#{capacitacionesController.inicializar()}"/>
        </f:metadata>
    </ui:define>

    <ui:define name="sidebar">
         <ui:include src="_sideBarCapacitaciones.xhtml" />
    </ui:define>
    <ui:define name="headerContent">
        <div class="floatRight">
            <p:commandButton  value="Guardar Capacitación" onclick="guardar()"/> 
            <p:commandButton value="Regresar" action="ListaCapacitaciones?faces-redirect=true"/>
        </div>
    </ui:define>
    <ui:define name="body">
        <p:growl autoUpdate="true" />
        
        
        <h:form id="principal">
            
            
       
                <h:outputText value="Descripción" />
                <p:inputText value="#{capacitacionesController.current.descripcion}" required="true" requiredMessage="Debe ingresar una descripción para la nueva Capacitación" />
                <hr />
            
            <p:panel header="Asignar áreas">
                
                <p:dataTable id="listaCentrosdeCosto" value="#{capacitacionesController.listaCentroCostos}" var='ccostos' emptyMessage="No se han asignado centros de costos">
                    <p:column headerText="Id">
                        <h:outputText value="#{ccostos.idCentrocostos}" />
                    </p:column>
                    
                    <p:column headerText="Descripción">
                        <h:outputText value="#{ccostos.descripcion}" />
                    </p:column>   

                </p:dataTable>
                <hr />
                <p:commandButton value="Agregar Área" onclick="dlgAsignacion.show()" />
                <p:commandButton value="Asignar a todos" action="#{capacitacionesController.agregarArea()}" update=":principal:listaCentrosdeCosto :formDialog:listaAllCC"/>
                
            </p:panel> 

              <p:remoteCommand action="#{capacitacionesController.create()}" name="guardar"/>
        </h:form>
        
        <p:dialog header="Agregue el Centro de Costos" widgetVar="dlgAsignacion" >  
            <h:form id="formDialog" style="height: 400px">  
  
        <p:dataTable id="listaAllCC" value="#{capacitacionesController.allCentroCostos}" var="ccostos" emptyMessage="Se han añadido todos los centros de costo." >
            
            <p:column headerText="Id">
                <h:outputText value="#{ccostos.idCentrocostos}" />
            </p:column>
            
            <p:column headerText="Descripción">
                <h:outputText value="#{ccostos.descripcion}" />
            </p:column> 
            
            <p:column headerText="Acción">
                <p:commandButton action="#{capacitacionesController.agregarArea(ccostos)}" icon="ui-icon-plus" update=":principal:listaCentrosdeCosto :formDialog:listaAllCC" />
            </p:column>
        </p:dataTable>
        
          
              
    </h:form>  
</p:dialog>  

    </ui:define>

</ui:composition>
