<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template.xhtml">

    <ui:define name="title">
        Eliminar Capacitación
    </ui:define>

    <ui:define name="sidebar">
         <ui:include src="_sideBarCapacitaciones.xhtml" />
    </ui:define>

    <ui:define name="body">
        body
    </ui:define>

</ui:composition>
