<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="title">
        Capacitaciones 
    </ui:define>

    <ui:define name="sidebar">
        <ui:include src="_sideBarCapacitaciones.xhtml" />
    </ui:define>
    <ui:define name="headerContent">
        <p:commandButton styleClass="floatRight" action="#{capacitacionesController.prepareCreate()}" value="Crear Nueva Capacitación"/>
    </ui:define>
    <ui:define name="body">
        <h:form id="principal">
            <p:growl autoUpdate="true" />
            
            <p:dataTable emptyMessage="No se han definido  capacitaciones" value="#{capacitacionesController.listaCapacitaciones}" var="capacitacion" id="listaCapacitaciones" >
        
            <p:column headerText="Id Capacitacion">
                <h:outputText value="#{capacitacion.idCapacitacion}" />
            </p:column>
        
            <p:column headerText="Descripción" >
                <h:outputText value="#{capacitacion.descripcion}" />
            </p:column>
            
            <p:column headerText="Acciones" >
                <p:commandButton title="Ver" icon="ui-icon-search" action="VerCapacitacion?faces-redirect=true">
                    <f:setPropertyActionListener value="#{capacitacion}" target="#{capacitacionesController.current}"/>
                </p:commandButton>
                
                 <p:commandButton oncomplete="confirmation.show()" update=":confirmForm" title="Eliminar" icon="ui-icon-trash">
                     <f:setPropertyActionListener value="#{capacitacion}" target="#{capacitacionesController.current}"/>
                 </p:commandButton>
            </p:column>
        
        </p:dataTable>
            
            </h:form>
               <p:dialog id="confirmDialog"  header="Confirmacion de Eliminacion" modal="true" widgetVar="confirmation" appendToBody="true" >  
                    <h:form id="confirmForm">
                        <h:outputText value="Seguro que desea eliminar la capacitación"/>
                         
                         <p:separator/>
                        
                        <p:commandButton ajax="true" id="confirm" update=":principal:listaCapacitaciones" value="Si" oncomplete="confirmation.hide()"  
                                         actionListener="#{capacitacionesController.performDestroy()}" />  
                        <p:commandButton id="decline" value="No" onclick="confirmation.hide()" type="button" />   
                     </h:form>
               </p:dialog> 
        <hr />
        
    </ui:define>

</ui:composition>
