<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">
        Ver Capacitación
    </ui:define>

    <ui:define name="sidebar">
         <ui:include src="_sideBarCapacitaciones.xhtml" />
    </ui:define>
    <ui:define name="headerContent">
        <h:form styleClass="floatRight" style="margin-bottom: 0">
            <p:commandButton value="Regresar a la Lista de Capacitaciones" action="ListaCapacitaciones.xhtml?faces-redirect=true" />   
        </h:form>
    </ui:define>
    <ui:define name="body">
        <p:panel header="Detalle Capacitación">
        <h:outputText value="#{capacitacionesController.current.idCapacitacion}" />
        <h:outputText value="#{capacitacionesController.current.descripcion}" />
        </p:panel>
        <br />
        <br />
        <h3>Áreas Asignadas</h3>
        <p:dataList value="#{capacitacionesController.current.centroDeCostosList}" var="area">
        #{area.descripcion}      
        </p:dataList>
        <hr />

        
    </ui:define>

</ui:composition>
