<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../template.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="title">
        <h:outputText value="recomendaciones de período"/>
    </ui:define>

    <ui:define name="head">
        head
    </ui:define>

    <ui:define name="sidebar">
        sidebar
    </ui:define>


    <ui:define name="headerContent">
        headerContent
    </ui:define>

    <ui:define name="body">
        <p:dataTable value="#{empleadosController.empleadosConEvaluacionesPorPeriodo}" var="empleado"
                     filteredValue="#{empleadosController.empleadosConEvaluacionesPorPeriodoFiltrados}"
                     paginator="true"
                     paginatorPosition="top"
                     rows="10"
                     paginatorTemplate="{FirstPageLink} {LastPageLink}
                     {CurrentPageReport} {PageLinks} {RowsPerPageDropdown}"
                     rowsPerPageTemplate="5,10,20,30"
                     emptyMessage="No hay evaluaciones en este período"
                     >
            
            <p:column
                filterBy="#{empleado.nombre}"
                      filterMatchMode="startsWith">
                <f:facet name="header">
                    <h:outputText value="Nombre"></h:outputText>
                </f:facet>
                      
                #{empleado.nombre}
            </p:column>
            
            <p:column>
                #{empleado.apellido}
            </p:column>
            
            <p:column headerText="Centro de costos">
                #{empleado.centroCosto.descripcion}
            </p:column>
            
            
            <p:column headerText="recomendaciones por evaluación">
                <ui:repeat value="#{empleado.evaluacionCollection1}" var="eva" varStatus="status">
                    <p:panelGrid columns="3">
                        <h:outputText value="#{eva.idEvaluacion}"></h:outputText>
                        <h:outputText value="Evaluador: #{eva.evaluador.nombre} #{eva.evaluador.apellido}"></h:outputText>
                        <p:dataTable  value="#{eva.capacitacionesCollection}" var="capa"
                                      emptyMessage="No recomendó">
                            
                            <p:column headerText="Cursos">
                                #{capa.descripcion}
                            </p:column>
                        </p:dataTable>
                    </p:panelGrid>
                </ui:repeat>
            </p:column>
        </p:dataTable>
    </ui:define>

</ui:composition>
