<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="title">
        Alimentación de la base de datos.
    </ui:define>



    <ui:define name="sidebar">
      
    </ui:define>

    <ui:define name="body">
        
        <p:growl id="messages" showDetail="true"/>
        <p:panel header="selección de archivo">
            <p:commandButton  id="boton" value="Seleccione el archivo" onclick="dlg.show();" oncomplete="dialog.show()" type="button"/> 
        </p:panel>
                <br/>
                <br/>
        <p:outputLabel value="#{fileController.archivo.fileName}"/>
        
        
        <p:dialog modal="true" height="100" width="500" id="dialogo" header="Selección de archivo de alimentación" widgetVar="dlg" appendToBody="true" closable="true" >  
            
            <h:form  enctype="multipart/form-data">
                
                <p:fileUpload allowTypes="/(\.|\/)(XLS|XLSX)$/"  mode="simple"  value="#{fileController.archivo}"/>
                <br/>
                <br/>
                <p:commandButton value="Subir..." update="messages" actionListener="#{fileController.cargar()}" ajax="false"/>                
            </h:form>
        </p:dialog>
        
        
    </ui:define>

</ui:composition>
