<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:h="http://java.sun.com/jsf/html"  
    xmlns:f="http://java.sun.com/jsf/core"  
    xmlns:p="http://primefaces.org/ui"> 
    <h:head>
        <title>Cultura UCA</title>
    </h:head>
    <h:body>
        <h:form>
            <p:menubar style="font-size: medium">
            <p:menuitem value="Inicio" icon="ui-icon-home"/>
            <p:menuitem value="Noticias"/>
            <p:menuitem value="Blogs"/>
            <p:menuitem value="Columnas"/>
            <p:menuitem value="Cultura"/>
                <p:submenu label="Talleres">
                    <p:menuitem value="Musica"/>
                    <p:menuitem value="Danza"/>
                    <p:menuitem value="Canto"/>
                    <p:menuitem value="Coro"/>
                    <p:menuitem value="Teatro"/>
                </p:submenu>
        </p:menubar>
        </h:form>
    </h:body>
</html>

