<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        <title> SED360 -  <ui:insert name="title">Nueva Pagina</ui:insert> </title>
        <h:outputStylesheet name="css/style.css"/>
        <h:outputStylesheet name="css/bootstrap.min.css"/> 
        <h:outputStylesheet name="css/EstiloDeTablas.css"/>
   </h:head>
    
    <h:body>  
            <f:metadata>
                <f:event type="preRenderView"  listener="#{sessionMB.validarPermisosUsuario()}"/>
            </f:metadata>
            <p:layout fullPage="true" >
                 

               <p:layoutUnit position="north"  size="50" collapsible="false" closable="false" resizable="false">
                   <h:form id="MenuPrincipal" >
                            <p:tabMenu activeIndex="#{utilMB.indexMenu}"  style="width: 100%">                              
                                <p:menuitem value="Inicio" action="/Index?faces-redirect=true" icon="ui-icon-home">
                                        <f:setPropertyActionListener target="#{utilMB.indexMenu}" value="#{0}" />
                               </p:menuitem>
                               <p:menuitem value="Planes Estratégicos" action="/planEstrategico/PlanesEstrategicos?faces-redirect=true">
                                    <f:setPropertyActionListener target="#{utilMB.indexMenu}" value="#{1}" />
                                </p:menuitem> 
                                <p:menuitem value="Instrumentos" action="/instrumentos/ListaInstrumentos?faces-redirect=true">
                                    <f:setPropertyActionListener target="#{utilMB.indexMenu}" value="#{2}" />
                                </p:menuitem>
                                <p:menuitem value="Ponderaciones" action="/ponderacion/ListaPonderaciones?faces-redirect=true">
                                    <f:setPropertyActionListener target="#{utilMB.indexMenu}" value="#{3}" />
                                </p:menuitem>
                                <p:menuitem value="Periodos" action="/periodo/ListaPeriodos?faces-redirect=true">
                                    <f:setPropertyActionListener target="#{utilMB.indexMenu}" value="#{4}" />
                                </p:menuitem>                              
                                <p:menuitem value="Capacitaciones" action="/capacitaciones/ListaCapacitaciones?faces-redirect=true">
                                    <f:setPropertyActionListener target="#{utilMB.indexMenu}" value="#{5}" />
                                </p:menuitem>
                                <p:menuitem value="Empleados" action="/empleados/ListaEmpleados.xhtml?faces-redirect=true">
                                    <f:setPropertyActionListener target="#{utilMB.indexMenu}" value="#{(periodoController.hayPeriodoVigente) ?  8 :  6}" />
                                </p:menuitem>
                                
                                <p:menuitem value="Usuarios" action="/usuarios/ListaUsuarios.xhtml?faces-redirect=true">
                                    <f:setPropertyActionListener target="#{utilMB.indexMenu}" value="#{7}" />
                                </p:menuitem>

                                <p:menuitem value="Reportes" action="/Reportes/ExportacionReportes_1.xhtml?faces-redirect=true">
                                    <f:setPropertyActionListener target="#{utilMB.indexMenu}" value="#{(periodoController.hayPeriodoVigente) ?  9 :  7}" />                                    
                                </p:menuitem>
                              
                                <p:menuitem value="Evaluar" action="/evaluacion/SeleccionarEvaluacion?faces-redirect=true" rendered="#{periodoController.hayPeriodoVigente and sessionMB.esEmpleado}"> 
                                    <f:setPropertyActionListener target="#{utilMB.indexMenu}" value="#{9}" />
                                </p:menuitem>
                             
                            </p:tabMenu>
                 
                             
                        </h:form>
                  
                   <div class="panelSalirSesion" >  
                                 <h:form>
                                     <h:outputText class="nombreUsuario" value="#{sessionMB.obtenerNombre()}  "/>
                                      <br/>
                                      <u> <p:commandLink  value="Salir" action="#{sessionMB.logout()}" style="font-style: oblique; color: #003bb3"/> </u>
                                </h:form>
                            </div>
                    
                </p:layoutUnit>

               
                <p:layoutUnit id="barra" position="west" size="200" header="Seleccione reporte a imprimir" collapsible="false">
                    <ui:insert name="sidebar">
                        
                    </ui:insert>
                </p:layoutUnit>

                <p:layoutUnit id="panelcentral"  position="center">    
                    <ui:insert name="body" >Default Body</ui:insert>
                </p:layoutUnit>
            </p:layout>

        
    </h:body>

</html>
