<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:jr="http://jasperreportjsf.sf.net/tld/jasperreports-jsf-1_2.tld">
    
    <ui:composition template="./../WEB-INF/PlantillaEvaluacion.xhtml">
        <link rel="stylesheet" href="css/print.css" type="text/css" media="print" />
        
        <ui:define class="noImpresion" name="title">
            <h:outputText value="Vista previa de impresión"></h:outputText>
        </ui:define>
        
        <ui:define class="noImpresion" name="top">
            Vista previa de impresión de reportes de evaluación
        </ui:define>
        <ui:define class="noImpresion" name="content">
            <h:form>
                <jr:reportFrame id="reporteForm" source="#{reportesMB.seleccionarMetodo(reportesMB.opcion)}" value="/Reportes/Evaluaciones/evaluacionesImpresas.jasper" format="pdf" width="99%" height="500" style="margin: auto !important;" />
            </h:form>
                <br/>
                <br/>      
            <h:form class="noImpresion" >
                <p:commandButton ajax="false" value="Regresar" action="ExportacionReportes?faces-redirect=true" />
            </h:form>
          
        </ui:define>
    </ui:composition>

</html>
