<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:jr="http://jasperreportjsf.sf.net/tld/jasperreports-jsf-1_2.tld">
    <ui:composition template="./../template.xhtml">
        <ui:define name="title">
            <h:outputText value="Reportes"/>
        </ui:define>
        
        <ui:define name="body">
            <ui:include src="#{reportesMB.rutaReporte}"/>
        </ui:define>
        <ui:define name="sidebar">
            <ui:include src="/WEB-INF/FragmentosReportes/_sideBarReportes_1.xhtml"/>
        </ui:define>
        
    </ui:composition>

</html>

