<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
         <link rel="shortcut icon" href="resources/img/favicon.ico" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="refresh" content="1801"/> 
        <title> SED360 - Reportes</title>
        
        <h:outputStylesheet name="css/style.css"/>
        <h:outputStylesheet name="css/bootstrap.min.css"/> 
        <h:outputStylesheet name="css/EstiloDeTablas.css"/>
    </h:head>

    <h:body>

        <p:layout fullPage="true">
            <p:layoutUnit position="north">
                <h:panelGroup >
                        <h:form style="text-align: right">
                                <h:outputText id="nombreUsuario" value="Autenticado(a) como: "/>
                                <p:menuButton id="btnSalir"  value="#{sessionMB.nombreCorto}"  >
                                    <p:menuitem action="#{sessionMB.logout()}" value="Salir" icon="ui-icon-power"/>
                                    <p:separator/>
                                    <p:menuitem action="/Index?faces-redirect=true" icon="ui-icon-home" value="Panel de admón" rendered="#{sessionMB.currentUserAdmin}">
                                        <f:setPropertyActionListener value="#{0}" target="#{utilMB.indexMenu}"/>
                                    </p:menuitem>
                                </p:menuButton>
                            </h:form>
                    </h:panelGroup>   
                <h:panelGrid columns="3" styleClass= "noSeleccionable  completeWidth" columnClasses="col20  nopadding,col60 center-text nopadding,col20 nopadding ">
                    <h:graphicImage value="/resources/logo-uca.png"  width="81"  height="81" style="float: left;padding: 0;margin-left: 20px;" />
                        <h:panelGroup class="tittleTop" >
                            <center> 
                                <div class="tituloSed">Sistema de Evaluación del Desempeño</div>
                                
                            </center>
                        </h:panelGroup>
                    <h:graphicImage value="/resources/logo_jesuita.png" width="86" height="64" style="float: right;padding-right: 20px;margin: 0;width: " />
                    </h:panelGrid>  
            </p:layoutUnit>
            <p:layoutUnit position="west">
                 <ui:include src="/WEB-INF/FragmentosReportes/_sideBarReportes_1.xhtml"/>
            </p:layoutUnit>
            <p:layoutUnit position="center" style="padding-left: 15px;padding-top: 15 px;">
                <ui:include src="#{reportesMB.rutaReporte}"/>
            </p:layoutUnit>
        
        </p:layout>
    </h:body>

</html>
