<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
            <h:form>         
               <p:menu style="width: 100%">

                   
                <p:submenu label="Enlaces Relacionados">
                    <p:menuitem value="Lista Inst. de Evaluación" action="ListaInstrumentos?faces-redirect=true" icon="ui-icon-note">
                        <f:setPropertyActionListener value="#{planEstrategicoController.lastPlan}" target="#{definicionInstrumentosMB.planADefinir}"/>
                    </p:menuitem>
                    <p:menuitem value="Planes Estratégicos" action="/planEstrategico/PlanesEstrategicos?faces-redirect=true" icon="ui-icon-note">
                         <f:setPropertyActionListener target="#{utilMB.indexMenu}" value="#{1}" />
                    </p:menuitem>    
                    <p:menuitem value="Periodos de Evaluación" action="/periodo/ListaPeriodos?faces-redirect=true" icon="ui-icon-note">
                         <f:setPropertyActionListener target="#{utilMB.indexMenu}" value="#{4}" />
                    </p:menuitem> 
                </p:submenu>                   
             </p:menu>
           </h:form>
            
</html>

