<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template.xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">
    
  
    <ui:define name="title">
        Definición del instrumento #{definicionInstrumentosMB.instrumentoTipoEmpADefinir.descripcion} en el plan: #{definicionInstrumentosMB.planADefinir.descripcion}         
    </ui:define>

    <ui:define name="sidebar">
        <ui:include src="_sideBarInstrumentos.xhtml" />
    </ui:define>
    
    <ui:define name="headerContent">  
          <br/>
          <h:form id="formHeader" style="margin-bottom: 0">
             <h:panelGrid columns="4" style="width: 100%;" styleClass="noSeleccionable" columnClasses="col10,col70,col10,col10">
                 <p:commandButton icon="ui-icon-note" type="button" id="indice" value="Indice"/>                         
              <p:selectBooleanCheckbox itemLabel="Distribuir puntajes automáticamente" value="#{definicionInstrumentosMB.distribuirPuntajePC}"><p:ajax/></p:selectBooleanCheckbox>
              <p:commandButton type="button" value="Guardar" onclick="guardarInstrumento();" icon="ui-icon-disk" />
              <p:commandButton value="Regresar" action="#{definicionInstrumentosMB.prepareList()}" icon="ui-icon-seek-prev" />
           </h:panelGrid>
             <p:overlayPanel for="indice" widgetVar="panelIndice">
                  <ol>
                    <ui:repeat value="#{definicionInstrumentosMB.criteriosTipoEmpleado}" var="c">
                        <li><a onclick="panelIndice.hide();" href="##{c.descripcion}">#{c.descripcion}</a></li>
                    </ui:repeat>
                  </ol>
              </p:overlayPanel>
             <p:messages autoUpdate="true" closable="true" />
        </h:form>              
    </ui:define>
    
    <ui:define name="body">          
        <h:form id="mainForm">            
                <c:set var="evaluacionesRealizadas" value="#{definicionInstrumentosMB.existEvaluacionesTipoEmpPlan()}"/>               
                <h:panelGroup rendered="#{evaluacionesRealizadas}" style="clear: both">
                    <div class="alert alert-error">
                        <h:outputText value="No puede agregar/quitar preguntas porque ya existen evaluaciones realizadas del instrumento #{definicionInstrumentosMB.instrumentoTipoEmpADefinir.descripcion}"/>
                    </div>
                 </h:panelGroup>  
                <p:tabView  var="nivel360"    activeIndex="#{definicionInstrumentosMB.activeTabIndexNivel360}" styleClass="NivelesInstrumento" value="#{definicionInstrumentosMB.niveles360ADefinir}">                   
                    <p:ajax update=":formHeader" event="tabChange"/>
                    <p:tab title=" #{nivel360.descripcion}" > 
                        <div class="lead"><b>Preguntas Cerradas</b></div>
                          
                          <c:forEach var="criterio"  items="#{definicionInstrumentosMB.criteriosTipoEmpleado}" varStatus="indexCriterio" >
                              <a name="#{criterio.descripcion}"/>
                               <p:panel  styleClass="panelCriterio"  style="width: 100%;margin-bottom: 10px;">                 
                                  <c:set var="ponderacionCriterio" value="#{definicionInstrumentosMB.obtenerPonderacionRealCriterioNivel(criterio, nivel360)}"/> 
                                  <f:facet name="header">
                                      <h:panelGrid  styleClass="completeWidth"  style="text-align: left !important" columnClasses="col60,col30">
                                          <h:outputText style="font-size: 18px;font-weight: bolder"  value="#{criterio.descripcion}"/> 
                                            
                                             <h:outputText  value="Ponderación en el nivel #{nivel360.descripcion}: #{ponderacionCriterio.puntaje}"/>                                               
                                      </h:panelGrid>
                                  </f:facet>
                                  <c:set var="listaMensajesPuntajeIncorrecto" value="#{definicionInstrumentosMB.getListaMensajePuntajesIncorrecto(criterio)}"/>
                                  
                                  <h:panelGroup   rendered="#{not empty listaMensajesPuntajeIncorrecto}">
                                      <div class="alert alert-error" style="width: 92% ;text-align: center">
                                      <c:forEach items="#{listaMensajesPuntajeIncorrecto}" var="mensaje">
                                          <h:outputText value="#{mensaje} "/><br/>
                                      </c:forEach>
                                      </div>
                                  </h:panelGroup>

                                  <p:dataTable styleClass="tablaPreguntas" value="#{criterio.preguntaCerradaCollection}" var="pc" editable="true" editMode="cell" rowIndexVar="indexPC" emptyMessage="No se han agregado preguntas para este criterio">                                 
                                        <c:set var="llave" value="#{pc.idPregunta.concat('-').concat(nivel360.idNivel360.toString())}"/>
                                        <c:set var="indexDPC" value="#{definicionInstrumentosMB.hasMapIndicesDetallesPC.get(llave)}"/>
                                        <p:ajax event="cellEdit" update=":mainForm" listener="#{definicionInstrumentosMB.calcularSumPuntajePreguntasPorCriterio(criterio)}"/> 
                                        <p:columnGroup type="header">
                                            <p:row>
                                                <p:column styleClass="EncabezadoTablaPreguntas" headerText="Nº"/>
                                                <p:column styleClass="EncabezadoTablaPreguntas" headerText="Preguntas Cerradas"/>
                                                <p:column  styleClass="EncabezadoTablaPreguntas" headerText="Valor"/>
                                                <p:column styleClass="EncabezadoTablaPreguntas" headerText="Acciones"/>
                                            </p:row>
                                        </p:columnGroup>

                                        <p:column  style="width: 5% !important;">
                                            #{indexPC+1}
                                        </p:column>
                                        <p:column styleClass="multiLineasJustificado"  style="width:65%">  
                                            <p:cellEditor>  
                                                <f:facet name="output"><h:outputText value="#{pc.detallePreguntaCerradaCollection.get(indexDPC).descripcion}" /></f:facet>  
                                                <f:facet name="input"><p:inputText  value="#{pc.detallePreguntaCerradaCollection.get(indexDPC).descripcion}" style="width:96%"/></f:facet>  
                                            </p:cellEditor>  
                                        </p:column> 
                                        <p:column   style="width:15%;text-align: right;" >  
                                            <p:cellEditor>  
                                                <f:facet name="output"><h:outputText value="#{pc.detallePreguntaCerradaCollection.get(indexDPC).valor} " /></f:facet>  
                                                <f:facet name="input"><p:inputText disabled="#{definicionInstrumentosMB.existEvaluacionNivel.get(nivel360)}"  value="#{pc.detallePreguntaCerradaCollection.get(indexDPC).valor}" style="width:96%"/></f:facet>  
                                            </p:cellEditor>  
                                        </p:column> 
                                        <p:column  style="width:15%;text-align: center;">
                                            <p:commandButton icon="ui-icon-pencil" title="Editar" update=":editarPreguntaCerrada" oncomplete="editarPreguntaCerradaDlg.show()" >
                                                <f:setPropertyActionListener value="#{criterio}" target="#{definicionInstrumentosMB.criterio}"/>
                                                <f:setPropertyActionListener value="#{pc}" target="#{definicionInstrumentosMB.preguntaCerrada}"/>
                                            </p:commandButton> 
                                            <p:commandButton icon="ui-icon-trash" disabled="#{evaluacionesRealizadas}" title="Eliminar" update=":eliminarPreguntaCerrada" oncomplete="eliminarPreguntaCerradaDlg.show()">
                                                <f:setPropertyActionListener value="#{pc}" target="#{definicionInstrumentosMB.preguntaCerrada}"/>
                                                <f:setPropertyActionListener value="#{criterio}" target="#{definicionInstrumentosMB.criterio}"/>
                                            </p:commandButton> 
                                        </p:column>
                                        <p:columnGroup type="footer"> 
                                            <c:set var="SumPuntajeActualCriterio" value="#{definicionInstrumentosMB.obtenerSumaPuntajeCriterioNivel(criterio, nivel360)}"/>
                                            <p:row>
                                                <p:column styleClass="pieTablaPreguntas" colspan="2" style="text-align: left;padding-left: 50px;" footerText="Suma de puntajes de las preguntas"/>
                                                <p:column styleClass="pieTablaPreguntas" style="text-align: right !important" colspan="1" footerText="#{SumPuntajeActualCriterio==-1? 0 : SumPuntajeActualCriterio}"/>
                                            </p:row>
                                        </p:columnGroup>
                                  </p:dataTable>
                                  <hr/>
                                  <p:commandButton  value="Agregar Pregunta Cerrada" disabled="#{evaluacionesRealizadas}"  actionListener="#{definicionInstrumentosMB.prepararPreguntaCerrada(criterio)}" 
                                                              label="Agregar Pregunta"  update=":nuevaPreguntaCerrada" oncomplete="nuevaPreguntaCerradaDlg.show()"  title="Agregar Pregunta" icon="ui-icon-plusthick" >              
                                                               <f:setPropertyActionListener value="#{criterio}" target="#{definicionInstrumentosMB.criterio}"/>
                                  </p:commandButton>
                            </p:panel> 

                            <br/>
                        </c:forEach >

                        <br/>                        
                        <div class="lead">Preguntas Abiertas</div>
                        <p:separator/>
                        <div class="completeWidth alert alert-info">
                            <h:outputText  value="Las preguntas abiertas son aplicadas en todos los instrumentos"/>
                        </div>
                        <p:panel styleClass="completeWidth">
                              <p:panelGrid style="width: 100%" >
                                  <f:facet name="header">
                                      <p:row>
                                          <p:column></p:column>
                                          <p:column styleClass="col80">Pregunta abierta</p:column>
                                          <p:column styleClass="col20">Acciones</p:column>
                                      </p:row>
                                  </f:facet>
                                  <c:forEach items="#{definicionInstrumentosMB.listaPreguntasAbiertas}" var="pa" varStatus="indexPA">
                                      <c:set var="mostrarPA" value="#{pa.nivel360.equals(nivel360)}"/>                  
                                      <p:row rendered="#{mostrarPA}">
                                          <p:column>                              
                                            <h:outputText class="ui-button-icon-left ui-icon ui-c ui-icon-play" />
                                          </p:column>
                                          <p:column styleClass="multiLineasJustificado">
                                             <h:outputText    value=" #{pa.descripcion}"/>
                                          </p:column>
                                          <p:column style="text-align: center">
                                              <p:commandButton icon="ui-icon-pencil" title="Editar" oncomplete="editarPreguntaAbiertaDlg.show()" update=":editPregAbierta">
                                                <f:setPropertyActionListener value="#{indexPA.index}" target="#{definicionInstrumentosMB.indicePreguntaAbierta}"/>
                                                <f:setPropertyActionListener value="#{pa}" target="#{definicionInstrumentosMB.preguntaAbierta}"/>
                                                <f:setPropertyActionListener value="#{nivel360}" target="#{definicionInstrumentosMB.nivel360}"/>
                                              </p:commandButton> 

                                              <p:commandButton style="margin-left: 3px;" title="Eliminar"  disabled="" icon="ui-icon-trash" oncomplete="eliminarPreguntaAbierta.show()" update=":delPregAbiertaDialog">
                                                <f:setPropertyActionListener value="#{indexPA.index}" target="#{definicionInstrumentosMB.indicePreguntaAbierta}"/>
                                                <f:setPropertyActionListener value="#{nivel360}" target="#{definicionInstrumentosMB.nivel360}"/>
                                             </p:commandButton>
                                          </p:column>                          
                                      </p:row>
                                  </c:forEach>                
                              </p:panelGrid>
                              <hr/>
                              <h:panelGrid styleClass="noSeleccionable" columns="2" style="width: 60%">
                                  <p:commandButton value="Agregar pregunta  abierta" disabled="#{evaluacionesRealizadas}" update=":nuevaPregAbierta,:nuevaListaPAForm"  icon="ui-icon-plusthick"  actionListener="#{definicionInstrumentosMB.abrirDialogNuevaPregunta()}">
                                      <f:setPropertyActionListener value="#{nivel360}" target="#{definicionInstrumentosMB.nivel360}"/>
                                  </p:commandButton>
                                  <p:selectBooleanCheckbox itemLabel="Agregar para todos los niveles" disabled="#{evaluacionesRealizadas}"  value="#{definicionInstrumentosMB.pregAbiertaParaTodosNiveles}">
                                      <p:ajax />
                                  </p:selectBooleanCheckbox>
                              </h:panelGrid>
                        </p:panel>
                     </p:tab>
               </p:tabView>
               <br/>
               <p:remoteCommand update=":mainForm"  action="#{definicionInstrumentosMB.guardarInstrumentos()}" name="guardarInstrumento"/>

        </h:form>

        <p:dialog id="nuevaPreguntaCerrada"  header="Nueva pregunta para el criterio: #{definicionInstrumentosMB.preguntaCerrada.idCriterio.descripcion}" modal="true" width="600"   widgetVar="nuevaPreguntaCerradaDlg" appendToBody="true" closable="true">  
            <h:form id="nuevaPreguntaCerradaForm">  
                <p:messages/>
                <p:panelGrid  styleClass="completeWidth noSeleccionable" >
                    <f:facet name="header">
                        <p:row>
                            <p:column styleClass="col20"> <h:outputText value="Nivel Feedback360" /></p:column>
                            <p:column styleClass="col70"> <h:outputText value="Descripcion de la pregunta" /></p:column>
                            <p:column styleClass="col10"><h:outputText value="Valor" /></p:column>
                        </p:row>
                    </f:facet>
                    <c:forEach items="#{definicionInstrumentosMB.preguntaCerrada.detallePreguntaCerradaCollection}" var="dt" varStatus="status" >
                          <c:set var="mostrar" value="#{definicionInstrumentosMB.niveles360ADefinir.contains(dt.nivel360)}"/>
                          <p:row rendered="#{mostrar}">
                            <p:column><h:outputText value="#{dt.nivel360.descripcion}"  /></p:column>
                            <p:column>
                                <p:inputTextarea  value="#{dt.descripcion}"  style="width: 90%" rows="2" autoResize="false"  
                                                        styleClass="completeWidth"  required="true" requiredMessage="Introduzca la descripción de esta pregunta para el nivel #{dt.nivel360.descripcion}"/> 
                            </p:column>           
                            <p:column>
                                <p:inputText  value="#{dt.valor}"   style="width: 50px;height: 100%"   styleClass="completeWidth"  
                                                    required="true" requiredMessage="Introduzca el valor de esta pregunta para el nivel #{dt.nivel360.descripcion}"/>      
                            </p:column>     
                          </p:row>
                    </c:forEach>
                  </p:panelGrid>
                    <hr/>
                  <p:commandButton styleClass="floatRight" value="Cancelar" type="button" icon="ui-icon-close" onclick="nuevaPreguntaCerradaDlg.hide();"/>
                  <p:commandButton  styleClass="floatRight" value="Agregar" icon="ui-icon-disk" update=":nuevaPreguntaCerradaForm,:mainForm" actionListener="#{definicionInstrumentosMB.agregarPreguntaCerrada()}"/>
            </h:form>
        </p:dialog> 


        <p:dialog id="editarPreguntaCerrada"  header="Editar pregunta del criterio #{definicionInstrumentosMB.preguntaCerrada.idCriterio.descripcion}" modal="true" width="600"   widgetVar="editarPreguntaCerradaDlg" appendToBody="true" closable="true">  
            <h:form id="editarPreguntaCerradaForm">                
                    <p:messages id="msgEdit"/>
                    <p:panelGrid  styleClass="completeWidth noSeleccionable" >
                        <f:facet name="header">
                            <p:row>
                                <p:column styleClass="col20"> <h:outputText value="Nivel Feedback360" /></p:column>
                                <p:column styleClass="col70"> <h:outputText value="Descripción de la pregunta" /></p:column>
                                <p:column styleClass="col10"><h:outputText value="Valor" /></p:column>
                            </p:row>
                        </f:facet>
                        <c:forEach items="#{definicionInstrumentosMB.preguntaCerrada.detallePreguntaCerradaCollection}" var="dt" varStatus="status" >
                          <c:set var="mostrarDetalle" value="#{definicionInstrumentosMB.niveles360ADefinir.contains(dt.nivel360)}"/>
                          <p:row rendered="#{mostrarDetalle}"> 
                            <p:column><h:outputText value="#{dt.nivel360.descripcion}"  /></p:column>
                            <p:column>
                                <p:inputTextarea  value="#{dt.descripcion}"  style="width: 90%" rows="2" autoResize="false"  
                                                        styleClass="completeWidth"  required="true" requiredMessage="Introduzaca la descripción de esta pregunta para el nivel #{dt.nivel360.descripcion}"/> 
                            </p:column>           
                            <p:column>
                                <p:inputText  value="#{dt.valor}" disabled="#{definicionInstrumentosMB.existeEvaluacionNivel(dt.nivel360)}}"  style="width: 50px;height: 100%"   styleClass="completeWidth"  
                                                    required="true" requiredMessage="Indroduzca el valor de esta pregunta para el nivel #{dt.nivel360.descripcion}"/>      
                            </p:column>     
                          </p:row>
                      </c:forEach>
                  </p:panelGrid>
                  <hr />
                  <p:commandButton styleClass="floatRight" value="Cancelar" type="button" icon="ui-icon-close" onclick="editarPreguntaCerradaDlg.hide();"/>
                  <p:commandButton styleClass="floatRight" value="Editar" icon="ui-icon-disk"  update=":editarPreguntaCerradaForm,:mainForm" actionListener="#{definicionInstrumentosMB.editarPreguntaCerrada()}" />
            </h:form>
        </p:dialog> 

        <p:confirmDialog id="eliminarPreguntaCerrada" appendToBody="true" header="Confirmacion de Eliminacion" widgetVar="eliminarPreguntaCerradaDlg"   
                         message="Seguro que desea quitar esta pregunta  del criterio : #{definicionInstrumentosMB.preguntaCerrada.idCriterio.descripcion}">
          <h:form>
              <p:commandButton id="confirm" value="Eliminar" update=":mainForm" oncomplete="eliminarPreguntaCerradaDlg.hide()"  
                               actionListener="#{definicionInstrumentosMB.eliminarPreguntaCerrada()}" />  
               <p:commandButton id="decline" value="Cancelar"  onclick="eliminarPreguntaCerradaDlg.hide();" type="button" />   
          </h:form>
       </p:confirmDialog> 

        <p:dialog id="nuevaPregAbierta"  header="Nueva pregunta abierta para el nivel #{definicionInstrumentosMB.nivel360.descripcion} del instrumento #{definicionInstrumentosMB.instrumentoTipoEmpADefinir.descripcion}" modal="true" width="700"   widgetVar="nuevaPregAbiertaDlg" appendToBody="true" closable="true">  
            <h:form id="nuevaPregAbiertaForm">  
                <p:messages/>
                <h:panelGrid columns="2" columnClasses="col30,col70" styleClass="completeWidth noSeleccionable" >                      
                    <h:outputText value="Descripcion de la pregunta: " />
                    <p:inputTextarea  value="#{definicionInstrumentosMB.preguntaAbierta.descripcion}" rows="2" style="width: 100%" autoResize="false"  styleClass="completeWidth"  required="true" requiredMessage="Debe especificar la descripción de la nueva pregunta abierta"/>                    
                </h:panelGrid>
                <br />
                <p:commandButton styleClass="floatRight" value="Cancelar" type="button" icon="ui-icon-close" onclick="nuevaPregAbiertaDlg.hide();"/>
                <p:commandButton  styleClass="floatRight" value="Agregar" icon="ui-icon-disk" update=":nuevaPregAbiertaForm,:mainForm" action="#{definicionInstrumentosMB.agregarPreguntaAbierta()}"/>
            </h:form>
       </p:dialog>

       <p:dialog id="nuevaListaPA"  header="Nueva pregunta abierta  para todos los niveles " modal="true" width="700"   widgetVar="nuevaListaPADlg" appendToBody="true" closable="true">  
             <h:form id="nuevaListaPAForm">  
                 <p:messages autoUpdate="true"/>
                 <h:panelGrid columns="2" columnClasses="col30,col70" styleClass="completeWidth noSeleccionable" > 
                     <c:forEach items="#{definicionInstrumentosMB.listaPATemporal}" var="pa2"  >
                         <h:outputText value="Nivel #{pa2.nivel360.descripcion}: " />
                         <p:inputTextarea  value="#{pa2.descripcion}" style="width: 100%" autoResize="false"  styleClass="completeWidth"  required="true" requiredMessage="Debe especificar la pregunta de capacitacion para el instrumento #{pregCap.nivel360.descripcion}" rows="2"/>                    
                       </c:forEach>
                 </h:panelGrid>
                 <br />
                 <p:commandButton styleClass="floatRight" value="Cancelar" type="button" icon="ui-icon-close" onclick="nuevaListaPADlg.hide();"/>
                 <p:commandButton  styleClass="floatRight" value="Agregar" icon="ui-icon-disk" update=":nuevaPregAbiertaForm,:mainForm" action="#{definicionInstrumentosMB.agregarListaPreguntasAbiertas()}"/>
             </h:form>
        </p:dialog>

        
        <p:dialog id="editPregAbierta"  header="Edición de pregunta abierta del nivel #{definicionInstrumentosMB.nivel360.descripcion} del instrumento #{definicionInstrumentosMB.instrumentoTipoEmpADefinir.descripcion}" modal="true" width="750"   widgetVar="editarPreguntaAbiertaDlg" appendToBody="true" closable="true">  
               <h:form id="editarPreguntaAbiertaForm">  
                   <p:messages/>
                   <h:panelGrid columns="2" columnClasses="col30,col70" styleClass="completeWidth noSeleccionable" >                      
                       <h:outputText value="Descripcion de la pregunta: " />
                       <p:inputTextarea  value="#{definicionInstrumentosMB.preguntaAbierta.descripcion}" rows="2" style="width: 100%" autoResize="false"  styleClass="completeWidth"  required="true" requiredMessage="Debe especificar la descripción de la nueva pregunta abierta"/>                    
                 </h:panelGrid>
                 <br />
                 <p:commandButton styleClass="floatRight" value="Cancelar" type="button" icon="ui-icon-close" onclick="editarPreguntaAbiertaDlg.hide();"/>
                 <p:commandButton  styleClass="floatRight" value="Editar" icon="ui-icon-disk" update=":editarPreguntaAbiertaForm,:mainForm" action="#{definicionInstrumentosMB.editarPreguntaAbierta()}"/>
               </h:form>
          </p:dialog>   

        <p:confirmDialog id="delPregAbiertaDialog" appendToBody="true" header="Confirmacion de Eliminacion" widgetVar="eliminarPreguntaAbierta" 
                         message="Seguro que desea quitar esta pregunta abierta del nivel #{definicionInstrumentosMB.nivel360.descripcion} en el  instrumento: #{definicionInstrumentosMB.instrumentoTipoEmpADefinir.descripcion}"  >
            <h:form id="delPregAbiertaForm">
                <p:commandButton id="confirm" value="Eliminar" update=":mainForm" oncomplete="eliminarPreguntaAbierta.hide()"  
                                 actionListener="#{definicionInstrumentosMB.eliminarPreguntaAbierta()}" />  
                 <p:commandButton id="decline" value="Cancelar" onclick="eliminarPreguntaAbierta.hide();" type="button" />   
            </h:form>
        </p:confirmDialog> 
    </ui:define>

</ui:composition>
