<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/template.xhtml"
                    xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
        <ui:define name="title">
           Lista Instrumentos de Evaluación
        </ui:define>
        <ui:define name="head"></ui:define>
        <ui:define name="sidebar">
            <ui:include src="/instrumentos/_sideBarInstrumentos.xhtml"/>
        </ui:define>
        <ui:define name="body">
            <f:metadata>
                <f:event listener="#{niveles360Controller.validarNiveles360()}" type="preRenderView"/>
            </f:metadata>         
              
            <h:form rendered="#{empty planEstrategicoController.listaPlanes}">
                 <div class="alert alert-danger lead">   <h:outputText value="No hay planes estrategicos. Es necesario crear uno para definir instrumentos" /> </div>
                    <p:commandButton action="/planEstrategico/PlanesEstrategicos?faces-redirect=true" value="Ir a sección de planes estrategicos"  />
            </h:form> 
            <h:form id="mainForm" rendered="#{not empty planEstrategicoController.listaPlanes}">               
                <p:messages autoUpdate="true" /> 
                 <h:panelGrid columns="2">
                       <h:outputText value="Plan: "/>
                       <p:selectOneMenu value="#{definicionInstrumentosMB.planADefinir}" required="true" requiredMessage="Seleccione el plan para definir los instrumentos">
                           <f:selectItems value="#{planEstrategicoController.listaPlanes}" var="plan" itemValue="#{plan}" itemLabel="#{plan.descripcion}"/>
                           <p:ajax update=":mainForm"/>
                       </p:selectOneMenu>
                 </h:panelGrid>
                 <br/>
                
                <p:dataTable id="tablaTipoEmp" var="tipoEmp" value="#{tiposEmpleadoController.listaTiposEmpleado}">                      
                    <p:column>
                         <f:facet name="header">
                                <h:outputText value="Instrumentos"/>
                         </f:facet>
                         <h:outputText value="#{tipoEmp.descripcion}"/>
                    </p:column>
                    <p:columns value="#{definicionInstrumentosMB.columnsNivel360}" var="column" columnIndexVar="colIndex">  
                         <f:facet name="header">  
                             #{column.nivel360.descripcion}  
                         </f:facet>  
                        <c:set var="instrumentoDefinido" value="#{definicionInstrumentosMB.esInstrumentoTipoEmpNivelDefinidoEnPlan(tipoEmp,column.nivel360)}"/>
                        <h:outputText rendered="#{instrumentoDefinido}" value="Definido"/>
                        <h:outputText rendered="#{!instrumentoDefinido}" style="color: #cc0000" value="Sin definir"/> 
                     </p:columns>  
                    <p:column>
                        <p:commandButton value="Definir instrumento"  oncomplete="nivelesADefinirDlg.show()" update=":frm:msj"  >
                            <f:setPropertyActionListener target="#{definicionInstrumentosMB.instrumentoTipoEmpADefinir}" value="#{tipoEmp}"/>
                        </p:commandButton>
                    </p:column>

                 </p:dataTable>                   
                <br />                  
            </h:form>
                                           
            <p:dialog id="nivelesADefinir" width="500" header="Seleccione una metodología" appendToBody="true" widgetVar="nivelesADefinirDlg" modal="true" >
                <h:form id="frm" style="text-align: center">
                     <div>
                     <p:messages autoUpdate="true"/>
                     <h:outputText id="msj" value="Seleccione la metodología de evaluación para la cual desea definir el instrumento  #{definicionInstrumentosMB.instrumentoTipoEmpADefinir.descripcion}"/> 
                      <p:separator/>
                     </div>
                    <center>
                        <p:selectOneRadio styleClass="noSeleccionable" style="width: 150px"   value="#{definicionInstrumentosMB.metodologia180}" required="true" requiredMessage="Por favor, indique si desea definir el instrumento para 180º o 360º">
                            <f:selectItem itemValue="#{true}" itemLabel=" 180º "/>
                            <f:selectItem itemValue="#{false}" itemLabel=" 360º"/>
                        </p:selectOneRadio>
                    </center>
                     <hr/>
                     <div class="floatRight">
                         <p:commandButton value="Definir instrumento" onstart="cargandoInstrumento.show()" oncomplete="cargandoInstrumento.hide();" action="#{definicionInstrumentosMB.inicializarFormularioInstrumentos()}"   />
                    <p:commandButton type="button" onclick="nivelesADefinirDlg.hide();" value="Cancelar"/>
                     </div>
                     <p:blockUI widgetVar="cargandoInstrumento" block=":nivelesADefinir">
                         <h1>CARGANDO...</h1>
                     </p:blockUI>
                    </h:form>                 
             </p:dialog>
        </ui:define>
    
</ui:composition>
