<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

    <ui:composition template="/template.xhtml"
                    xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
        <ui:define name="title">
            Ver Instrumento de Evaluación
        </ui:define>
        <ui:define name="sidebar">
            <ui:include src="/instrumentos/_sideBarInstrumentos.xhtml"/>
        </ui:define>
        <ui:define name="body">
            <br />
            <h:form>
                <p:messages autoUpdate="true" />
            </h:form>
            <br />
            <b>Filtrar redacciones de preguntas por instrumento:</b>
            <br />
            <h:form id="formularioSeleccion">
                
        <p:selectOneMenu value="#{instrumentosController.current}">  
            <f:selectItems value="#{instrumentosController.listaInstrumentosADefinir}"/>  
            <p:ajax update=":Principal:informacionGeneral" listener="#{instrumentosController.current}" /> 
        </p:selectOneMenu> 
        <br />
       <p:commandButton action="VerInstrumento?faces-redirect=true" value="Filtrar" />
              
            </h:form>
            
           
            <br />
            <h:form id="Principal">
                <p:fieldset id="informacionGeneral" legend="Información General">

                    <b>Instrumento #: </b> <h:outputText value="#{instrumentosController.selected.idInstrumento}" title="#{bundle.ViewInstrumentosTitle_idInstrumento}"/> <br />
                    
                    <b>Descripción: </b> <h:outputText value="#{instrumentosController.selected.descripcion}" title="#{bundle.ViewInstrumentosTitle_descripcion}"/>

                <br />
                </p:fieldset>
                <br />
                <p:fieldset legend="Detalle por Criterio" >
                    <c:forEach items="#{instrumentosController.listaCriterios}" var="criterio" varStatus="indexCriterio">
                        <p:panel header="#{criterio.descripcion}" id="criterioPanel">
                            <h:panelGrid columns="1">
                                <c:forEach items="#{criterio.preguntaCerradaCollection}" varStatus="indexPregunta" var="p">
                                    <h:outputText value="#{p.redaccionesCollection.get(instrumentosController.selected.idInstrumento).descripcion}"/> 
                                </c:forEach>
                            </h:panelGrid>
                        
                        
                        </p:panel>
                    
                    
                    </c:forEach>
                    
                </p:fieldset>            
                
                <p:commandButton value="Editar" action="#{instrumentosController.editarInstrumentos()}" icon="ui-icon-pencil"/>
         
                <br />
                
                </h:form>
            <p:commandButton action="#{instrumentosController.prepareList()}" value="Regresar a Lista de Instrumentos" icon="ui-icon-arrowthickstop-1-w" />
        </ui:define>
    </ui:composition>

