<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="Plan estratégico: #{planEstrategicoController.current.idPlanEstrategico}"></h:outputText>
        </ui:define>
        <ui:define name="sidebar">
            <ui:include src="_sideBarPlan.xhtml" />
        </ui:define>
        <ui:define name="headerContent">
                <h:form id="principal" class="floatRight"> 
                    <p:commandButton value="Editar Plan Estratégico" action="EditarPlanEstrategico?faces-redirect=true" icon="ui-icon-pencil" />
                    <p:commandButton oncomplete="confirmation.show()" update=":confirmForm" title="Eliminar" value="Eliminar Plan" icon="ui-icon-trash"/>
                </h:form>
        </ui:define>
        <ui:define name="body">
            <p:messages autoUpdate="true" />
           
                <br/>
                <p:panel header="Información general">
                <p:panelGrid columns="2" style="width: 100%">
                    <h:outputText value="Descripción"/>
                    <h:outputText value="#{planEstrategicoController.current.descripcion}" title="Descripción"/>
                    <h:outputText value="Fecha Inicio"/>
                    <h:outputText value="#{planEstrategicoController.current.fechaInicio}" title="Fecha Inicio">
                        <f:convertDateTime pattern="dd/MM/yyyy" />
                    </h:outputText>
                    <h:outputText value="Fecha Final"/>
                    <h:outputText value="#{planEstrategicoController.current.fechaFin}" title="Fecha Final">
                        <f:convertDateTime pattern="dd/MM/yyyy" />
                    </h:outputText>
                </p:panelGrid>
                </p:panel>
                <br /><br />
                <!--Criterios   -->
                <p:dataTable value="#{planEstrategicoController.current.criteriosCollection}" var='criterio' style="width: 47%;float: left;margin-right: 3%">
                    <p:column headerText="Criterio">
                        <h:outputText value="#{criterio.descripcion}" />
                    </p:column>                
                </p:dataTable>
                
                <!--Escalas -->
                <p:dataTable value="#{planEstrategicoController.current.escalasCollection}" var='escala' style="width: 47%;float: right;margin-left: 3%">
                    <p:column headerText="Escala">
                        <h:outputText value="#{escala.descripcion}" />                        
                    </p:column>
                    <p:column headerText="Valor">
                        <h:outputText value="#{escala.valor}" />
                    </p:column>
                </p:dataTable>
                       
            <p:dialog id="confirmDialog"  header="Confirmacion de Eliminacion" modal="true" widgetVar="confirmation" appendToBody="true" >  
                    <h:form id="confirmForm">
                         <h:outputText value="Seguro que desea eliminar el plan con id: #{planEstrategicoController.current.idPlanEstrategico}"/>
                         
                         
                        
                        <p:commandButton ajax="true" id="confirm" value="Si" oncomplete="confirmation.hide()"  
                                         actionListener="#{planEstrategicoController.destroyFromView()}" />  
                        <p:commandButton id="decline" value="No" onclick="confirmation.hide();" type="button" />   
                     </h:form>
               </p:dialog> 
        </ui:define>
    </ui:composition>

</html>
