<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:composition template="/template.xhtml">
    <f:metadata>
        <f:event type="preRenderView" listener="#{planEstrategicoController.validarEdicionPlan()}" />            
    </f:metadata>
        <ui:define name="title">
            <h:outputText value="Editar Plan Estratégico #{planEstrategicoController.current.identificador}"></h:outputText>
        </ui:define>
        <ui:define name="sidebar">
            
        </ui:define>
        <ui:define name="headerContent">
             <h:form id="formHeader">
                        <div class="floatRight">
                            <p:commandButton ajax="false" value="Guardar" type="button" onclick="guardar()"/>
                            <p:commandButton actionListener="#{planEstrategicoController.cancelar()}"  value="Cancelar" action="PlanesEstrategicos?faces-redirect=true"/>
                        </div>
            </h:form>
            <p:messages autoUpdate="true"  closable="true"/>
        </ui:define>
        
        
        <ui:define name="body"> 
            <h:form id="Principal">
                <p:remoteCommand  name="guardar" action="PlanesEstrategicos.xhtml?faces-redirect=true" actionListener="#{planEstrategicoController.update()}" update=":Principal,:escalas,:criteriosLista,:criteriosAgregar"/>
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span4">
                            <p:commandButton ajax="true" rendered="#{planEstrategicoController.posicion != 1}" update=":Principal,:escalas,:criteriosLista,:criteriosAgregar,:formHeader" 
                                             value="#{(planEstrategicoController.posicion==3)?
                                                      'Definir Criterios':
                                                      (planEstrategicoController.posicion==2)?
                                                      'Fecha y Descripción':
                                                      'Fecha y Descripción'}" 
                                             icon="ui-icon-seek-prev">
                                <f:setPropertyActionListener 
                                    value="#{(planEstrategicoController.posicion!=1)?
                                             ((planEstrategicoController.posicion) - 1)
                                             :1}" 
                                    target="#{planEstrategicoController.posicion}"/>
                            </p:commandButton>
                        </div>

                        <div class="span4">
                            <!-->  <ul>
                                  <li><div id="etiquetaPaso1" class="#{(planEstrategicoController.posicion ==1)?'PasoActivo':'PasoNoActivo'}"><h3>1</h3></div></li>
                                  <li><div id="etiquetaPaso2" class="#{(planEstrategicoController.posicion ==2)?'PasoActivo':'PasoNoActivo'}"><h3>2</h3></div></li>
                                  <li><div id="etiquetaPaso3" class="#{(planEstrategicoController.posicion ==3)?'PasoActivo':'PasoNoActivo'}"><h3>3</h3></div></li>
                                  <li><div id="etiquetaPaso4" class="#{(planEstrategicoController.posicion ==4)?'PasoActivo':'PasoNoActivo'}"><h3>4</h3></div></li>
                              </ul>
                            <-->
                        </div>

                        <div class="span4">
                            <p:commandButton rendered="#{planEstrategicoController.posicion != 3 and !planEstrategicoController.hayEvaluacionesParaElPlanAEditar}" ajax="true" update=":Principal,:escalas,:criteriosLista,:criteriosAgregar,:formHeader" 
                                             value="#{(planEstrategicoController.posicion==1)?
                                                      'Definir Criterios':
                                                      (planEstrategicoController.posicion==2)?
                                                      'Definir Escalas':'Definir Escalas'}" 
                                             icon="ui-icon-seek-next" style="float: right !Important">
                                <f:setPropertyActionListener 
                                    value="#{(planEstrategicoController.posicion!=4)?
                                             ((planEstrategicoController.posicion) + 1)
                                             :4}" 
                                    target="#{planEstrategicoController.posicion}"/>
                            </p:commandButton>
                        </div>

                    </div>
                </div>
                
                
                <p:panel rendered="#{planEstrategicoController.posicion == 1}"  header="Información del Plan Estrategico">
                                <h:panelGrid columns="2" style="width: 100%">   
                                    <h:outputLabel value="Fecha de Inicio" for="fechaInicio" />
                                    <p:calendar disabled="#{planEstrategicoController.hayEvaluacionesParaElPlanAEditar}" navigator="true" mindate="#{utilMB.today}"  pattern="dd/MM/yyyy" id="fechaInicio" value="#{planEstrategicoController.current.fechaInicio}" title="Fecha inicio" required="true" requiredMessage="Tiene que ingresar una fecha de Inicio">
                                        <p:ajax update="fechaFin" event="change"/>
                                    </p:calendar>
                                    <h:outputLabel value="Fecha de Fin" for="fechaFin" />
                                    <p:calendar  navigator="true" mindate="#{utilMB.today}" pattern="dd/MM/yyyy" id="fechaFin" value="#{planEstrategicoController.current.fechaFin}" title="Fecha Fin" required="true" requiredMessage="Tiene que ingresar una fecha de finalización"/>
                                    <h:outputLabel value="Descripción" for="descripcion" />
                                    <p:inputTextarea disabled="#{planEstrategicoController.hayEvaluacionesParaElPlanAEditar}" style="width: 100%" rows="2" cols="52" id="descripcion" autoResize="false" value="#{planEstrategicoController.current.descripcion}" title="Descripción" required="true" requiredMessage="Debe incluir una descripción para el plan"/>
                                </h:panelGrid>

                   </p:panel>
            </h:form>

          

            <!--En esta sección se definnen los criterios que se utilizarán para las
            evaluaciónes según tipo de Empleado--> 
            
            
            <h:form id="criteriosLista" >
                <p:panel rendered="#{planEstrategicoController.posicion == 2 }" header="Criterios del Plan" >                     

                    <div class="row-fluid">
                        <div class="span4">
                            <p:outputLabel for="descripcionCriterio" value="Criterio"/>
                            <p:inputText required="true" requiredMessage="debe agregar una descripción" id="descripcionCriterio" value="#{planEstrategicoController.newCriterio.descripcion}" label="hola"/>
                        </div>
                        <div class="span4">
                            <p:outputLabel for="TipoEmpleado" value="Tipo de Empleado"/>
                            <p:selectOneMenu 
                                required="true"
                                requiredMessage="Por favor, seleccione un tipo de Empleado"
                                converter="tiposEmpleadoControllerConverter" id="TipoEmpleado" value="#{planEstrategicoController.newCriterio.tipoEmpleado}">
                                <f:selectItems  value="#{tiposEmpleadoController.listaTiposEmpleado}" var="TipoE" itemLabel="#{TipoE.descripcion} " itemValue="#{TipoE}">
                                </f:selectItems>
                            </p:selectOneMenu>
                        </div>
                        <div class="span4">
                            
                            <p:commandButton value="Agregar" disabled="#{planEstrategicoController.hayEvaluacionesParaElPlanAEditar}" id="agregarCriterio" actionListener="#{planEstrategicoController.agregarCriterio()}" update=":Principal,:escalas,:criteriosLista,:criteriosAgregar" />
                        </div>
                    </div>             </p:panel>
            </h:form>                   
                                                                           
                    <h:form id="criteriosAgregar">
                    <p:panel rendered="#{planEstrategicoController.posicion == 2}"  header="Lista de criterios" style="border:none !Important">                       
                        <p:tabView   style="border-style: none !Important; border: none !important" orientation="top" value="#{tiposEmpleadoController.listaTiposEmpleado}" var="tipoE">
                            <p:tab title="#{tipoE.descripcion}">
                                <p:dataTable  emptyMessage="No hay criterios"  value="#{planEstrategicoController.current.criteriosCollection}" var="criterio">
                                    <c:set  var="renderizar" value="#{criterio.tipoEmpleado == tipoE}"></c:set>
                                    <p:columnGroup type="header">
                                        <p:row>
                                        <p:column headerText="descripción del criterio"></p:column>
                                        <p:column headerText="Acción"></p:column>
                                        </p:row>
                                    </p:columnGroup>
                                    
                                    <p:column styleClass="hero-unit myLead" rendered="#{renderizar}">
                                        <h:outputText value="#{criterio.descripcion}">
                                            
                                        </h:outputText>
                                    </p:column>
                                    <p:column styleClass="hero-unit myLead" rendered="#{renderizar}">
                                        <p:commandButton disabled="#{planEstrategicoController.hayEvaluacionesParaElPlanAEditar}" update=":criteriosLista,:criteriosAgregar,:Principal" actionListener="#{planEstrategicoController.quitarCriterio(criterio)}"
                                                         icon="ui-icon-trash"
                                                         value="Quitar">
                                        </p:commandButton>
                                    </p:column>
                                </p:dataTable>
                            </p:tab>
                        </p:tabView>
                    </p:panel>
                    </h:form>                               
            <!--Fin de la definición de Criterios-->   




            <!--En esta sección se definen las escalas de evaluación del plan Estratégico 
            que se está creando    -->

            <h:form id="escalas" >        
                <p:panel rendered="#{planEstrategicoController.posicion == 3}"  header="Escalas de Evaluacion"> 
                    <div class="row-fluid">
                        <div class="span8">
                            <h:panelGrid id="gridEscala" columns="2" columnClasses="col30, col70" style="width: 100%" >
                                <h:outputText value="Descripcion"/>
                                <p:inputText id="descripcionEscala" value="#{planEstrategicoController.newEscala.descripcion}" />                                                      
                                <h:outputText value="Valor"/>
                                <p:selectOneMenu value="#{planEstrategicoController.newEscala.valor}" required="true" >
                                    <f:selectItems var="valor" value="#{planEstrategicoController.valoresDeEscalas}" itemLabel="#{valor*100} %" itemValue="#{valor}"/>
                                </p:selectOneMenu>
                                <p:commandButton value="Agregar" id="agregarEscala" actionListener="#{planEstrategicoController.agregarEscala()}" update=":Principal,:escalas,:criteriosLista,:criteriosAgregar" />  

                            </h:panelGrid>
                        </div>
                        <div class="span4">
                             <label for="checkAgregarEscala">
                                Usar escala "No aplica (N/A)"
                            </label>                           
                            <p:selectBooleanCheckbox valueChangeListener="#{planEstrategicoController.manejarEscalaNoAplica()}" value="#{planEstrategicoController.escalaNoAPlica}">   
                                <p:ajax update=":Principal,:escalas,:escalas:listaEscalas"/>
                            </p:selectBooleanCheckbox>
                        </div>
                    </div>
                    
                    <br/>

                    <p:dataTable var="e" value="#{planEstrategicoController.current.escalasCollection}" id="listaEscalas"  emptyMessage="No ha agregado escalas de evaluacion para el plan actual">
                        <p:column style="width: 10%">
                            <p:commandButton rendered="#{e.descripcion.toString() != 'N/A'}" icon="ui-icon-trash" actionListener="#{planEstrategicoController.quitarEscala(e)}" update=":Principal,:escalas,:criteriosLista,:criteriosAgregar">
                            </p:commandButton>
                        </p:column> 
                        <p:column headerText="Descripción" >
                            <p:cellEditor>  
                                <f:facet name="output"><h:outputText value="#{e.descripcion}" /></f:facet>  
                                <f:facet name="input"><p:inputText id="descripcionEditado" value="#{e.descripcion}" style="width:96%"/></f:facet>  
                            </p:cellEditor>
                        </p:column>  
                        <p:column headerText="Valor" >
                            <p:cellEditor>  
                                <f:facet name="output"><h:outputText value="#{e.valor*100} %" /></f:facet>  
                                <f:facet name="input"><p:inputText id="valorEditado" value="#{e.valor}" style="width:96%"/></f:facet>  
                            </p:cellEditor>
                        </p:column>
                    </p:dataTable>                       

                </p:panel>
                
            </h:form>
            
            <p:panel rendered="#{planEstrategicoController.hayEvaluacionesParaElPlanAEditar}">
                <div class="lead alert alert-info">
                    Ya existen evaluaciones en este plan estratégico, por lo tanto únicamente puede cambiar la fecha de fin del plan
                </div>
            </p:panel>
<!--Fin de la definición de las escalas de evaluación-->            
            
        </ui:define>    </ui:composition>

</html>
