<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../template.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="title">
        Error
    </ui:define>

    <ui:define name="sidebar">
        <ui:include src="_sideBarPlan.xhtml" />
    </ui:define>
    <ui:define name="headerContent">
        <p:commandButton styleClass="floatRight" value="Regresar a Lista de Planes" action="PlanesEstrategicos?faces-redirect=true" />
    </ui:define>
    <ui:define name="body">
        <p:messages />
        <h3> <h:outputText value="El plan que estaba tratando de editar ya tiene evaluaciones guardados,
                           por tanto y para evitar la perdida de información valiosa se ha impedido
                           la edición para este plan. Si ésto representa algún problema, favor comunicarse
                           con el administrador del sistema." /> </h3>
         
    </ui:define>

</ui:composition>
