<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="Planes Estrategicos"></h:outputText>
        </ui:define>
        <ui:define name="sidebar">
            <ui:include src="_sideBarPlan.xhtml" />
        </ui:define>
        <ui:define name="headerContent">
            <p:commandButton styleClass="floatRight" value="Nuevo plan Estrategico" action="#{planEstrategicoController.prepareCreate()}"/>
        </ui:define>
        <ui:define name="body">
            <h:form id="mainForm">
                <h:panelGroup id="messagePanel" layout="block">
                    <p:messages id="msg"/>
                </h:panelGroup>
               
                <p:dataTable id="ListaPlanesEstrategicos" value="#{planEstrategicoController.listaPlanes}" emptyMessage="No se han registrado Planes Estrategicos" var="plan">
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Id plan estratégico"/>
                            </f:facet>
                            <h:outputText value="#{plan.identificador}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Descripción"/>
                            </f:facet>
                            <h:outputText value="#{plan.descripcion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Fecha de Inicio"/>
                            </f:facet>
                            <h:outputText value="#{plan.fechaInicio}">
                                <f:convertDateTime pattern="dd/MM/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Fecha Final"/>
                            </f:facet>
                            <h:outputText value="#{plan.fechaFin}">
                                <f:convertDateTime pattern="dd/MM/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText=" Acciones">                            
                            <p:commandButton title="Ver" icon="ui-icon-search" action="DetallePlanEstrategico?faces-redirect=true">
                                <f:setPropertyActionListener value="#{plan}" target="#{planEstrategicoController.current}"/>
                           </p:commandButton>
                            <p:commandButton  title="Editar" icon="ui-icon-pencil" action="#{planEstrategicoController.prepareEdit()}">
                               <f:setPropertyActionListener value="#{plan}" target="#{planEstrategicoController.current}"/>
                           </p:commandButton>
                            <p:commandButton oncomplete="confirmation.show()" update=":confirmForm" title="Eliminar" icon="ui-icon-trash">
                               <f:setPropertyActionListener value="#{plan}" target="#{planEstrategicoController.current}"/>
                           </p:commandButton>
                       </p:column>
                    </p:dataTable>
               
            </h:form>
           
            <p:dialog id="confirmDialog"  header="Confirmacion de Eliminacion" modal="true" widgetVar="confirmation" appendTo="@(body)" >  
                    <h:form id="confirmForm">
                         <h:outputText value="Seguro que desea eliminar el plan con id: #{planEstrategicoController.current.idPlanEstrategico}"/>
                         
                         <p:separator/>
                        
                        <p:commandButton ajax="true" id="confirm" update=":mainForm:msg,:mainForm:ListaPlanesEstrategicos" value="Si" oncomplete="confirmation.hide()"  
                                         actionListener="#{planEstrategicoController.destroy()}" />  
                        <p:commandButton id="decline" value="No" onclick="confirmation.hide()" type="button" />   
                     </h:form>
            </p:dialog>  
           
               
           
            
        </ui:define>
    </ui:composition>

</html>
