<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="title">
       Catálogo de Niveles de Empleado
    </ui:define>

    <ui:define name="sidebar">
        <ui:include src="/Catalogos/_sideBarCatalogos.xhtml"/>  
    </ui:define>

    <ui:define name="body">
        <p:messages id="msg"/>
        <p:panel header="Nuevo nivel de Empleado" toggleable="true" toggleOrientation="horizontal" style="width: 40%" toggleTitle="Nuevo Nivel"  menuTitle="Nuevo Nivel">
            <h:form id="Nuevo">
                 <h:panelGrid columns="2" styleClass="completeWidth">
                   <h:outputLabel for="descripcion" value="Descripción" />
                   <p:inputText id="descripcion" value="#{nivelesController.current.descripcion}" required="true" requiredMessage="Debe ingresar la descripción del nuevo nivel" style="width: 95%"/>
                 </h:panelGrid>
                <p:commandButton styleClass="floatRight" update=":Nuevo,:lista,:msg" value="Guardar" icon="ui-icon-disk" actionListener="#{nivelesController.createNivel()}" />        
            </h:form>
        </p:panel>
        <br/>
        <h:form id="lista" style="width: 41%">
            <p:dataTable value="#{nivelesController.listaNiveles}" var="nivel" emptyMessage="No se han registrado niveles de empleado">
                <f:facet name="header">
                    Lista de Niveles Registrados
                </f:facet>
                <p:column >
                    #{nivel.descripcion}
                </p:column>
                <p:column width="5">
                    <p:commandButton icon="ui-icon-pencil" oncomplete="editDialog.show()" update=":editForm" title="Editar">
                        <f:setPropertyActionListener value="#{nivel}" target="#{nivelesController.current}"/>
                    </p:commandButton>
                    <p:commandButton icon="ui-icon-trash" oncomplete="confirmation.show()" update=":confirmDialog" title="Eliminar">
                        <f:setPropertyActionListener value="#{nivel}" target="#{nivelesController.current}"/>
                    </p:commandButton>
                </p:column>
            </p:dataTable>
        </h:form>
        
        <p:dialog   header="Editar nivel" modal="true" widgetVar="editDialog" appendToBody="true" >  
                    <h:form id="editForm">
                        <h:outputText value="Descripción del nivel"/>
                        <p:inputText value="#{nivelesController.current.descripcion}"/>
                         
                        <p:separator/>
                        
                        <p:commandButton ajax="true" id="confirm" update=":lista,:msg" icon="ui-icon-disk" value="Guardar" oncomplete="editDialog.hide()"  
                                         actionListener="#{nivelesController.update()}" />  
                        <p:commandButton id="decline" value="Cancelar" onclick="editDialog.hide()" type="button" />   
                     </h:form>
        </p:dialog>  
        
        <p:dialog id="confirmDialog"  header="Confirmacion de Eliminacion" modal="true" widgetVar="confirmation" appendToBody="true" >  
                    <h:form id="confirmForm">
                        <h:outputText value="Seguro que desea eliminar el nivel #{nivelesController.current.descripcion}"/>
                         
                         <p:separator/>
                        
                        <p:commandButton ajax="true" id="confirm" update=":lista,:msg" value="Si" oncomplete="confirmation.hide()"  
                                         actionListener="#{nivelesController.destroy()}" />  
                        <p:commandButton id="decline" value="No" onclick="confirmation.hide()" type="button" />   
                     </h:form>
        </p:dialog>  
        
    </ui:define>

</ui:composition>
