<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="Ponderaciones"></h:outputText>
        </ui:define>
        <ui:define name="sidebar">
            <ui:include src="/ponderacion/_sideBarPonderacion.xhtml"/>
        </ui:define>
        <ui:define name="headerContent">
             <h5><h:outputText value="Seleccione el plan a ponderar:" /></h5>
             <h:form rendered="#{!planEstrategicoController.listaPlanes.isEmpty()}" id="seleccionar" style="margin-bottom: 0">
                 <p:selectOneMenu  value="#{ponderacionController.planAPonderar}" required="true" requiredMessage="Seleccione el plan para ponderar sus correspondientes criterios">
                     <f:selectItems  value="#{planEstrategicoController.listaPlanes}" var="plan" itemValue="#{plan}" itemLabel="#{plan.descripcion}"/>                        
                     <p:ajax update=":mainForm,:formuPonderacion" listener="#{ponderacionController.agregarListaPonderaciones()}"/>
                 </p:selectOneMenu>
             </h:form>
        </ui:define>
        
        
        <ui:define name="body">
            
            <f:metadata>
                <f:event type="preRenderView" listener="#{ponderacionController.preparar()}"/>
            </f:metadata>
            <h:form  id="mainForm"  rendered="#{!planEstrategicoController.listaPlanes.isEmpty()}">                                    
                <p:tabView  value="#{tiposEmpleadoController.listaTiposEmpleado}" var="tipoE">
                    <p:tab title="#{tipoE.descripcion}">
                        
                        <h:outputText styleClass="alert lead" value="Criterios para el tipo de empleado #{tipoE.descripcion}"/> 
                        <p:commandButton update=":formuPonderacion" oncomplete="dialogPonderar.show()" styleClass="floatRight" value="Ponderar">                                
                                <f:setPropertyActionListener value="#{tipoE}" target="#{ponderacionController.tipoEmpleado}"/>
                                <f:setPropertyActionListener target="#{ponderacionController.ponderacionesComprobadas}" value="#{false}"/>
                        </p:commandButton>
                         <br/>
                         <br/>
                        <p:dataTable id="criterios" var="criterio" value="#{ponderacionController.planAPonderar.criteriosCollection}" editable="true" editMode="cell" >                              
                            <f:facet name="header">  
                                Ponderar Instrumentos de Evaluación según los criterios del plan ... 
                            </f:facet>           
                            <c:set var="criterioXtipoE" value="#{criterio.tipoEmpleado.idTipoempleado == tipoE.idTipoempleado}"/>
                            
                            <p:columnGroup type="header">
                                <p:row>
                                    <p:column>
                                        <f:facet name="header">
                                            Criterio
                                        </f:facet>
                                    </p:column>
                                    
                                    <c:forEach items="#{niveles360Controller.listaNiveles360}" var="nivel">
                                        <p:column>
                                            <f:facet name="header">
                                                #{nivel.descripcion}
                                            </f:facet>
                                        </p:column>
                                    </c:forEach>
                                    
                                </p:row>                                
                            </p:columnGroup>
                            
                            <p:column rendered="#{criterioXtipoE}">
                                <h:outputText value="#{criterio.descripcion}" />
                            </p:column>

                    <c:forEach items="#{niveles360Controller.listaNiveles360}" var="n">                    
                        <c:set var="indice" value="#{ponderacionController.indicesDeLasPonderaciones.get(criterio.idCriterio.toString().concat(n.idNivel360.toString()))}"/>
                        <p:column rendered="#{criterio.tipoEmpleado == tipoE}">                       
                                    <h:outputText value="#{criterio.ponderacionCollection.get(indice).puntaje}"/>                                                             
                        </p:column>
                    </c:forEach>                                                                                   

                        </p:dataTable> 
                    </p:tab>                    
             </p:tabView>                
            </h:form>
            
            
            
            
                                                            
            <p:dialog header="Ponderación de los criterios" closable="false" modal="true" appendToBody="true" id="dialogoPonderar" widgetVar="dialogPonderar" resizable="false">
                <h:form id="formuPonderacion">
                <p:remoteCommand name="guardar" actionListener="#{ponderacionController.ponderarCriterios()}"/>
                <p:growl autoUpdate="true" />               
                <p:dataTable editMode="cell" editable="true" value="#{ponderacionController.planAPonderar.criteriosCollection}" var="criterio">                
                    <p:ajax event="cellEdit" listener="#{ponderacionController.comprobarPonderacion()}" update=":mainForm"/>
                    <p:columnGroup type="header">
                        <p:row>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Criterios"/>
                                </f:facet>
                            </p:column>

                            <c:forEach items="#{niveles360Controller.listaNiveles360}" var="nivel">
                                <p:column headerText="#{nivel.descripcion}"></p:column>
                            </c:forEach>
                        </p:row>
                    </p:columnGroup>

                    <p:column  rendered="#{criterio.tipoEmpleado == ponderacionController.tipoEmpleado}">
                        <h:outputText value="#{criterio.descripcion}"/>
                    </p:column>                                                         
                    <c:forEach items="#{niveles360Controller.listaNiveles360}" var="n">                    
                        <c:set var="indice" value="#{ponderacionController.indicesDeLasPonderaciones.get(criterio.idCriterio.toString().concat(n.idNivel360.toString()))}"/>
                        <p:column  rendered="#{criterio.tipoEmpleado == ponderacionController.tipoEmpleado}">
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{criterio.ponderacionCollection.get(indice).puntaje}"/>
                                </f:facet>
                                <f:facet  name="input">
                                    <p:inputText disabled="#{respuestaPreguntaCerradaController.existeRespuestasAPreguntasPorCriterioyNivel(criterio,n)}" value="#{criterio.ponderacionCollection.get(indice).puntaje}"/>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                    </c:forEach>
                </p:dataTable>
                <p:commandButton actionListener="#{ponderacionController.ponderarCriterios()}"  value="Guardar" update=":mainForm,:formuPonderacion"/>
                <p:commandButton id="btnExit" rendered="#{ponderacionController.ponderacionesComprobadas}" value="Salir" onclick='formuPonderaciones.hide();'></p:commandButton>
            </h:form>
            </p:dialog>
            
            
            <h:form rendered="#{planEstrategicoController.listaPlanes.isEmpty()}">
             <div class="alert alert-danger lead">  <h:outputText value="No hay planes estrategicos. Es necesario crear un plan estratégico con sus criterios para poder ponderarlos." /> </div>
                <p:commandButton action="/planEstrategico/PlanesEstrategicos?faces-redirect=true" value="Ir a sección de planes estrategicos"  />
             </h:form>       
            
        </ui:define>
    </ui:composition>

</html>
