<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:composition template="/template.xhtml">

        <ui:define name="sidebar">
            <ui:include src="/ponderacion/_sideBarPonderacion.xhtml"/>
        </ui:define>
        <ui:define name="headerContent">            
            <h2 class="myLead">Ponderar criterios para el tipo de empleado: #{ponderacionController.tipoEmpleado.descripcion}</h2>
            <p:commandButton styleClass="floatRight"  value="Guardar" type="button" onclick="guardar()"/> 
        </ui:define>
        <ui:define name="body">
                       
        </ui:define>
    </ui:composition>

</html>
