<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="title">
        Gestión de Catálogos
    </ui:define>

    <ui:define name="head">
        
    </ui:define>

    <ui:define name="sidebar">
        
    </ui:define>

    <ui:define name="sidebarbotonImprimir">
        sidebarbotonImprimir
    </ui:define>

    <ui:define name="headerContent">
       A través de esta sección podrá administrar los siguientes catálogos
    </ui:define>

    <ui:define name="body">
        <h:form>
            <div class="container-fluid">
                <div class="row-fluid">
                     <div class="span6">
                         <p:panel >
                             <div class="lead">Centros de Costos</div>
                             <hr/>
                             <p>
                                 Mantenga sincronizada la información de los centros de costos de la institución. 
                             </p>  
                             <br/>
                             <hr/>
                             <h:commandButton styleClass="btn btn-info" value="Gestionar" action="/Catalogos/centroDeCostos/ListaCentroDeCostos?faces-redirect=true"/>
                         </p:panel>
                     </div>
                     <div class="span6">
                          <p:panel  >
                             <div class="lead">Ubicaciones</div>                         
                             <hr/>
                             <p>
                                 Administre las ubicaciones en las cuáles pueden ser situados los trabajadores.  </p>
                             <p> 
                                 Ejemplo: Edificio R - segundo piso
                             </p>
                             <hr/>
                             <h:commandButton styleClass="btn btn-info" value="Gestionar" action="/Catalogos/UbicacionesEmpleado/GestionUbicaciones?faces-redirect=true"/>
                          </p:panel>
                     </div>                 
                 </div>  
                <br/>
                <div class="row-fluid">  
                    <div class="span6">
                        <p:panel>
                             <div class="lead">Tipos de Trabajadores</div>
                             <hr/>
                             <p>
                                 Consulte los tipos de trabajadores participantes del proceso de evaluación
                             </p>
                             <p> 
                                 Académicos, Administrativos, Directivos.
                             </p>
                             <hr/>
                              <h:commandButton styleClass="btn btn-info" value="Gestionar" action="/Catalogos/TiposEmpleado/ListaTiposEmpleado?faces-redirect=true"/>
                          </p:panel>
                     </div>   
                    <div class="span6">
                          <p:panel  >
                             <div class="lead">Niveles de Trabajador</div>
                             <hr/>
                             <p>
                                 Administre los niveles de trabajadores existentes.
                             </p>
                             <p> 
                                 Ejemplos: Alto, Medio, Base.
                             </p>
                             <br/>
                             <hr/>
                             <h:commandButton styleClass="btn btn-info" value="Gestionar" action="/Catalogos/NivelesEmpleado/GestionNiveles?faces-redirect=true"/>
                          </p:panel>
                     </div>
                 </div>  
            </div>
        </h:form>
    </ui:define>

</ui:composition>
