<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <link rel="shortcut icon" href="resources/img/favicon.ico" />
        <title>Error de Autorizacion</title>
        <h:outputStylesheet name="css/style.css"/>
        <h:outputStylesheet name="css/bootstrap.min.css"/>
    </h:head>
    <h:body>
        <div class="alert alert-error">
            <h4>Error de Autenticacion</h4> 
       
            
       <h:panelGroup  >  
            <h:outputText value="Lo sentimos, no se ha podido comprobar sus privilegios dentro del sistema" />
           
        </h:panelGroup>
        
        </div>
        
        <div class="row-fluid" >
            <div class="span6" style="vertical-align: middle; margin-top: 10%">
 
                <h3 style=" text-align: justify;">Si el problema persiste. Favor acudir a Recursos Humanos o ponerse en contacto con el administrador del sistema.</h3>
            </div>
            
            <div class="span6" align="right" >
                <h:graphicImage value="/resources/img/soporte.png" /> 
            </div>         
        
        </div>
    </h:body>
</html>

