<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./template.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="title">
        Bienvenido (a) al Sistema de Evaluación del Desempeño
    </ui:define>

    <ui:define name="sidebar">
              <h:form>         
               <p:menu style="width: 100%">
                <p:submenu label="Ayuda">                           
                    <p:menuitem value="Consultar Manual de Usuario" url="#" />             
                </p:submenu>
             </p:menu>
            </h:form>
    </ui:define>

    <ui:define name="body"> 
      <h:form>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                     <p:panel header="Información rápida"  >         
                        <p:outputPanel id="periodoVigentePanel" rendered="#{periodoController.hayPeriodoVigente}" >
                              <div class="alert alert-block"> 
                                  <p><b>Hay un Periodo Vigente!</b> El periodo #{periodoController.periodoVigente.idPeriodo} ha entrado en vigencia.</p>
                                  <p>
                                      <li>
                                         Las evaluaciones estan habilidadas para los trabajadores (as)
                                      </li>

                                      <li>
                                          Puede dar seguimiento al proceso de evaluación desde el siguiente  <p:commandLink  action="/Reportes/informacionGeneral?faces-redirect=true" value="enlace">
                                                <f:setPropertyActionListener target="#{utilMB.indexMenu}" value="#{8}" />  
                                                <f:setPropertyActionListener target="#{reportesMB.opcion}" value="#{0}"/>
                                          </p:commandLink>
                                      </li>
                                  </p>
                              </div>
                        </p:outputPanel>

                        <p:outputPanel id="panel" rendered="#{homePageController.tiempoRestanteProximoPeriodo > 0}">  
                             <div class="alert alert-info"> 
                              Quedan <b>#{homePageController.tiempoRestanteProximoPeriodo} dias</b>  para el próximo periodo de evaluación
                              </div>
                        </p:outputPanel> 
                        <p:outputPanel rendered="#{!(homePageController.tiempoRestanteProximoPeriodo > 0) and !periodoController.hayPeriodoVigente}">  
                             <div class="alert alert-info"> 
                                 <ul>
                                     <li>No hay periodo de evaluacion vigente</li>
                                     <li>No hay periodos de evaluacion programados</li>
                                 </ul>

                              </div>
                        </p:outputPanel> 
                    </p:panel>                       
                </div>                           
            </div>
            <br/>
            <div class="row-fluid">
                 <div class="span4">
                     <p:panel header="Planes Estratégicos" >
                         <p class="TextoMenuInicio" style="text-align: justify">Gestione planes estratégicos así como criterios y escalas de evaluación asociados a cada plan.</p>
                         <h:commandButton styleClass="btn btn-info" value="Ir a Planes Estratégicos" action="/planEstrategico/PlanesEstrategicos?faces-redirect=true"/>
                     </p:panel>
                 </div>
                 <div class="span4">
                      <p:panel header="Ponderaciones" >
                         <p class="TextoMenuInicio" style="text-align: justify">Pondere criterios de evaluación de cada tipo de trabajador según los niveles de la metodología 360º.</p>
                         <h:commandButton styleClass="btn btn-info" value="Ir a Ponderaciones" action="/ponderacion/ListaPonderaciones?faces-redirect=true">
                             <f:setPropertyActionListener target="#{ponderacionController.planAPonderar}" value="#{planEstrategicoController.lastPlan}"/>
                         </h:commandButton>
                      </p:panel>
                 </div>   
                <div class="span4">
                      <p:panel header="Definición de Instrumentos" >
                         <p class="TextoMenuInicio" style="text-align: justify">Defina los instrumentos de evaluación para cada tipo de trabajador.</p>
                          <h:commandButton styleClass="btn btn-info" value="Ir a Definición de Instrumentos" action="/instrumentos/ListaInstrumentos?faces-redirect=true"/>
                      </p:panel>
                 </div>                  
             </div>  
            <br/>
             <div class="row-fluid">
                 <div class="span4">
                     <p:panel header="Capacitaciones" >
                        <p class="TextoMenuInicio" style="text-align: justify">Administre el catálogo de capacitaciones que los trabajadores pueden recomendar</p>
                        <h:commandButton styleClass="btn btn-info" value="Ir a Capacitaciones" action="/capacitaciones/ListaCapacitaciones?faces-redirect=true"/>
                     </p:panel>
                 </div>
                 <div class="span4">
                      <p:panel header="Periodos de Evaluación" >
                            <p class="TextoMenuInicio" style="text-align: justify">Administre los periodos de evaluación para que habilitar/deshabilitar las evaluaciónes</p>
                            <h:commandButton styleClass="btn btn-info" value="Ir a Periodos de Evaluación" action="/periodo/ListaPeriodos?faces-redirect=true"/>
                      </p:panel>
                 </div>   
                <div class="span4">
                      <p:panel header="Gestión de Trabajadores" >
                        <p class="TextoMenuInicio" style="text-align: justify">Registre nuevos trabajadores o consulte, edite o de de baja los existentes </p>
                        <h:commandButton styleClass="btn btn-info" value="Ir a Gestión de Trabajadores" action="/empleados/ListaEmpleados?faces-redirect=true"/>
                      </p:panel>                       
                 </div> 
             </div>
             <br/>
             <div class="row-fluid">
                 <div class="span4">
                     <p:panel header="Gestión de Usuarios" >
                        <p class="TextoMenuInicio" style="text-align: justify">Administre los usuarios existentes o cree nuevos usuarios para que tengan acceso al sistema. </p>
                        <h:commandButton styleClass="btn btn-info" value="Ir a Gestión de Usuarios" action="/usuarios/ListaUsuarios?faces-redirect=true"/>
                     </p:panel>
                 </div>
                 <div class="span4">
                      <p:panel header="Consulta de Reportes" >
                        <p class="TextoMenuInicio" style="text-align: justify">Consulte reportes del proceso en tiempo real y reportes de resultados finales por cada periodo</p>
                        <h:commandButton styleClass="btn btn-info" value="Ir a Reportes" action="/Reportes/ReportesAdministracion?faces-redirect=true"/>
                      </p:panel>
                 </div>   
                <div class="span4">
                      <p:panel header="Otros Catálogos" >
                        <p class="TextoMenuInicio" style="text-align: justify">Administre catálogos del sistema como centros de costos, ubicaciones, niveles de trabajador, entre otros.</p>
                        <h:commandButton styleClass="btn btn-info" value="Gestionar Catálogos" action="/instrumentos/ListaInstrumentos?faces-redirect=true"/>
                      </p:panel>
                 </div> 
             </div>  
        </div>
        
        <hr/>
      </h:form>
    </ui:define>

</ui:composition>
