<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <h:head>
        <link rel="shortcut icon" href="resources/img/favicon.ico" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Pragma" content="no-cache"/>
        <meta http-equiv="refresh" content="1801"/> 
        <title><h:outputText value="Autenticación de Usuario"/></title>    
        <h:outputStylesheet name="css/bootstrap.min.css"/>
        <f:metadata>
            <f:event type="preRenderView" listener="#{sessionMB.validarUsuarioAutenticado()}"/>
        </f:metadata>
   </h:head>
    <h:body>  
       
        <div class="container-fluid">
            <div class="row-fluid">
                <div class='span2'>
                    <h:graphicImage value="/logo_uca.jpg" class="img-rounded" style="width: 136px;height: 125px;float: left;" />
                </div>
                 <div class='span8'>
                     <center>
                        <h1>Sistema de Evaluación del Desempeño</h1>
                        <div class="alert alert-info">
                           <h4>Bienvenido, para hacer uso de los servicios del sistema debe autenticarse.</h4> 
                        </div>
                     </center>
                 </div>
                 <div class="span2">
                      <h:graphicImage value="/resources/logo_jesuita.png" class="img-rounded" style="width: 160px;height: 120px;float: right;" />
                 </div>
            </div>
    
            <div class="row-fluid">
          <div class="span7" >
              <div class="hero-unit">
                <h1>Iniciar sesión</h1>
                <p>
                    <h:form id="filtroNacionalidad" >
                        <h3>Nacionalidad: </h3>
                        <p:selectOneButton value="#{utilMB.esNica}" >  
                             <f:selectItem itemLabel="Nicaragua" itemValue="#{true}" />  
                             <f:selectItem itemLabel="Otro" itemValue="#{false}" />  
                             <p:ajax update=":mainForm" />
                       </p:selectOneButton>
                    </h:form>

                    <p:panel style=" display: inline-block; float: none;">
            
                        <h:form id="mainForm">
                            <p:messages id="msg"/>
                            <h:panelGrid columns="2"  >
                                <h:outputText value="Cédula "/>
                                <p:inputMask value="#{sessionMB.usuario}"  mask="999-999999-9999a" rendered="#{utilMB.esNica}" />
                                <p:inputText value="#{sessionMB.usuario}" rendered="#{!utilMB.esNica}" />
                                <h:outputText value="Contraseña "/>
                                <p:password value="#{sessionMB.pass}" />
                            <p:commandButton value="Entrar" action="#{sessionMB.login()}" update="msg"/>
                          </h:panelGrid>
                        </h:form>          
                     </p:panel>
                </p>
             </div>
        </div>
                <div class="span5" style="text-align: justify">
            <h2>Instrucciones:</h2>
            <ol>
            <li class="lead">Seleccione su nacionalidad:</li>
            <p>Si selecciona Nicaragua, se activará el formato de cédula nacional. Si selecciona Otro, podrá digitar el número o código de su documento de identidad</p>
            <li class="lead">Escriba su número de cédula:</li>
            <p>Digite su número de cédula sin guiones ni espacios. Las letras mayúsculas o minúsculas son indistintas.</p>
            <li class="lead">Escriba su contraseña:</li>
            <p>Las contraseñas estan definidas por su número de INSS, favor ingresarlo en ese campo</p>
            <li class="lead">De clic en el botón "Entrar" o bien presione ENTER:</li>
            <p class="text-error">En caso que haya un error de autenticación, verifique sus datos e intente nuevamente. 
                Si el problema persiste favor <b>contactar con RRHH</b></p>
            </ol>
            
            <div class='text-right'> 
            <address>
                <strong>Recursos Humanos, UCA.</strong><br />
                Contiguo al BANPRO<br />
                <abbr title="Teléfono">T:</abbr> 2278-3923 <br />
                <abbr title="Extensión">E:</abbr> 1221,1222
            </address>
         </div>
     </div>
    
     </div>
        </div>
    </h:body>

</html>
