<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../WEB-INF/PlantillaEvaluacion.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core">
    


    <ui:define name="title">
        Evaluaciones
    </ui:define>

    <ui:define name="top">
        <h:outputText value="Usted esta evaluando a #{evaluacionController.selected.evaluado.nombre} #{evaluacionController.selected.evaluado.apellido}" />
        <f:metadata>
            <f:event type="preRenderView" listener="#{evaluacionController.preRenderRealizarEvaluacion()}" />
       </f:metadata>
    </ui:define>
    <ui:define name="content">
  
      
    </ui:define>
 
</ui:composition>
