<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    
    <h:head>
        <link rel="shortcut icon" href="resources/img/favicon.ico" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="refresh" content="1801"/> 
        <title> SED360 -  <ui:insert name="title">Nueva Pagina</ui:insert> </title>
        <ui:insert name="head"><link rel="shortcut icon" href="resources/img/favicon.ico" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /></ui:insert>
        <h:outputStylesheet name="css/style.css"/>
        <h:outputStylesheet name="css/bootstrap.min.css"/> 
        <h:outputStylesheet name="css/EstiloDeTablas.css"/>
   </h:head>
    
    <h:body>  
            <f:metadata>
                <f:event type="preRenderView"  listener="#{sessionMB.validarPermisosUsuario()}"/>
            </f:metadata>
        <p:layout fullPage="true" id="paginaPrincipal" >
                <p:layoutUnit position="north"  size="80" resizable="true" >
                    <h:panelGrid columns="2" styleClass="completeWidth noSeleccionable" columnClasses="col80,col20">
                    <h:form id="MenuPrincipal" >                       
                       <p:tabMenu activeIndex="#{utilMB.indexMenu}"  style="width: 100%!important; font-size: 11px;" >                              
                           <p:menuitem styleClass="tabsMenu" value="Inicio" action="/Index?faces-redirect=true" icon="ui-icon-home">
                                        <f:setPropertyActionListener target="#{utilMB.indexMenu}" value="#{0}" />
                               </p:menuitem>
                               <p:menuitem styleClass="tabsMenu" icon="ui-icon-suitcase" value="Planes Estratégicos" action="/planEstrategico/PlanesEstrategicos?faces-redirect=true">
                                    <f:setPropertyActionListener target="#{utilMB.indexMenu}" value="#{1}" />
                                </p:menuitem> 
                                <p:menuitem styleClass="tabsMenu" icon="ui-icon-calculator" value="Ponderaciones" action="/ponderacion/ListaPonderaciones?faces-redirect=true">
                                    <f:setPropertyActionListener target="#{ponderacionController.planAPonderar}" value="#{planEstrategicoController.lastPlan}"/>
                                    <f:setPropertyActionListener target="#{utilMB.indexMenu}" value="#{2}"/>
                                </p:menuitem> 
                                <p:menuitem styleClass="tabsMenu" icon="ui-icon-copy" value="Instrumentos" action="/instrumentos/ListaInstrumentos?faces-redirect=true">
                                    <f:setPropertyActionListener target="#{utilMB.indexMenu}" value="#{3}" />
                                    <f:setPropertyActionListener value="#{planEstrategicoController.lastPlan}" target="#{definicionInstrumentosMB.planADefinir}"/>
                                </p:menuitem>                                                                      
                                <p:menuitem styleClass="tabsMenu" icon="ui-icon-note" value="Capacitaciones" action="/capacitaciones/ListaCapacitaciones?faces-redirect=true">
                                    <f:setPropertyActionListener target="#{utilMB.indexMenu}" value="#{4}" />
                                </p:menuitem>
                                <p:menuitem styleClass="tabsMenu" icon="ui-icon-calendar" value="Periodos" action="/periodo/ListaPeriodos?faces-redirect=true">
                                    <f:setPropertyActionListener target="#{utilMB.indexMenu}" value="#{5}" />
                                </p:menuitem>                                 
                                <p:menuitem styleClass="tabsMenu" icon="ui-icon-wrench" value="Trabajadores" action="/empleados/ListaEmpleados.xhtml?faces-redirect=true">
                                    <f:setPropertyActionListener target="#{utilMB.indexMenu}" value="#{6}" />
                                </p:menuitem>
                                <p:menuitem styleClass="tabsMenu" icon="ui-icon-person" value="Usuarios" action="/usuarios/ListaUsuarios.xhtml?faces-redirect=true">
                                    <f:setPropertyActionListener target="#{utilMB.indexMenu}" value="#{7}" />
                                </p:menuitem>

                                <p:menuitem styleClass="tabsMenu" icon="ui-icon-image" value="Reportes" action="/Reportes/ReportesAdministracion?faces-redirect=true">
                                     <f:setPropertyActionListener target="#{reportesMB.rutaReporte}" value="/WEB-INF/FragmentosReportes/_InicioReporte.xhtml"/>
                                    <f:setPropertyActionListener target="#{utilMB.indexMenu}" value="#{8}" />  
                                    <f:setPropertyActionListener target="#{reportesMB.opcion}" value="#{0}"/>
                                </p:menuitem>
                                                
                                <p:menuitem styleClass="tabsMenu" icon="ui-icon-note" value="Catálogos" action="/Catalogos/GestionCatalogos?faces-redirect=true">
                                    <f:setPropertyActionListener target="#{utilMB.indexMenu}" value="#{9}" /> 
                                </p:menuitem>
                           
                                <p:menuitem styleClass="tabsMenu" value="Evaluar" action="/evaluacion/SeleccionarEvaluacion?faces-redirect=true" rendered="#{periodoController.hayPeriodoVigente and sessionMB.esEmpleado}"> 
                                    <f:setPropertyActionListener target="#{utilMB.indexMenu}" value="#{10}" />
                                </p:menuitem>                             
                            </p:tabMenu>
                        </h:form>
                        <h:panelGroup>
                            <h:form style="text-align: right">
                                    <h:outputText id="nombreUsuario" value="Autenticado(a) como: "/><br/>
                                    <p:menuButton id="btnSalir"  value="#{sessionMB.nombreCorto}" >
                                        <p:menuitem action="#{sessionMB.logout()}" value="Salir" icon="ui-icon-power"/>
                                    </p:menuButton>
                           </h:form>
                        </h:panelGroup>
                   </h:panelGrid>
                </p:layoutUnit>

               
                <p:layoutUnit position="west" size="250" header="SED360" collapsible="true">
                    <div style="width: 95%;height: 70%">
                        <ui:insert name="sidebar">
                            <h:form>
                                <p:menu style="width: 100%">
                                    <p:submenu label="Acciones">
                                        <p:menuitem value="Evaluar" url="./sed360" />
                                        <p:menuitem value="Plan Estratégico" action="./planEstrategico/PlanesEstrategicos?faces-redirect=true" />
                                        <p:menuitem value="Periodo" url="./sed360/periodo/Create2.xhtml" />
                                    </p:submenu>
                                     <p:submenu label="Información">
                                        <p:menuitem value="Acerca de" url="./sed360" />
                                    </p:submenu>
                                </p:menu>
                         </h:form>
                        </ui:insert>
                    </div>
                    <div style="width: 100%;height: 25%; padding-left: 15%">                        
                        <h:panelGrid >
                            <h:outputText  value="Fecha del Servidor: " />
                            <p:clock pattern="dd/MM/yyyy HH:mm" mode="server"/>                             
                        </h:panelGrid> 
                        <br/>
                        <h:panelGrid >
                         <h:outputText  value="Fecha local: "/>                               
                            <p:clock  pattern="dd/MM/yyyy HH:mm"  />
                         </h:panelGrid>
                    </div>
                    <ui:insert name="sidebarbotonImprimir">
                        
                    </ui:insert>
                    
                </p:layoutUnit>

                <p:layoutUnit id="panelcentral"  position="center" style="padding-top: 6px !important">    
                    <p:layout>
                        <p:layoutUnit position="north" styleClass="layoutNorte">
                            <div class="lead" style="margin: 0 auto !important;padding: 0 auto !important;" >   <ui:insert name="title">Titulo</ui:insert> </div>
                           
                            <ui:insert name="headerContent"> </ui:insert>
                        </p:layoutUnit>
                        <p:layoutUnit position="center" styleClass="layoutCentral">
                             <br/>
                             <ui:insert name="body" >Default Body</ui:insert>
                        </p:layoutUnit>
                    </p:layout>
                </p:layoutUnit>
            </p:layout>

        
    </h:body>

</html>
